<section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bi-solutions">
                    <div class="banner-image">
                        <img src="assets/images/services/banners/bi-solutions.jpg">
                    </div>
                </div>
            </div>
        </div>
</section>
<section >
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="bi-solutions-text py-5">
                       <h3 class="text-center">
                            Take The Fast Lane With Rapid Deployment
                       </h3>
                       <p class="text-center">
                            Businesses today need BI tools to measure their industry-specific metrics and KPI’s, and provide on-time, ask-any-question data analysis for any business user to make the best decisions possible. With almost a decade of delivering Business Intelligence (BI) solutions to our customers, we excel at the design and implementation of business intelligence and data warehouse applications. Our attention to these core competencies makes us a compelling option for your next project.
                       </p>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="sss-foot-prints">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                    <div class="col-12 list-points-bi-image p-2 mt-5">
                                           <img src="assets/images/services/bi-solutions/business-Intelligence.jpg" class="">
                                    </div>
                            </div>
                            <div class="col-6">
                                <div class="col-12">
                                        <div class="list-points-main p-2 ml-4">
        
                                            <div class="list-points p-2">
                                                <div class="list-points-div animate-right">
                                                    <span class="list-image-bk list-image-1"> </span>
                                                        <p>
                                                                Enterprise data warehousing
                                                        </p>
                                                   
                                                </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div animate-right">
                                                        <span class="list-image-2 list-image-bk"> </span>
                                                            <p>
                                                                    Application development
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div animate-right">
                                                        <span class="list-image-3 list-image-bk"> </span>
                                                            <p>
                                                                    Architecture and design
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2 ">
                                                    <div class="list-points-div animate-right">
                                                        <span class="list-image-4 list-image-bk"> </span>
                                                            <p> Customised reporting and visualisation
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div animate-right">
                                                        <span class="list-image-5 list-image-bk"> </span>
                                                            <p>
                                                                    Strategy assessment and development
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div animate-right">
                                                        <span class="list-image-6 list-image-bk"> </span>
                                                            <p>Data integration and quality management
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div animate-right">
                                                        <span class="list-image-1 list-image-bk"> </span>
                                                            <p> Master data management
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div animate-right">
                                                        <span class="list-image-2 list-image-bk"> </span>
                                                            <p>Metadata management
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div animate-right">
                                                        <span class="list-image-3 list-image-bk"> </span>
                                                            <p> Project management
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div animate-right">
                                                        <span class="list-image-4 list-image-bk"> </span>
                                                            <p>Web and mobile solutions
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <!-- <div class="list-points p-2">
                                                    <div class="list-points-div">
                                                        <span class="list-image-5 list-image-bk"> </span>
                                                            <p> Dashboard design and development
    
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div">
                                                        <span class="list-image-6 list-image-bk"> </span>
                                                            <p>Data management architecture
                                                            </p>
                                                       
                                                    </div>
                                            </div> -->
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
        <section >
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-9">
                            <div class="bi-solutions-text py-5">
                               <h3 class="text-center">
                                    Empower your Business with SSS Business Intelligence Services
                               </h3>
                               <p class="text-center">
                                    SSS-Trusted World class Business Intelligence Solutions  Provider is ideal for companies and departments in all industries that are looking for a flexible business intelligence solution that’s powerful enough to crunch complex data. SSS’s modular, scalable, standards-based solution architecture provides the flexibility needed to easily deploy in any environment.
                               </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <section >
            <div class="container py-5">
                <div class="row align-items-stretch animate-left" > 
                    <div class="col-6 ">
                        <div class="title-center empower-tool-main-heading">
                                <h5 class="d-flex align-self-center">Business Intelligence Platform</h5>
                        </div>
                           
                    </div>
                    <div class="col-6">
                        <div class="row">
                           <div class="col-2">
                                <div class="img-icon">
                                        <div class="animate-ball">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box">
                                        
                                            <span class=""><i class="fa fa-desktop"></i></span>
                                        </div>
                                    </div>
                           </div>
                           <div class="col-10" >
                              
                            <div class="text-justify empower-tool-text">
                                <span class="rightborder"></span>
                               <p>Provide fast, self-service access to decision-ready business intelligence SSS empowers business users with
                                    anytime anywhere access to key BI insights delivered in context.</p> 
           
                              </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="">
                                    <img class="dots-image" src="assets/images/services/down_dashed_row.png">
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-stretch animate-right" > 
                        <div class="col-6">
                            <div class="row py-3">
                               <div class="col-10 pt-3" > 
                                <div class="text-justify pr-4 empower-tool-text">
                                       <p> Drive better performance with high-impact dashboards and BI applications Promote BI adoption across your
                                            organization with compelling.</p>
                                        
                                  </div>
                                  <span class="leftborder"></span>
                               </div>
                               <div class="col-auto">
                                    <div class="img-icon cleft sec2">
                                            <div class="animate-ball ">
                                                 <div></div>
                                                 <div></div>
                                                 <div></div>
                                            </div>
                                            <div class="icon-box icon-color">
                                                <span class=""><i class="fa fa-building"></i></span>
                                            </div>
                                        </div>
                               </div>
                            </div> 
                        </div>
                        <div class="col-6">
                                <div class="rtitle-center empower-tool-main-heading"><h5>	Dashboard And Applications</h5></div>
                                <div class="row mb-5 pb-5">
                                        <div class="col-12">
                                            <div class="">
                                                <img class="dots-image-left"  src="assets/images/services/down_dashed_row.png">
                    
                                            </div>
                                        </div>
                                </div> 
                        </div>
                    </div>
                    <div class="row align-items-stretch mt-5 animate-left" > 
                        <div class="col-6 ">
                            <div class="title-center empower-tool-main-heading">
                                    <h5 class="d-flex align-self-center">Data Visualization</h5>
                            </div>
                               
                        </div>
                        <div class="col-6">
                            <div class="row">
                               <div class="col-2">
                                    <div class="img-icon">
                                            <div class="animate-ball">
                                                 <div></div>
                                                 <div></div>
                                                 <div></div>
                                            </div>
                                            <div class="icon-box ">
                                                <span class=""><i class="fa fa-mobile text-center pl-2 cfont"></i></span>
                                            </div>
                                        </div>
                               </div>
                               <div class="col-10" >
                                  
                                <div class="text-justify empower-tool-text">
                                    <span class="rightborder"></span>
                                   <p>Use data to tell stories that captivate audiences through data visualization SSS empowers business users to better understand data – so they can turn that data into compelling and engaging stories for specific audiences</p> 
               
                                  </div>
                               </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="">
                                        <img class="dots-image" src="assets/images/services/down_dashed_row.png">
            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-stretch animate-right" > 
                            <div class="col-6">
                                <div class="row py-3">
                                   <div class="col-10 pt-3" > 
                                    <div class="text-justify empower-tool-text pr-4">
                                            <p>Share actionable insights with enhanced business intelligence reporting SSS’s “What if” Analysis methods helps to
                                                    formulate strategies with accurate strategy planning to achieve successful Targets.</p>
                                      </div>
                                      <span class="leftborder"></span>
                                   </div>
                                   <div class="col-auto">
                                        <div class="img-icon cleft sec2">
                                                <div class="animate-ball ">
                                                     <div></div>
                                                     <div></div>
                                                     <div></div>
                                                </div>
                                                <div class="icon-box icon-color">
                                                    <span class=""><i class="fa fa-plug"></i></span>
                                                </div>
                                            </div>
                                   </div>
                                </div> 
                            </div>
                            <div class="col-6">
                                    <div class="rtitle-center empower-tool-main-heading"><h5>Ranking reports And "What If" Analysis      </h5></div>
                                    <div class="row">
                                            <div class="col-12">
                                                <!-- <div class="">
                                                    <img class="dots-image-left"  src="assets/images/services/down_dashed_row.png">
                        
                                                </div> -->
                                            </div>
                                    </div> 
                            </div>
                        </div>
            </div>
    </section>
  
  
    <section class="sss-foot-prints p-5">
        <div class="container  ">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="col-12">
                                <div class="our-service-sec-block px-3">
                                    <h4  class=" px-3 pb-2 pt-3">
                                            Communications</h4>
                                    <p class="px-3  pb-3 ">Refine strategies. Adapt to changing markets. Centralize processes. Increase customer loyalty.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                                <div class="col-12">
                                    <div class="our-service-sec-block px-3">
                                        <h4  class=" px-3 pb-2 pt-3">
                                                Consumer Products</h4>
                                        <p class="px-3  pb-3 ">Analyze trends to capture market share and consumer loyalty.</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-6">
                                <div class="col-12">
                                    <div class="our-service-sec-block px-3">
                                        <h4  class=" px-3 pb-2 pt-3">
                                                Healthcare</h4>
                                        <p class="px-3  pb-3 ">Improve patient outcomes. Increase operational efficiency and profitability.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                    <div class="col-12">
                                        <div class="our-service-sec-block px-3">
                                            <h4  class=" px-3 pb-2 pt-3">
                                                    Financial Services</h4>
                                            <p class="px-3  pb-3 ">Manage risk. Reduce costs. Strengthen customer relationships. Create profitable growth.</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-6">
                                    <div class="col-12">
                                        <div class="our-service-sec-block px-3">
                                            <h4  class=" px-3 pb-2 pt-3">
                                                    Retail</h4>
                                            <p class="px-3  pb-3 ">Maximize resources and profit. Analyze customers, products, and transactions by channel.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                        <div class="col-12">
                                            <div class="our-service-sec-block px-3">
                                                <h4  class=" px-3 pb-2 pt-3">
                                                        Manufacturing</h4>
                                                <p class="px-3  pb-3 ">Operate leaner. Make smarter decisions. Create operational and supply-chain efficiencies.</p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-6">
                                        <div class="col-12">
                                            <div class="our-service-sec-block px-3">
                                                <h4  class=" px-3 pb-2 pt-3">
                                                        Public Sector</h4>
                                                <p class="px-3  pb-3 ">Make the most cost-effective decisions in the most efficient manner.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                            <div class="col-12">
                                                <div class="our-service-sec-block px-3">
                                                    <h4  class=" px-3 pb-2 pt-3">
                                                            Energy & Utilities</h4>
                                                    <p class="px-3  pb-3 ">Create new efficiencies. Improve forecasting accuracy. Track leading indicators. Increase sales. Reduce costs.</p>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    </section>
    <section>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-10 bi-process">
                        <div class="bi-process-image animate-right">
                            <img src="assets/images/services/bi-solutions/bi-process.png">
                        </div>
                    </div>
                </div>
            </div>
    </section>