<section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bi-solutions">
                    <div class="banner-image">
                        <img src="assets/images/services/banners/staffing.jpg">
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="bi-solutions-text py-5">
                       <h3 class="text-center">
                            Staff Augmentation - With our extensive experience
                       </h3>
                       <p class="text-center">
                        Staff Augmentation - With our extensive experience, longevity global market scenario and network of connections we are able to provide a wide variety of need based result-oriented and innovative HR solutions to companies of all sizes.
                        Our unique  Human Resource Solutions  help start-ups to fortune companies build their own HR team, while equipping them with the advice and systems to be successful and grow.
                       </p>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class=" our-service-main-div py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="col-12">
                                <div class="row justify-content-center align-content-center circle_rotate">
                                    <img src="assets/images/services/staffing_service/HR-staffing.png" >
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="col-12">
                                <div class="our-service-sec ">
                                    <h2 class="m-3">HR Staffing</h2>
                                    <!-- <div class="bar position-relative m-3 ">
                                    </div> -->
                                    <p class="m-3">
                                            Attracting high calibre HR professionals who are aligned with your organization’s purpose and values can be a huge challenge. We specialize in providing the right person for the position. We believe thorough screening is important to find the most qualified candidates.
                                    </p>
                                </div>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
</section>
<section class=" py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                            <div class="col-6 ">
                                    <div class="col-12">
                                        <div class="our-service-sec ">
                                            <h2 class="m-3">IT Outsourcing</h2>
                                            <!-- <div class="bar position-relative m-3 ">
                                            </div> -->
                                            <p class="m-3">
                                                    Leave the industry challenge to us. we work with clients to develop unique outsourcing to effectively one or more of your technology needs.
                                            </p>
                                        </div>
                                       
                                    </div>
                                   
                            </div>
                        <div class="col-6">
                            <div class="col-12">
                                <div class="row justify-content-center align-content-center circle_rotate">
                                    <img src="assets/images/services/staffing_service/IT--Outsourcing.png" >
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    
        </div>
    
</section>
<section class=" our-service-main-div py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="col-12">
                                <div class="row justify-content-center align-content-center circle_rotate">
                                    <img src="assets/images/services/staffing_service/Staff-Augmentation.png" >
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="col-12">
                                <div class="our-service-sec ">
                                    <h2 class="m-3">Staff Augmentation</h2>
                                    <!-- <div class="bar position-relative m-3 ">
                                    </div> -->
                                    <p class="m-3">
                                            Our expertise, combined with our HR Solutions, improves your workforce performance, reduces liability and increases profits.
                                    </p>
                                </div>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="big-data-image">
                    <img src="assets/images/services/staffing-services-.png"> 
                </div>
            </div>
        </div>
    </div>
</section>