<section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bi-solutions">
                    <div class="banner-image">
                        <img src="assets/images/services/banners/staffing.jpg">
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="bi-solutions-text py-5">
                       <h3 class="text-center">
                            Bring value to your strategic business with SSS Big Data Delivery Excellence.
                       </h3>
                       <p class="text-center">
                            SSS, A Leader and Frontier in Big Data Innovation provide most rapid, high performing and accurate need based Big Data Analytics solutions to clients all over the World. Our simplified and powerful analyzing modules help to deliver scalable and faster data that boosts the real time performance.
                       </p>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class=" our-service-main-div py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="col-12">
                                <div class="row justify-content-center align-content-center circle_rotate">
                                    <img src="assets/images/image-home.png" >
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="col-12">
                                <div class="our-service-sec ">
                                    <h2 class="m-3">HR Staffing</h2>
                                    <div class="bar position-relative m-3 ">
                                    </div>
                                    <p class="m-3">
                                            Attracting high calibre HR professionals who are aligned with your organization’s purpose and values can be a huge challenge. We specialize in providing the right person for the position. We believe thorough screening is important to find the most qualified candidates.
                                    </p>
                                </div>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
</section>
<section class=" py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                            <div class="col-6 ">
                                    <div class="col-12">
                                        <div class="our-service-sec ">
                                            <h2 class="m-3">IT Outsourcing</h2>
                                            <div class="bar position-relative m-3 ">
                                            </div>
                                            <p class="m-3">
                                                    Leave the industry challenge to us. we work with clients to develop unique outsourcing to effectively one or more of your technology needs.
                                            </p>
                                        </div>
                                       
                                    </div>
                                   
                            </div>
                        <div class="col-6">
                            <div class="col-12">
                                <div class="row justify-content-center align-content-center circle_rotate">
                                    <img src="assets/images/image-home.png" >
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    
        </div>
    
</section>
<section class=" our-service-main-div py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="col-12">
                                <div class="row justify-content-center align-content-center circle_rotate">
                                    <img src="assets/images/image-home.png" >
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="col-12">
                                <div class="our-service-sec ">
                                    <h2 class="m-3">Staff Augmentation</h2>
                                    <div class="bar position-relative m-3 ">
                                    </div>
                                    <p class="m-3">
                                            Our expertise, combined with our HR Solutions, improves your workforce performance, reduces liability and increases profits.
                                    </p>
                                </div>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="big-data-image">
                    <img src="assets/images/services/business-analytics/big-data-image.png"> 
                </div>
            </div>
        </div>
    </div>
</section>