.banner-image {
    width: 100%;
    height: 550px;
    overflow: hidden;
  }
  .banner-image img{
    width: 100%;
      height: auto;
  }
  .bi-solutions{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .bi-solutions-text h3{
    font-size: 45px !important;
    font-weight: 400;
    color: #eb1111f5;
  }
  .bi-solutions-text p{
    font-size: 18px;
    line-height: 30px;
    color: #7a7c7f;
    font-family: "proxima",sans-serif;
  }
  .bi-process-image img{
    width: 100%;
      height: auto;
  }

  .circle_rotate{
    height: 535px;
    position: relative;
}
.circle_rotate::before{
    content: "";
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right: 0;
    position: absolute;
    background-image: url("../../../assets/images/circle-image.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* height: 535px; */
    animation: rotateme 15s infinite;
    animation-timing-function: linear;
}
@keyframes rotateme {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes rotateme {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  .our-service-sec h2{
   
    font-weight: 400;
    color: #eb1111f5;
    font-size: 34px;
  }
  .our-service-sec p{
    font-size: 18px;
    line-height: 30px;
    color: #7a7c7f;
    font-family: "proxima",sans-serif;
  }
  .our-service-sec-block{
    color: #6084a4;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  }
  
  .our-service-sec-block:hover {
    color: #ffffff;
    transition: 0.5s;
    transform: translateY(-10px);
    background: linear-gradient(117deg, #ec1a1a 0%, #5034ebe6 100%);
  }
  .our-service-main-div{
      background-color: #f7fafd;
  }
  .our-service-sec{
    margin-top: 7em;
  }
  .big-data-image img{
    /* width: 60%; */
    display: block;
    margin: auto;
    margin-bottom: 30px;
}