<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 services-banner">
                <div class="banner-image">
                    <img src="assets/images/services/technologies.png" width="100">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="technologies ">
        <div class="container">
                <div class="row ">
                        <div class="col-12 our-service-sec py-5">
                                        <h2 class=" h2 display-5 text-center"> Top Technologies We Work</h2>
                                        <div class="bar position-relative text-center offset-5">
                                        </div>
                        </div>
                </div>
            <div class="row text-center">
            <div class="col-1"></div>
                <div class="col-10">
                    <div class="row ">
                        <div class=" box-shape animate" >
                            <div class="">
                                <div class="image-size">
                                    <img src="assets/images/services/tallend.png" width="100">
                            </div>
                                    <p class="py-2">Bootstrap</p>
                            </div>
                            
                        </div>
                        <div class=" box-shape animate" style=" animation-delay: 0.1s">
                            <div class="image-size">
                                <img src="assets/images/services/tallend.png" width="100">
                        </div>
                                <p class="py-2">Codeigniter</p>
                            </div>
                        <div class=" box-shape animate" style="animation-delay: .2s">
                            <div class="image-size">
                                <img src="assets/images/services/tallend.png" width="100">
                        </div>
                                <p class="py-2">PHP</p>
                        </div>
                        <div class=" box-shape animate" style="animation-delay: .3s">
                            <div class="image-size">
                                <img src="assets/images/services/tallend.png" width="100">
                        </div>
                                <p class="py-2">Mysql</p>
                        </div>
                        <div class=" box-shape animate" style="animation-delay: .4s">
                            <div class="image-size">
                                <img src="assets/images/services/tallend.png" width="100">
                        </div>
                                <p class="py-2">word-press</p>
                        </div>
                        <div class=" box-shape animate" style="animation-delay: .2s">
                            <div class="image-size">
                                <img src="assets/images/services/tallend.png" width="100">
                        </div>
                            <p class="py-2">PHP</p>
                    </div>
                    
                    </div>
                </div>
            </div>
            <div class="row text-center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row ">
                            <div class=" box-shape animate" >
                                <div class="">
                                    <div class="image-size">
                                        <img src="assets/images/services/tallend.png" width="100">
                                </div>
                                        <p class="py-2">Bootstrap</p>
                                </div>
                                
                            </div>
                            <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                <div class="image-size">
                                    <img src="assets/images/services/tallend.png" width="100">
                            </div>
                                    <p class="py-2">Codeigniter</p>
                                </div>
                            <div class=" box-shape animate" style="animation-delay: .2s">
                                <div class="image-size">
                                    <img src="assets/images/services/tallend.png" width="100">
                            </div>
                                    <p class="py-2">PHP</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .3s">
                                <div class="image-size">
                                    <img src="assets/images/services/tallend.png" width="100">
                            </div>
                                    <p class="py-2">Mysql</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .4s">
                                <div class="image-size">
                                    <img src="assets/images/services/tallend.png" width="100">
                            </div>
                                    <p class="py-2">word-press</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .2s">
                                    <div class="image-size">
                                            <img src="assets/images/services/tallend.png" width="100">
                                    </div>
                        </div>
                    
                        </div>
                    </div>
                </div>
    
        </div>
    </section>