<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 services-banner">
                <div class="banner-image">
                    <img src="assets/images/services/services-banner.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 services-banner">
                <div class="banner-image">
                    <img src="assets/images/services/technologies.png" width="100">
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="technologies pb-5 ">
        <div class="container">
                <div class="row ">
                        <div class="col-12 our-service-sec py-5">
                                        <h2 class=" h2 display-5 text-center"> Top Technologies We Work</h2>
                                        <div class="bar position-relative text-center offset-5">
                                        </div>
                        </div>
                </div>
            <div class="row text-center">
            <div class="col-1"></div>
                <div class="col-10">
                        <div class="row ">
                                <div class=" box-shape animate" >
                                    <div class="">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/looker-bi.png" width="100">
                                    </div>
                                            <p class="py-2">Looker BI </p>
                                    </div>
                                    
                                </div>
                                <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/JIRA.png" width="100">
                                </div>
                                        <p class="py-2">JIRA</p>
                                    </div>
                                <div class=" box-shape animate" style="animation-delay: .2s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/power-bi.png" width="100">
                                </div>
                                        <p class="py-2">Power BI</p>
                                </div>
                                <div class=" box-shape animate" style="animation-delay: .3s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/talend.png" width="100">
                                </div>
                                        <p class="py-2">Talend </p>
                                </div>
                                <div class=" box-shape animate" style="animation-delay: .4s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/mysql.png" width="100">
                                </div>
                                        <p class="py-2">MYSQL</p>
                                </div>
                                <div class=" box-shape animate" style="animation-delay: .5s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/angular.png" width="100">
                                </div>
                                    <p class="py-2">Angular</p>
                            </div>
                            
                            </div>
                            <div class="row ">
                                    <div class=" box-shape animate" >
                                        <div class="">
                                            <div class="image-size">
                                                <img src="assets/images/services/tools/SQL_server.png" width="100">
                                        </div>
                                                <p class="py-2">SQL Server</p>
                                        </div>
                                        
                                    </div>
                                    <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/qlik_sense.png" width="100">
                                    </div>
                                            <p class="py-2">Qliksense</p>
                                        </div>
                                    <div class=" box-shape animate" style="animation-delay: .2s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/informatica.png" width="100">
                                    </div>
                                            <p class="py-2">Informatica</p>
                                    </div>
                                    <div class=" box-shape animate" style="animation-delay: .3s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/Php.png" width="100">
                                    </div>
                                            <p class="py-2">PHP</p>
                                    </div>
                                    <div class=" box-shape animate" style="animation-delay: .4s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/tableau.png" width="100">
                                    </div>
                                            <p class="py-2">Tableau</p>
                                    </div>
                                    <div class=" box-shape animate" style="animation-delay: .5s">
                                            <div class="image-size">
                                                <img src="assets/images/services/tools/X_plenty.png" width="100">
                                        </div>
                                                <p class="py-2">X Plenty</p>
                                        </div>
                                   
                            
                                </div>
                    <div class="row ">
                        <div class=" box-shape animate" >
                            <div class="">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/OBIEE.png" width="100">
                            </div>
                                    <p class="py-2">OBIEE</p>
                            </div>
                            
                        </div>
                        <div class=" box-shape animate" style=" animation-delay: 0.1s">
                            <div class="image-size">
                                <img src="assets/images/services/tools/ODA.png" width="100">
                        </div>
                                <p class="py-2">ODA</p>
                            </div>
                        <div class=" box-shape animate" style="animation-delay: .2s">
                            <div class="image-size">
                                <img src="assets/images/services/tools/ODI.png" width="100">
                        </div>
                                <p class="py-2">ODI</p>
                        </div>
                        <div class=" box-shape animate" style="animation-delay: .3s">
                            <div class="image-size">
                                <img src="assets/images/services/tools/AWS.png" width="100">
                        </div>
                                <p class="py-2">AWS</p>
                        </div>
                        <div class=" box-shape animate" style="animation-delay: .4s">
                            <div class="image-size">
                                <img src="assets/images/services/tools/tableau.png" width="100">
                        </div>
                                <p class="py-2">Tableau</p>
                        </div>
                        <div class=" box-shape animate" style="animation-delay: .5s">
                            <div class="image-size">
                                <img src="assets/images/services/tools/AWS-redshift.png" width="100">
                        </div>
                            <p class="py-2">AWS Redshift</p>
                    </div>
                    
                    </div>
                </div>
            </div>
            <div class="row text-center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row ">
                            <div class=" box-shape animate" >
                                <div class="">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/Adobe_Premiere_Pro.png" width="100">
                                </div>
                                        <p class="pt-3">Adobe Premiere Pro</p>
                                </div>
                                
                            </div>
                            <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/Advance-JAVA.png" width="100">
                            </div>
                                    <p class="pt-4">Advance-JAVA</p>
                                </div>
                            <div class=" box-shape animate" style="animation-delay: .2s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/Aftereffects.png" width="100">
                            </div>
                                    <p class="py-2">Aftereffects</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .3s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/AJAX.png" width="100">
                            </div>
                                    <p class="py-2">AJAX</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .4s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/Altryx.png" width="100">
                            </div>
                                    <p class="py-2">Altryx</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .5s">
                                    <div class="image-size">
                                            <img src="assets/images/services/tools/Application-Development.png" width="100">
                                    </div>
                                    <p class="py-2">Application Development</p>
                        </div>
                    
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row ">
                            <div class=" box-shape animate" >
                                <div class="">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/ASP-dot-Net.png" width="100">
                                </div>
                                        <p class="py-2">ASP.Net</p>
                                </div>
                                
                            </div>
                            <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/Azure.png" width="100">
                            </div>
                                    <p class="py-2">Azure</p>
                                </div>
                            <div class=" box-shape animate" style="animation-delay: .2s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/bootstrap.png" width="100">
                            </div>
                                    <p class="py-2">Bootstrap</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .3s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/codeigniter.png" width="100">
                            </div>
                                    <p class="py-2">Codeigniter</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .4s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/confluence.png" width="100">
                            </div>
                                    <p class="py-2">Confluence</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .5s">
                                    <div class="image-size">
                                            <img src="assets/images/services/tools/Coraldraw-X6.png" width="100">
                                    </div>
                                    <p class="py-2">Coraldraw X6</p>
                        </div>
                    
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row ">
                            <div class=" box-shape animate" >
                                <div class="">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/CSS.png" width="100">
                                </div>
                                        <p class="py-2">CSS</p>
                                </div>
                                
                            </div>
                            <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/data-structure.png" width="100">
                            </div>
                                    <p class="py-2">Data Structure</p>
                                </div>
                            <div class=" box-shape animate" style="animation-delay: .2s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/Dot_net.png" width="100">
                            </div>
                                    <p class="py-2">.Net</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .3s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/Google-analytics.png" width="100">
                            </div>
                                    <p class="py-2">Google Analytics</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .4s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/HTML.png" width="100">
                            </div>
                                    <p class="py-2">HTML</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .5s">
                                    <div class="image-size">
                                            <img src="assets/images/services/tools/illustrator.png" width="100">
                                    </div>
                                    <p class="py-2">Illustrator</p>
                        </div>
                    
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row ">
                            <div class=" box-shape animate" >
                                <div class="">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/java.png" width="100">
                                </div>
                                        <p class="py-2">JAVA</p>
                                </div>
                                
                            </div>
                            <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/JavaScript.png" width="100">
                            </div>
                                    <p class="py-2">JavaScript</p>
                                </div>
                            <div class=" box-shape animate" style="animation-delay: .2s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/Jquery.png" width="100">
                            </div>
                                    <p class="py-2">Jquery</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .3s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/MAYA.png" width="100">
                            </div>
                                    <p class="py-2">MAYA</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .4s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/Microsoft-SSIS-SSAS.png" width="100">
                            </div>
                                    <p class="py-2">Microsoft SSIS SSAS</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .5s">
                                    <div class="image-size">
                                            <img src="assets/images/services/tools/Mirth.png" width="100">
                                    </div>
                                    <p class="py-2">Mirth</p>
                        </div>
                    
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row ">
                            <div class=" box-shape animate" >
                                <div class="">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/Multimedia.png" width="100">
                                </div>
                                        <p class="py-2">Multimedia</p>
                                </div>
                                
                            </div>
                            <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/Networking.png" width="100">
                            </div>
                                    <p class="py-2">Networking</p>
                                </div>
                            <div class=" box-shape animate" style="animation-delay: .2s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/Node-API.png" width="100">
                            </div>
                                    <p class="py-2">Node API</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .3s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/Oracle-D2K-PLSQL.png" width="100">
                            </div>
                                    <p class="py-2">Oracle D2K PLSQL</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .4s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/photoshop.png" width="100">
                            </div>
                                    <p class="py-2">Photoshop</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .5s">
                                    <div class="image-size">
                                            <img src="assets/images/services/tools/Powershell-Scripting.png" width="100">
                                    </div>
                                    <p class="py-2">Powershell Scripting</p>
                        </div>
                    
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row ">
                            <div class=" box-shape animate" >
                                <div class="">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/python.png" width="100">
                                </div>
                                        <p class="py-2">Python</p>
                                </div>
                                
                            </div>
                            <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/React-Native.png" width="100">
                            </div>
                                    <p class="py-2">React Native</p>
                                </div>
                            <div class=" box-shape animate" style="animation-delay: .2s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/SEO.png" width="100">
                            </div>
                                    <p class="py-2">SEO</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .3s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/SFTP.png" width="100">
                            </div>
                                    <p class="py-2">SFTP</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .4s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/Snowflake.png" width="100">
                            </div>
                                    <p class="py-2">Snowflake</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .5s">
                                    <div class="image-size">
                                            <img src="assets/images/services/tools/SQL.png" width="100">
                                    </div>
                                    <p class="py-2">SQL</p>
                        </div>
                    
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row ">
                            <div class=" box-shape animate" >
                                <div class="">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/3DS-MAX.png" width="100">
                                </div>
                                        <p class="py-2">3DS MAX</p>
                                </div>
                                
                            </div>
                            <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/teradata.png" width="100">
                            </div>
                                    <p class="py-2">Teradata</p>
                                </div>
                            <div class=" box-shape animate" style="animation-delay: .2s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/UNIX.png" width="100">
                            </div>
                                    <p class="py-2">UNIX</p>
                            </div>
                            <div class=" box-shape animate" style="animation-delay: .3s">
                                <div class="image-size">
                                    <img src="assets/images/services/tools/wordpress.png" width="100">
                            </div>
                                    <p class="py-2">Wordpress</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>