<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <div class="col-12 py-5">
                            <div class="contact-us-content offset-2 mt-5 py-5">
                                <h1 class="mt-5 pt-5 ">Your  Digital<br>
                                    Marketing Solution</h1>
                                <p class="py-3">
                                    Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.leveling customer service .
                                </p>
                                <div class="py-3">
                                    <a href="#" class="btn-style-two py-3">Explore now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 contact-round-image">
                        <div class="col-12">
                            <div class="contact-round-bglayer position-relative">
                                
                            </div>
                            <div class="position-absolute mobile-image-div">
                                <img src="assets/images/contact/mobile.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-section">
        <div class="container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h2 class="text-center  py-5">Keep In Touch</h2>
            </div>
            
            <div class="row clearfix">
                
                <!-- Services Block -->
                <div class="information-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <i class="fa fa-building fa-2x icon-box-1"></i>
                        </div>
                        <h3 class="mt-2"> 
                            Direct Contact</h3>
                        <div class="text">0877-2233733<br>
                            +91 720 721 3437
                            info@sssbi.com
                            frontoffice@sssbi.com</div>
                    </div>
                </div>
                
                <!-- Services Block -->
                <div class="information-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box" >
                        <div class="icon-box">
                            <i class=" fa fa-globe fa-2x icon-box-2 " aria-hidden="true"></i>
                        </div>
                        <h3 class="mt-2">Sales-Marketing
                        </h3>
                        <div class="text"><br>+91 720 720 8385
                                            sales@sssbi.com
                                            marketing@sssbi.com
    
    
                        </div>
                    </div>
                </div>
                
                <!-- Services Block -->
                <div class="information-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box " >
                        <div class="icon-box">
                            <i class="fa fa-thumbs-o-up fa-2x icon-box-3 " aria-hidden="true"></i>
                        </div>
                        <h3 class="mt-2">Contact HR
                        </h3>
                        <div class="text">
                            <br>+91 720 721 3561
    
                                hr@sssbi.com</div><br>
                    </div>
                </div>
                
                <!-- Services Block -->
                <div class="information-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box" >
                        <div class="icon-box">
                            <i class="fa fa-star-half-o fa-2x icon-box-4" aria-hidden="true"></i>
                        </div>
                        <h3 class="mt-2">Contact Staffing
                        </h3>
                        <div class="text"><br>+91 720 721 3562
    
                                staffing@sssbi.com</div>
                                <br>
                    </div>
                </div>
                
            </div>
            
        </div>
</section>
<!-- <section class="d-block">
    <div class="container-fluid">
        <div class="row position-relative">
            <div class="col-12">
               <div class="row contact-us-banner">
                <img class="d-block"  src="assets/images/sample.jpg"  width="100%" alt="Not Found">
               </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section>
    <div class="container-fluid">
         

         
            <div class="team">
             <div class="container">
                <h1 class="text-center">Our Team</h1>
              <div class="row">
               <div class="col-lg-3 col-md-3 col-sm-12 item">
                    <i class="fa fa-building contact-form-icons p-3 m-3" aria-hidden="true"></i>
           
                <div class="des">
                        <span>0877-2233733</span>
                        <p>+91 720 721 3437</p>
                        <span>info@sssbi.com</span>
                        <p>frontoffice@sssbi.com</p>
                 </div>
                <span class=" font-weight-bold h3 item-text">Direct Contact</span>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-12 item">
                <img src="images/team-3.jpg" class="img-fluid" alt="team">
                <div class="des">
                   Chris
                 </div>
                <span class="text-muted">S.enginner</span>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-12 item">
                <img src="images/team-2.jpg" class="img-fluid" alt="team">
                <div class="des">
                  Layla 
                 </div>
                <span class="text-muted">Front End Developer</span>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-12 item">
                <img src="images/team-3.jpg" class="img-fluid" alt="team">
                 <div class="des">
                  J.Jirard
                 </div>
                <span class="text-muted">Team Manger</span>
               </div>
              </div>
             </div>
            </div>
    </div>
</section> -->
<!-- <section class="d-block mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-primary h4 text-center  m-3  font-weight-bold">Find Us</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row ">
                            <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ">
                                    <div class="mb-4 p-3">
                                            <span class="icon-container grad-style-cd-light offset-4 mb-3 ">
                                                    <i class="fa fa-mobile fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                            </span>
                                    </div>
                                    <div>
                                        <h4 class="text-center  mb-3">Email</h4>
                                    </div>
                                    <div>
                                        <p class="text-center">hr@sssbi.com</p>
                                    </div>
                            </div>
                        <div class="col-3  ml-3">
                                sdws
                        
                        </div>
                        <div class="col-3  ml-3">
                                sdws
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section> -->
<!-- <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 contact-us-block-main">
                            <div class="well well-sm contact-us-block"> 
                                    <div class=" p-3 ">
                                            <span class="contact-icon-container grad-style-cd-light  about-icon-1 offset-3 mb-3">
                                                    <i class="fa fa-building fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                            </span>
                                    </div>
                                    <div>
                                        <h4 class="text-center  mb-3">Direct contact</h4>
                                    </div>
                                    <div class="text-center contact-address-text">
                                            <span >0877-2233733</span>
                                            <p>+91 720 721 3437</p>
                                            <span >info@sssbi.com</span>
                                            <p>frontoffice@sssbi.com</p>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4">
                                <div class="well well-sm contact-us-block"> 
                                        <div class=" p-3">
                                                <span class="contact-icon-container grad-style-cd-light contact-icon-2 offset-3 mb-3">
                                                        <i class="fa fa-globe fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                                </span>
                                        </div>
                                        <div>
                                            <h4 class="text-center  mb-3"> Sales & Marketing</h4>
                                        </div>
                                        <div class="text-center contact-address-text">
                                                <span >+91 720 720 8385</span>
                                                <p>sales@sssbi.com</p>
                                                <span >marketing@sssbi.com</span>
                                             
                                        </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4">
                                    <div class="well well-sm contact-us-block"> 
                                            <div class=" p-3">
                                                    <span class="contact-icon-container grad-style-cd-light contact-icon-3 offset-3 mb-3">
                                                            <i class="fa fa-thumbs-o-up fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                                    </span>
                                            </div>
                                            <div class="contact-continer-text">
                                                <h4 class="text-center  mb-3">Contact HR</h4>
                                            </div>
                                            <div class="text-center contact-address-text">
                                                    <span >+91 720 721 3561</span>
                                                    <p>hr@sssbi.com</p>
                                                  
                                            </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                        <div class="well well-sm contact-us-block"> 
                                                <div class=" p-3">
                                                        <span class="contact-icon-container grad-style-cd-light about-icon-4 offset-3 mb-3">
                                                                <i class="fa fa-star-half-o fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                                        </span>
                                                </div>
                                                <div>
                                                    <h4 class="text-center  mb-3">
                                                            Contact Staffing</h4>
                                                </div>
                                                <div class="text-center contact-address-text">
                                                        <span >+91 720 721 3562</span>
                                                        <p>staffing@sssbi.com</p>
                                                </div>
                                        </div>
                                    </div>
                    </div>
                </div>
            </div>
        </div>
</section> -->
<section class="mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row mt-5">
                        <div class="col-6">
                                <h4 class="h4 text-danger text-center display-4 font-weight-bold">Drop Us a Line</h4>
                            <div class="row">
                                <div class="col-7 offset-3">
                                        
                                        <form action="" method="POST">
                                            <div class="form-group">
                                            <label for="recipient-name" class="col-form-label"> Name:</label>
                                            <input type="text" class="contact-form form-control border-bottom border-primary"  id="" name="name">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Email:</label>
                                                <input type="text" class=" contact-form form-control border-bottom border-primary" id="" name="">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Phone Number:</label>
                                                <input type="text" class="contact-form form-control border-bottom border-primary" id="" name="">
                                            </div>
                                            <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Message:</label>
                                                    <input type="text" class=" contact-form form-control border-bottom border-primary" id="" name="">
                                                </div>
                                            <div class="form-group">
                                                    <div class="top-tech-button mt-5">
                                                            <a href="#" class="btn-style-two">Read More<span class="icon flaticon-next-3"></span></a>
                                                            <!-- <input type="submit" class="btn   btn-style-two" name="insert" value="Submit"> -->
                                                    </div>
                                                
                                            </div>
                                        </form>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6 mt-5">
                            <img class="d-block " width="100%" src="assets/images/contact/contact.png"  alt="Not Found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                    <div class="mapouter"><div class="gmap_canvas"><iframe class="google-map-width" id="gmap_canvas" src="https://maps.google.com/maps?q=tirupathi%2C%2318-1-49%20star%20plaza%2Ckt%20road&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div></div>
            </div>
        </div>
    </div>
</section>
