<section class="d-block">
    <div class="container-fluid">
        <div class="row position-relative">
            <div class="col-12">
               <div class="row">
                <img class="d-block"  src="assets/images/ContactUs.jpg"  width="100%" alt="Not Found">
               </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row mt-5">
                    <div class="col-6">
                            <h4 class="h4 text-danger text-center display-4 font-weight-bold">Drop Us a Line</h4>
                        <div class="row">
                            <div class="col-7 offset-2">
                                    
                                    <form action="" method="POST">
                                        <div class="form-group">
                                        <label for="recipient-name" class="col-form-label"> Name:</label>
                                        <input type="text" class="contact-form form-control border-bottom border-primary"  id="" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Email:</label>
                                            <input type="text" class=" contact-form form-control border-bottom border-primary" id="" name="">
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Phone Number:</label>
                                            <input type="text" class="contact-form form-control border-bottom border-primary" id="" name="">
                                        </div>
                                        <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Message:</label>
                                                <input type="text" class=" contact-form form-control border-bottom border-primary" id="" name="">
                                            </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn contact-form-button px-3 text-white" name="insert" value="Submit">
                                        </div>
                                    </form>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-6">
                        <img class="d-block"  src="https://marvelapp.com/static/illustration@2x-85cce263ddf60035c6702cc57dd1fc2a-e91d0.jpg"  width="100%" alt="Not Found">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
            HTML structure:

            <!-- Team section -->
            <div class="team">
             <div class="container">
                <h1 class="text-center">Our Team</h1>
              <div class="row">
               <div class="col-lg-3 col-md-3 col-sm-12 item">
                <img src="images/team-2.jpg" class="img-fluid" alt="team">
                <div class="des">
                  Sara
                 </div>
                <span class="text-muted">Manager</span>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-12 item">
                <img src="images/team-3.jpg" class="img-fluid" alt="team">
                <div class="des">
                   Chris
                 </div>
                <span class="text-muted">S.enginner</span>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-12 item">
                <img src="images/team-2.jpg" class="img-fluid" alt="team">
                <div class="des">
                  Layla 
                 </div>
                <span class="text-muted">Front End Developer</span>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-12 item">
                <img src="images/team-3.jpg" class="img-fluid" alt="team">
                 <div class="des">
                  J.Jirard
                 </div>
                <span class="text-muted">Team Manger</span>
               </div>
              </div>
             </div>
            </div>
    </div>
</section>
<section class="d-block mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-primary h4 text-center  m-3  font-weight-bold">Find Us</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row ">
                            <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ">
                                    <div class="mb-4 p-3">
                                            <span class="icon-container grad-style-cd-light offset-4 mb-3 ">
                                                    <i class="fa fa-mobile fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                            </span>
                                    </div>
                                    <div>
                                        <h4 class="text-center  mb-3">Email</h4>
                                    </div>
                                    <div>
                                        <p class="text-center">hr@sssbi.com</p>
                                    </div>
                            </div>
                        <div class="col-3  ml-3">
                                sdws
                        
                        </div>
                        <div class="col-3  ml-3">
                                sdws
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
