<section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bi-solutions">
                    <div class="banner-image">
                        <img src="assets/images/services/data-science/data-science.jpg">
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="bi-solutions-text py-5">
                       <h3 class="text-center">
                            Bring value to your strategic business with SSS Big Data Delivery Excellence.
                       </h3>
                       <p class="text-center">
                            SSS, A Leader and Frontier in Big Data Innovation provide most rapid, high performing and accurate need based Big Data Analytics solutions to clients all over the World. Our simplified and powerful analyzing modules help to deliver scalable and faster data that boosts the real time performance.
                       </p>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="">
        <div class="container py-5 ">
            <div class="row align-items-stretch animate-left " > 
                <div class="col-6 ">
                    <div class="title-center empower-tool-main-heading">
                            <h5 class="d-flex align-self-center">	
                                    The Land Scape Of Big Data</h5>
                    </div>
                       
                </div>
                <div class="col-6">
                    <div class="row">
                       <div class="col-2">
                            <div class="img-icon">
                                    <div class="animate-ball">
                                         <div></div>
                                         <div></div>
                                         <div></div>
                                    </div>
                                    <div class="icon-box">
                                    
                                        <span class=""><i class="fa fa-desktop"></i></span>
                                    </div>
                                </div>
                       </div>
                       <div class="col-10" >
                          
                        <div class="text-justify empower-tool-text">
                            <span class="rightborder"></span>
                           <p>The Big Data Phenomenon was propelled these days as there is a huge unprecedented volume      of data available
                                for companies who have no legacy infrastructure. This resulted in the early adoption of the latest and emerging line of Technology,</p> 
       
                          </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="">
                                <img class="dots-image" src="assets/images/services/down_dashed_row.png">
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-stretch animate-right" > 
                    <div class="col-6">
                        <div class="row py-3">
                           <div class="col-10 pt-3" > 
                            <div class="text-justify pr-4 empower-tool-text">
                                   <p> SSS Big Data solutions offer meaningful and promising insights that create spark innovations and enhance business
                                        productivity in Cloud environment.</p>
                                    
                              </div>
                              <span class="leftborder"></span>
                           </div>
                           <div class="col-auto">
                                <div class="img-icon cleft sec2">
                                        <div class="animate-ball ">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box icon-color">
                                            <span class=""><i class="fa fa-building"></i></span>
                                        </div>
                                    </div>
                           </div>
                        </div> 
                    </div>
                    <div class="col-6">
                            <div class="rtitle-center empower-tool-main-heading"><h5>		
                                    Big Data Cloud infrastructure
                                </h5></div>
                            <div class="row mb-5 pb-5">
                                    <div class="col-12">
                                        <div class="">
                                            <img class="dots-image-left"  src="assets/images/services/down_dashed_row.png">
                
                                        </div>
                                    </div>
                            </div> 
                    </div>
                </div>
                <div class="row align-items-stretch mt-5 animate-left" > 
                    <div class="col-6 ">
                        <div class="title-center empower-tool-main-heading">
                                <h5 class="d-flex align-self-center">Big Data Goverance</h5>
                        </div>
                           
                    </div>
                    <div class="col-6">
                        <div class="row">
                           <div class="col-2">
                                <div class="img-icon">
                                        <div class="animate-ball">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box ">
                                            <span class=""><i class="fa fa-mobile text-center pl-2 cfont"></i></span>
                                        </div>
                                    </div>
                           </div>
                           <div class="col-10" >
                              
                            <div class="text-justify empower-tool-text">
                                <span class="rightborder"></span>
                               <p>SSS’s rigorous and superior Big Data Governance methods help in maintaining the sensitive, confidential and quality of
                                    big data information for clients across the world.</p> 
           
                              </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="">
                                    <img class="dots-image" src="assets/images/services/down_dashed_row.png">
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-stretch animate-right" > 
                        <div class="col-6">
                            <div class="row py-3">
                               <div class="col-10 pt-3" > 
                                <div class="text-justify empower-tool-text pr-4">
                                        <p>SSS is committed in providing end to end Unique advanced analytics data management solutions to clients across 
                                                the globe. We have experienced team with good hands on expertise in implementing real time standard methodologies.</p>
                                  </div>
                                  <span class="leftborder"></span>
                               </div>
                               <div class="col-auto">
                                    <div class="img-icon cleft sec2">
                                            <div class="animate-ball ">
                                                 <div></div>
                                                 <div></div>
                                                 <div></div>
                                            </div>
                                            <div class="icon-box icon-color">
                                                <span class=""><i class="fa fa-plug"></i></span>
                                            </div>
                                        </div>
                               </div>
                            </div> 
                        </div>
                        <div class="col-6">
                                <div class="rtitle-center empower-tool-main-heading"><h5>	
                                        An End To End Analytics solutions </h5></div>
                                <div class="row">
                                        <div class="col-12">
                                            <!-- <div class="">
                                                <img class="dots-image-left"  src="assets/images/services/down_dashed_row.png">
                    
                                            </div> -->
                                        </div>
                                </div> 
                        </div>
                    </div>
        </div>
</section>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="big-data-image offset-3">
                    <img src="assets/images/services/data-science/data-image1.jpg" > 
                </div>
            </div>
        </div>
    </div>
</section>