<section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bi-solutions">
                    <div class="banner-image">
                        <img src="assets/images/services/data-science/data-science.jpg">
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="bi-solutions-text py-5">
                       <h3 class="text-center">
                            Data Science Consulting
                            <!-- Bring value to your strategic business with SSS Big Data Delivery Excellence. -->
                       </h3>
                       <p class="text-center">
                            Let SSS help you understand the strategic value and application of Predictive Analytics in a business process. Our team of data scientists can help you find the hidden value in your data. They also can help you build out predictive models or machine learning algorithms to drive extreme value. We enable both experimentations and walking the long mile to deploy Data Science @ Scale
                       </p>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="animation-overflow">
        <div class="container py-5 ">
            <div class="row align-items-stretch animate-left " > 
                <div class="col-6 ">
                    <div class="title-center empower-tool-main-heading">
                            <h4 class="d-flex align-self-center">	
                                    Predictive Analytics</h4>
                    </div>
                       
                </div>
                <div class="col-6">
                    <div class="row">
                       <div class="col-2">
                            <div class="img-icon">
                                    <div class="animate-ball">
                                         <div></div>
                                         <div></div>
                                         <div></div>
                                    </div>
                                    <div class="icon-box">
                                    
                                        <span class=""><i class="fa fa-desktop"></i></span>
                                    </div>
                                </div>
                       </div>
                       <div class="col-10" >
                          
                        <div class="text-justify empower-tool-text pt-5">
                            <span class="rightborder"></span>
                           <p>Implemented detection of trends through analyzing data, to more accurately predict future events and outcomes</p> 
       
                          </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pt-3">
                            <div class="">
                                <img class="dots-image" src="assets/images/services/down_dashed_row.png">
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-stretch animate-right" > 
                    <div class="col-6">
                        <div class="row py-3">
                           <div class="col-10 pt-3" > 
                            <div class="text-justify pr-4 empower-tool-text pt-4">
                                   <p> Achieved to Increase the speed or accuracy of an existing algorithm</p>
                                    
                              </div>
                              <span class="leftborder"></span>
                           </div>
                           <div class="col-auto">
                                <div class="img-icon cleft sec2">
                                        <div class="animate-ball ">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box icon-color">
                                            <span class=""><i class="fa fa-building"></i></span>
                                        </div>
                                    </div>
                           </div>
                        </div> 
                    </div>
                    <div class="col-6">
                            <div class="rtitle-center empower-tool-main-heading"><h4>		
                                    Algorithm Optimization
                                </h4></div>
                            <div class="row mb-5 pb-5">
                                    <div class="col-12">
                                        <div class="">
                                            <img class="dots-image-left"  src="assets/images/services/down_dashed_row.png">
                
                                        </div>
                                    </div>
                            </div> 
                    </div>
                </div>
                <div class="row align-items-stretch mt-5 animate-left" > 
                    <div class="col-6 ">
                        <div class="title-center empower-tool-main-heading">
                                <h4 class="d-flex align-self-center">Data Visualization</h4>
                        </div>
                           
                    </div>
                    <div class="col-6">
                        <div class="row">
                           <div class="col-2">
                                <div class="img-icon">
                                        <div class="animate-ball">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box ">
                                            <span class=""><i class="fa fa-mobile text-center pl-2 cfont"></i></span>
                                        </div>
                                    </div>
                           </div>
                           <div class="col-10" >
                              
                            <div class="text-justify empower-tool-text pt-4">
                                <span class="rightborder"></span>
                               <p>Created a series of data science tasks to find the unique qualities or 'highlights' in the data, followed by a design challenge to nicely visualize the data</p> 
           
                              </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="">
                                    
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
        </div>
</section>
<section class="animation-overflow">
    <div class="container">
        <div>
                <div class="row">
                        <div class="bi-solutions-text">
                                <h3 class="text-center">
                                        Our Data Science consulting team has helped customers in Implementing the following use cases
                                </h3>
                             </div>
                </div>
                <div class="row">
                    <div class="col-6">
                            <div class="col-12">
                                    <div class="list-points-main p-2 ml-4">
    
                                        <div class="list-points p-2">
                                            <div class="list-points-div animate-right">
                                                <span class="list-image-bk list-image-1"> </span>
                                                    <p>
                                                            Detection of Parasitic Anomalous Events for a Global Oilfield Tech Services
                                                    </p>
                                               
                                            </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div animate-right">
                                                    <span class="list-image-2 list-image-bk"> </span>
                                                        <p>
                                                                Claims Fraud Analysis for a Healthcare Provider

                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div animate-right">
                                                    <span class="list-image-3 list-image-bk"> </span>
                                                        <p>
                                                                AI Design Services partner for the client - worked on an AI/ML application (package delivery/Theft @ home detection/notification) using deep learning
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                     
                                       
            
                                    </div>
                            </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12">
                                <div class="list-points-main p-2 ml-4">
                                      
                                        <div class="list-points p-2 ">
                                                <div class="list-points-div animate-right">
                                                    <span class="list-image-4 list-image-bk"> </span>
                                                        <p> Conductor Failure Prediction for a large Utility company
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2 ">
                                                <div class="list-points-div animate-right">
                                                    <span class="list-image-5 list-image-bk"> </span>
                                                        <p> Helped organizations with Machine Learning (ML) and Artificial Intelligence (AI) based Data Unification and Data Landscape Simplification
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div animate-right">
                                                    <span class="list-image-6 list-image-bk"> </span>
                                                        <p>
                                                                Revenue Drivers Analytics & Forecasting for a large Retail Bank
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                </div>
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-12">
                            <p>
                                    Our focus is on digital disruption coupled with Artificial Intelligence (AI) and by leveraging Analytics, Machine Learning, Robotic Process Automation (RPA) and AI to transform organizations into a data-driven intelligent enterprise. With deep domain expertise, an ability to co-innovate with flexible experimentation, a deployment model optimized for speed at scale, our AI first solutions help enhance decision making while enabling augmented intelligence and process automation.
                            </p>
                            <div class="list-points p-2 ">
                                    <div class="list-points-div animate-right">
                                        <span class="list-image-1 list-image-bk"> </span>
                                            <p> Leverage data engineering innovation for semantic architecture, knowledge graphs, and deep neural networks to transform your business
                                            </p>
                                       
                                    </div>
                            </div>
                            <div class="list-points p-2 ">
                                    <div class="list-points-div animate-right">
                                        <span class="list-image-2 list-image-bk"> </span>
                                            <p> Consulting across evaluation and AI maturity assessment, Center of Excellence setup, use case discovery, creating a business case and facilitating change management.
                                            </p>
                                       
                                    </div>
                            </div>
                            <div class="list-points p-2 ">
                                    <div class="list-points-div animate-right">
                                        <span class="list-image-3 list-image-bk"> </span>
                                            <p>Enabling Business as well as IT to Rethink processes, co-create innovative solutions, design the AI architecture and strategizing to make the best of Data, and leveraging Cloud
                                            </p>
                                       
                                    </div>
                            </div>
                    </div>
                </div>
                
        </div>

    </div>
</section>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="big-data-image">
                    <img src="assets/images/services/data-science/datascience.png" > 
                </div>
            </div>
        </div>
    </div>
</section>