<section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bi-solutions">
                    <div class="banner-image">
                        <img src="assets/images/services/banners/business-analysis.jpg">
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="bi-solutions-text py-5">
                       <h3 class="text-center">
                            Soothing insight into your business can mean the difference between failure and success
                       </h3>
                       <p class="text-center">
                            SSS Business Analytics services  that gives you smart new ways to see the indications in your data. Do your own visual analysis to find new patterns at a glance. Blend any data with a click, and then share insights as a visual story.
                       </p>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="animate-overflow" >
        <div class="container py-5 ">
            <div class="row align-items-stretch animate-left" > 
                <div class="col-6 ">
                    <div class="title-center empower-tool-main-heading">
                            <h5 class="d-flex align-self-center">	
                           Data Mining</h5>
                    </div>
                       
                </div>
                <div class="col-6">
                    <div class="row">
                       <div class="col-2">
                            <div class="img-icon">
                                    <div class="animate-ball">
                                         <div></div>
                                         <div></div>
                                         <div></div>
                                    </div>
                                    <div class="icon-box">
                                    
                                        <span class=""><i class="fa fa-database"></i></span>
                                    </div>
                                </div>
                       </div>
                       <div class="col-10" >
                          
                        <div class="text-justify empower-tool-text">
                            <span class="rightborder"></span>
                           <p>Exploring data to find new patterns and relationships SSS’ Data Mining services follow standard practices of
                            classification, clustering, regression, pattern recognition,</p> 
       
                          </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="">
                                <img class="dots-image" src="assets/images/services/down_dashed_row.png">
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-stretch animate-right" > 
                    <div class="col-6">
                        <div class="row py-3">
                           <div class="col-10 pt-3" > 
                            <div class="text-justify pr-4 empower-tool-text">
                                   <p>Explaining why a certain result occurred Statistical analysis involves collecting and scrutinizing every data
                                    sample in a set of items from which samples can be drawn.</p>
                                    
                              </div>
                              <span class="leftborder"></span>
                           </div>
                           <div class="col-auto">
                                <div class="img-icon cleft sec2">
                                        <div class="animate-ball ">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box icon-color">
                                            <span class=""><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                           </div>
                        </div> 
                    </div>
                    <div class="col-6">
                            <div class="rtitle-center empower-tool-main-heading"><h5>		
                                   Statistical Quantitative Analysis</h5></div>
                            <div class="row mb-5 pb-5">
                                    <div class="col-12">
                                        <div class="">
                                            <img class="dots-image-left"  src="assets/images/services/down_dashed_row.png">
                
                                        </div>
                                    </div>
                            </div> 
                    </div>
                </div>
                <div class="row align-items-stretch mt-5 animate-left" > 
                    <div class="col-6 ">
                        <div class="title-center empower-tool-main-heading">
                                <h5 class="d-flex align-self-center">Multivariate Testing</h5>
                        </div>
                           
                    </div>
                    <div class="col-6">
                        <div class="row">
                           <div class="col-2">
                                <div class="img-icon">
                                        <div class="animate-ball">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box ">
                                            <span class=""><i class="fa fa-chevron-left text-center cfont"></i></span>
                                        </div>
                                    </div>
                           </div>
                           <div class="col-10" >
                              
                            <div class="text-justify empower-tool-text">
                                <span class="rightborder"></span>
                               <p>Experimenting to test previous decisions The purpose of multivariate testing is to simultaneously gather
                                information about multiple variablesand then conduct an analysis of the data to determine which recipe results in the best performance.</p> 
           
                              </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="">
                                    <img class="dots-image" src="assets/images/services/down_dashed_row.png">
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-stretch animate-right" > 
                        <div class="col-6">
                            <div class="row py-3">
                               <div class="col-10 pt-3" > 
                                <div class="text-justify empower-tool-text pr-4">
                                        <p>Forecasting future results Predictive models and analysis are typically used to forecast future probabilities. Applied to
                                            business.</p>
                                  </div>
                                  <span class="leftborder"></span>
                               </div>
                               <div class="col-auto">
                                    <div class="img-icon cleft sec2">
                                            <div class="animate-ball ">
                                                 <div></div>
                                                 <div></div>
                                                 <div></div>
                                            </div>
                                            <div class="icon-box icon-color">
                                                <span class=""><i class="fa fa-plug"></i></span>
                                            </div>
                                        </div>
                               </div>
                            </div> 
                        </div>
                        <div class="col-6">
                                <div class="rtitle-center empower-tool-main-heading"><h5>Predictive Analytics     </h5></div>
                                <div class="row">
                                        <div class="col-12">
                                            <!-- <div class="">
                                                <img class="dots-image-left"  src="assets/images/services/down_dashed_row.png">
                    
                                            </div> -->
                                        </div>
                                </div> 
                        </div>
                    </div>
        </div>
</section>
<section class="advanced-tech ">
        <div class="container ">
            <div class="row">
                <div class="col-12">
                        <div class="row">
                                <div class="bi-solutions-text py-5">
                                        <h3 class="text-center">
                                                Advanced techniques for next level business growth
                                        </h3>
                                        <p class="text-center">
                                                Business analytics is used to gain insights that inform business decisions and can be used to automate and optimize business processes. Data-driven companies treat their data as a corporate asset and leverage it for competitive advantage. Successful business analytics depends on data quality, skilled analysts who understand the technologies and the business and an organizational commitment to data-driven decision making.
                                        </p>
                                     </div>
                        </div>
                    <div class="row">
                            <div class="bi-solutions-text">
                                    <h3 class="text-center">
                                        Our Key services
                                    </h3>
                                 </div>
                    </div>
                    <div class="row ">
                        <div class="col-6">
                                <div class="col-12">
                                        <div class="list-points-main p-2 ml-4 animate-overflow">
        
                                            <div class="list-points p-2">
                                                <div class="list-points-div ">
                                                    <span class="list-image-bk list-image-1"> </span>
                                                        <p>
                                                                Big data analytics
                                                        </p>
                                                   
                                                </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div ">
                                                        <span class="list-image-2 list-image-bk"> </span>
                                                            <p>
                                                                    Advanced Analytics

                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div">
                                                        <span class="list-image-3 list-image-bk"> </span>
                                                            <p>
                                                                    Data Mining
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2 ">
                                                    <div class="list-points-div ">
                                                        <span class="list-image-4 list-image-bk"> </span>
                                                            <p> Text Mining
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div ">
                                                        <span class="list-image-5 list-image-bk"> </span>
                                                            <p>
                                                                    Complex Event Processing (CEP)
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div ">
                                                        <span class="list-image-6 list-image-bk"> </span>
                                                            <p>Business Process Simulations
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div ">
                                                        <span class="list-image-1 list-image-bk"> </span>
                                                            <p> Real Time Simulation
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div ">
                                                        <span class="list-image-2 list-image-bk"> </span>
                                                            <p>Enterprise Performance Management
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div ">
                                                        <span class="list-image-3 list-image-bk"> </span>
                                                            <p> Machine Learning
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div ">
                                                        <span class="list-image-4 list-image-bk"> </span>
                                                            <p>Data Management
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <!-- <div class="list-points p-2">
                                                    <div class="list-points-div">
                                                        <span class="list-image-5 list-image-bk"> </span>
                                                            <p> Dashboard design and development
    
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div">
                                                        <span class="list-image-6 list-image-bk"> </span>
                                                            <p>Data management architecture
                                                            </p>
                                                       
                                                    </div>
                                            </div> -->
                                        </div>
                                </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12">
                                    <div class="list-points-main p-2 ml-4">
    
                                        <div class="list-points p-2">
                                            <div class="list-points-div ">
                                                <span class="list-image-bk list-image-1"> </span>
                                                    <p>
                                                            Data Acquisition / integration
                                                    </p>
                                               
                                            </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div ">
                                                    <span class="list-image-2 list-image-bk"> </span>
                                                        <p>
                                                                Master Data Management
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div ">
                                                    <span class="list-image-3 list-image-bk"> </span>
                                                        <p>
                                                                Data Storage /operations management
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2 ">
                                                <div class="list-points-div">
                                                    <span class="list-image-4 list-image-bk"> </span>
                                                        <p> Analytic Applications
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div ">
                                                    <span class="list-image-5 list-image-bk"> </span>
                                                        <p>
                                                                Web analytics
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div ">
                                                    <span class="list-image-6 list-image-bk"> </span>
                                                        <p>Data Visualization

                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div ">
                                                    <span class="list-image-1 list-image-bk"> </span>
                                                        <p> Architecture and Tool selection
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div ">
                                                    <span class="list-image-2 list-image-bk"> </span>
                                                        <p>Dashboards, Scorecards
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div ">
                                                    <span class="list-image-3 list-image-bk"> </span>
                                                        <p> Self-service reporting, Analytical reporting,
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div">
                                                    <span class="list-image-4 list-image-bk"> </span>
                                                        <p>Platform upgrade or migration
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <!-- <div class="list-points p-2">
                                                <div class="list-points-div">
                                                    <span class="list-image-5 list-image-bk"> </span>
                                                        <p> Dashboard design and development

                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div">
                                                    <span class="list-image-6 list-image-bk"> </span>
                                                        <p>Data management architecture
                                                        </p>
                                                   
                                                </div>
                                        </div> -->
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="secTech  mt-5">
        <div class="container-fluid our-service-main-div">
            <div class="row mt-5">
                <div class="col-10 top-technology px-5">
                        <h4 class=" h4 display-5 ">Advanced techniques</h4>
                        <div class="bar position-relative">
                        </div>

                    <p class="m-3">This is where you do nothing till everything is perfect. Till you have data on all your customers, till all data sources are in place, till that shiny new Data PoC is complete, till your new team is hired, till..
                            There is only one good time to get more Analytics driven, and that is now. The number of steps to go through and the amount of learning to get through is larger than you can imagine, so 3 months of delay is just that – 3 months of delay.
                    </p> 
                </div>
            </div>

            <div class="row ">
                <div class="col-6">
                    <div class="p-3   top-technology">
                           
                        <div class="top-tech-button mt-2">
                                <div class="list-points-main p-2 ml-4">
    
                                        <div class="list-points p-2">
                                            <div class="list-points-div">
                                                <span class="list-image-bk list-image-1"> </span>
                                                    <p>
                                                            A new database is no reason to wait – analytics usually works on different systems, not off production systems anyway.
                                                    </p>
                                               
                                            </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div ">
                                                    <span class="list-image-2 list-image-bk"> </span>
                                                        <p>
                                                                Lack of customer data capture is no reason either – there’s plenty to be done on billing/ product/ store/ pricing/ promo data till customer data flows in.
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div ">
                                                    <span class="list-image-3 list-image-bk"> </span>
                                                        <p>
                                                                Waiting for your team is a real bad reason – unless analytics is in the DNA of the organization you will need to outsource – not for the arms and legs but for perspective and experience.
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="col-6">
                    <div class="col-12 p-4">
                            <img src="assets/images/services/business-analytics/b-analytics.png">
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="secTech  mt-5">
        <div class="container-fluid our-service-main-div">
            <div class="row mt-5">
                <div class="col-6">
                    <div class="p-3 pt-5  mt-4 top-technology">
                        <h4 class=" h4 display-5 ">
                                Perfection Is A Step Away</h4>
                            <div class="bar position-relative">
                            </div>

                        <p class="m-3">This is where you do nothing till everything is perfect. Till you have data on all your customers, till all data sources are in place, till that shiny new Data PoC is complete, till your new team is hired, till..
                        </p>  
                        <p class="m-3">There is only one good time to get more Analytics driven, and that is now. The number of steps to go through and the amount of learning to get through is larger than you can imagine, so 3 months of delay is just that – 3 months of delay.
                        </p>  
                        <div class="top-tech-button mt-5">
                               
                        </div>
                    </div>
                    
                    
                </div>
                <div class="col-6 mt-5">
                        <div class="list-points-main top-technology p-2 ml-4 mt-4 ">
    
                                <div class="list-points p-2">
                                    <div class="list-points-div ">
                                        <span class="list-image-bk list-image-1"> </span>
                                            <p>
                                                    A new database is no reason to wait – analytics usually works on different systems, not off production systems anyway.
                                            </p>
                                       
                                    </div>
                                </div>
                                <div class="list-points p-2">
                                        <div class="list-points-div">
                                            <span class="list-image-2 list-image-bk"> </span>
                                                <p>
                                                        Lack of customer data capture is no reason either – there’s plenty to be done on billing/ product/ store/ pricing/ promo data till customer data flows in.
                                                </p>
                                           
                                        </div>
                                </div>
                                <div class="list-points p-2">
                                        <div class="list-points-div ">
                                            <span class="list-image-3 list-image-bk"> </span>
                                                <p>
                                                        Waiting for your team is a real bad reason – unless analytics is in the DNA of the organization you will need to outsource – not for the arms and legs but for perspective and experience.
                                                </p>
                                           
                                        </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="iot-image offset-2">
                    <img src="assets/images/services/business-analytics/businessAnalysis.png"> 
                </div>
            </div>
        </div>
    </div>
</section>