<section>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-12 banner-sec">
                    <div class="banner-image">
                        <img src="assets/images/services/banners/it-out-source.jpg" class="position-relative">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 py-5">
                    <h3 class="ctextcolor-sub-headings ">
                            Offshore Services Information</h3>
                            <p class="py-1">
                                    Offshore developing is a great way of Outsourcing Technique and it is the best way to choose a right partner for IT Companies to execute their projects. Companies find it hard to keep a balance between shrinking budgets and increasing project costs.SSS is the best place for Offshore Services with effective project management, Professional Skills, Good Infrastructure, Low Project costs and mainly more resources with deadline compliance that offers to the companies of all sizes at very low cost.In this high competitive world of software development we have already established our competence with a wide range of software skills. We have undertaken many projects for major clients in Europe. Detailed market studies, opportunism and expertise have made us the company of choice for a wide range of business from large to starter companies
                                    
                                    SSS development and support required for strong industry-specific , functional and technical expertise delivered by relatively small but multi-disciplined teams. SSS offers a model that meets cost objectives,offers flexibility of resources and provide a range of specialist skills to meet their specific expectations.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-4 animated-div-overflow">
            <div class="row align-items-stretch animate-left" > 
                <div class="col-6 ">
                    <div class="title-center">
                            <h5 class="d-flex align-self-center ctext-color text-capitalize">	
                                Time & Expenses</h5>
                    </div>      
                </div>
                <div class="col-6">
                    <div class="row">
                       <div class="col-2">
                            <div class="img-icon">
                                    <div class="animate-ball">
                                         <div></div>
                                         <div></div>
                                         <div></div>
                                    </div>
                                    <div class="icon-box">
                                        <span class="">
                                            <i class="fa fa-file-text-o"></i>
                                        </span>
                                    </div>
                                </div>
                       </div>
                       <div class="col-10 mt-4" > 
                        <div class="text-justify">
                            <span class="rightborder"></span>
                          <p>Pay according to actual man-hours used and actual expenses incurred, if any. The scope of the project is usually adjusted along the way.</p>  
       
                          </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <div class="pt-5">
                                <img class="dots-image" src="assets/images/services/down_dashed_row.png">
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-stretch animate-right" > 
                    <div class="col-6">
                        <div class="row py-3">
                           <div class="col-10 pt-3" > 
                            <div class="text-justify pr-4">
                                 <p class="it-source-text">If you can define the solution in detail up front, we can quote a fixed price for your project. The requirements specification must remain frozen throughout the project if you choose this model.</p>   
                                    
                              </div>
                              <span class="leftborder"></span>
                           </div>
                           <div class="col-auto">
                                <div class="img-icon cleft sec2">
                                        <div class="animate-ball ">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box icon-color ">
                                            <span class="icon-box-icon"><i class="fa fa-usd "></i></span>
                                        </div>
                                    </div>
                           </div>
                        </div> 
                    </div>
                    <div class="col-6">
                            <div class="rtitle-center"><h5 class="ctext-color">		
                                   Fixed Cost</h5></div>
                            <div class="row mb-5 pb-5">
                                    <div class="col-12">
                                        <div class="">
                                            <img class="dots-image-left"  src="assets/images/services/down_dashed_row.png">
                
                                        </div>
                                    </div>
                            </div> 
                    </div>
                </div>
                <div class="row align-items-stretch mt-5 animate-left" > 
                    <div class="col-6 ">
                        <div class="title-center">
                                <h5 class="d-flex align-self-center ctext-color text-capitalize">	
                                      Support Package  </h5>
                        </div>
                           
                    </div>
                    <div class="col-6">
                        <div class="row">
                           <div class="col-2">
                                <div class="img-icon">
                                        <div class="animate-ball">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box ">
                                            <span class=""><i class="fa fa-volume-control-phone text-center pl-2 cfont"></i></span>
                                        </div>
                                    </div>
                           </div>
                           <div class="col-10 mt-4" >
                              
                            <div class="text-justify">
                                <span class="rightborder"></span>
                              <p>
                                    Invest in a number of man-hours up front in order to allow us to handle small ad-hoc tasks without the hassle and delays caused by many small invoices and payments.
                              </p> 
           
                              </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-12 ">
                                <div class="pt-5">
                                    <img class="dots-image" src="assets/images/services/down_dashed_row.png">
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-stretch animate-right" > 
                        <div class="col-6">
                            <div class="row py-3">
                               <div class="col-10 pt-3" > 
                                <div class="text-justify pr-4">
                                      <p>Achieve the best results and get the best prices by entering into a long terms agreement for resources that are dedicated to work exclusively on your projects.</p>  
                                  </div>
                                  <span class="leftborder"></span>
                               </div>
                               <div class="col-auto">
                                    <div class="img-icon cleft sec2">
                                            <div class="animate-ball ">
                                                 <div></div>
                                                 <div></div>
                                                 <div></div>
                                            </div>
                                            <div class="icon-box icon-color">
                                                <span class=""><i class="fa fa-users"></i></span>
                                            </div>
                                        </div>
                               </div>
                            </div> 
                        </div>
                        <div class="col-6">
                                <div class="rtitle-center"><h5 class="ctext-color text-capitalize">	
                                        Dedicated Resources</h5></div>
                                <div class="row">
                                        <!-- <div class="col-12">
                                            <div class="">
                                                <img class="dots-image-left"  src="assets/images/services/down_dashed_row.png">
                    
                                            </div>
                                        </div> -->
                                </div> 
                        </div>
                    </div>
        </div>
    </section>
    <section>
            <div class="container">
                <div class="row py-4">
                    <div class="col-12">
                        <div class="big-data-image">
                            <img src="assets/images/services/it-outsource/it-outsource.jpg"> 
                        </div>
                    </div>
                </div>
            </div>
    </section>