<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 success-stories-banner">
                <div class="banner-image">
                    <img src="assets/images/success-stories/success-stories-banner.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container success-sec mt-3">
        <div class="py-3">
            <h1 class="ct-pageHeader text-centerx h2 display-5 success-content-hs text-center">Success Stories</h1>
        <div class="bar position-relative text-center offset-5  ">
        </div>
        </div>
        
        <p class="paddingBottom45 text-center success-content-p py-2 ">
            We work collaboratively with our clients to develop platform that will increase responsiveness, reduce IT costs and workload, improve performance, and drive better decision making across the organization. For example, we worked with a leading Airlines Company which operates scheduled domestic and international passenger services,in developing a centralized data warehouse solution with BI reports at enterprise level…</p>
           
        <div class="ct-tabs-outer js-tabs py-2">
          <div class="row text-center"> 
            <div class="col-md-2 col-sm-2 col-xs-4 animate-left" (click)="succStoriesBox('v_associations')" >
              <div class="item v_associations  tab" data-link="#" data-tab="associations">
                <div class="inner all">
                    <img src="assets/images/success-stories/all.png" class=""> 
                  <!-- <i class="fa fa-book" aria-hidden="true"></i> -->
                </div>
               
               
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 animate-left" (click)="succStoriesBox('v_education')">
              <div class="item v_education tab-2 tab" data-link="#" data-tab="education">
                <div class="inner bi">
                  <!-- <i class="fa fa-coffee" aria-hidden="true"></i> -->
                  <img src="assets/images/success-stories/bi.png" class=""> 
                </div>
                <!-- <h2>BI Solutions</h2> -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 animate-left" (click)="succStoriesBox('v_entertainment')" >
              <div class="item v_entertainment tab-3 tab" data-link="#" data-tab="entertainment" >
                <div class="inner enterprise-it">
                  <!-- <i class="fa fa-diamond" aria-hidden="true"></i> -->
                  <img src="assets/images/success-stories/enterprise-it.png" class=""> 
                </div>
                <!-- <h2>Enterprise IT</h2> -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 animate-left" (click)="succStoriesBox('v_finance')">
              <div class="item v_finance tab-4 tab" data-link="#" data-tab="finance">
                <div class="inner enterprize-mobility">
                  <!-- <i class="fa fa-gamepad" aria-hidden="true"></i> -->
                  <img src="assets/images/success-stories/enterprize-mobility.png" class=""> 
                </div>
                <!-- <h2>Enterprise Mobility</h2> -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4  animate-left" (click)="succStoriesBox('v_government')">
              <div class="item v_government tab-5 tab" data-link="#" data-tab="government">
                <div class="inner tech-consult">
                        <img src="assets/images/success-stories/tech-consult.png" class=""> 
                  <!-- <i class="fa fa-plane" aria-hidden="true"></i> -->
                </div>
                <!-- <h2>Technology Consult</h2> -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 animate-left" (click)="succStoriesBox('v_healthcare')" >
              <div class="item v_healthcare tab-6 tab" data-link="#" data-tab="healthcare">
                <div class="inner web-services">
                        <img src="assets/images/success-stories/web-services.png" class=""> 
                  <!-- <i class="fa fa-motorcycle" aria-hidden="true"></i> -->
                </div>
                <!-- <h2>Web Services</h2> -->
              </div>
            </div>
          </div>
          <!-- / row -->
        </div>
        <!-- / ct-tabs-outer -->
        <div class="ct-tab-container">
          <div class="ct-tab-content v_associations gallery-block compact-gallery animate-right" data-tab="associations" id="books_list" *ngIf="showDivList =='v_associations'">
              <div class="container ">
                  <div class="row no-gutters">
                      <div class="col-md-6 col-lg-3   ">
                        <div class="col-12 ">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/bi-di.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                </div>
                           
                        </div>
                          
                      </div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                          <div class="col-12 ">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/crm.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                </div>
                                </div>    
                          </div>
                      

                      <div class="col-md-6 col-lg-3 zoom-on-hover ">
                          <div class="col-12 ">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/live-stream.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                </div></div>
                      </div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                          <div class="col-12 ">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/obi.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                </div></div></div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                          <div class="col-12 mt-4">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/oma.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                </div></div></div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                          <div class="col-12 mt-4">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/scm.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                </div></div></div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                          <div class="col-12 mt-4">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/biometric.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                </div></div></div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/e-commerce.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/etl.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/financial.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/internal-web.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/upgrade-bi.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/data.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/oracle.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/sap.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/supply-opt.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div>
                               </div>
                      </div>
                  </div>
              </div>
            <!-- <div class="inner">
                <div class="row mt-5"> 
                  <div class="col-12">
                    <div class="row">
                      <div class="col-3">
                        <div class="col-12 ">
                            <img alt="Media Icon" class="img-thumbnail" src="https://www.solodev.com/assets/industries/media-content-tab.jpg" />
                        </div>
                      </div>
                      <div class="col-3">
                          <div class="col-12 ">
                              <img alt="Media Icon" class="img-thumbnail" src="https://www.solodev.com/assets/industries/media-content-tab.jpg" />
                          </div>
                      </div>
                        <div class="col-3">
                            <div class="col-12 ">
                                <img alt="Media Icon" class="img-thumbnail" src="https://www.solodev.com/assets/industries/media-content-tab.jpg" />
                            </div>
                        </div>
                          <div class="col-3">
                              <div class="col-12">
                                  <img alt="Media Icon" class="img-thumbnail" src="https://www.solodev.com/assets/industries/media-content-tab.jpg" />
                              </div>
                          </div>
                    </div>

                  </div>
                </div>
                
            </div> -->
          </div>
          <div class="ct-tab-content v_education  gallery-block compact-gallery animate-left"  data-tab="education"  *ngIf="showDivList =='v_education'">
              <div class="container ">
                  <div class="row no-gutters">
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/financial.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div>
                                  </div>
                      </div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/supply-opt.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                </div>
                            </div>
                      </div>
                    
                  </div>
              </div>
          </div>
          <div class="ct-tab-content v_entertainment  gallery-block compact-gallery animate-right" data-tab="entertainment" *ngIf="showDivList =='v_entertainment'">
              <div class="container ">
                  <div class="row no-gutters">
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/bi-di.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                            <div class="col-12">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/crm.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div>
                             </div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/live-stream.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/obi.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div>
                            </div>
                        </div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/oma.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                </div>
                                 </div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/scm.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/biometric.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/e-commerce.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                     
                  </div>
              </div>
          </div>
          <div class="ct-tab-content v_finance  gallery-block compact-gallery animate-right" data-tab="finance"  *ngIf="showDivList =='v_finance'">
              <div class="container ">
                  <div class="row no-gutters">
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/sap.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more " href="#">read more</a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                    <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/oracle.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                    </div>
                             </div>
                        </div>

                    
                  </div>
              </div>
          </div>
          <div class="ct-tab-content v_government  gallery-block compact-gallery animate-right" data-tab="government"  *ngIf="showDivList =='v_government'">
              <div class="container ">
                  <div class="row no-gutters">
                        <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/biometric.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
          <div class="ct-tab-content v_healthcare  gallery-block compact-gallery animate-right" data-tab="healthcare" *ngIf="showDivList =='v_healthcare'">
              <div class="container ">
                  <div class="row no-gutters">
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12">
                                <div class="box21">
                                    <img class="img-fluid image" src="assets/images/success-stories/live-stream.png">
                                    <div class="box-content">
                                        <h4 class="title">willimson</h4>
                                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                        <a class="read-more " href="#">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/crm.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more" href="#">read more</a>
                                            </div>
                                    </div>
                           </div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/e-commerce.png">
                                            <div class="box-content">
                                                <h4 class="title">willimson</h4>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                                <a class="read-more" href="#">read more</a>
                                            </div>
                                    </div>
                             </div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/internal-web.png">
                                        <div class="box-content">
                                            <h4 class="title">willimson</h4>
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                                            <a class="read-more " href="#">read more</a>
                                        </div>
                                </div>
                           </div>
                        </div>
                    
                  </div>
              </div>
          </div>
        </div>
</section>
    
     
