<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 success-stories-banner">
                <div class="banner-image">
                    <img src="assets/images/success-stories/success-stories-banner.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container success-sec mt-3">
        <div class="py-3">
            <h1 class="ct-pageHeader text-centerx h2 display-5 success-content-hs text-center">Success Stories</h1>
        <div class="bar position-relative text-center offset-5  ">
        </div>
        </div>
        
        <p class="paddingBottom45 text-center success-content-p py-2 ">
            We work collaboratively with our clients to develop platform that will increase responsiveness, reduce IT costs and workload, improve performance, and drive better decision making across the organization. For example, we worked with a leading Airlines Company which operates scheduled domestic and international passenger services,in developing a centralized data warehouse solution with BI reports at enterprise level…</p>
           
        <div class="ct-tabs-outer js-tabs py-2">
          <div class="row text-center"> 
            <div class="col-md-2 col-sm-2 col-xs-4 animate-left" (click)="succStoriesBox('v_associations')" >
              <div class="item v_associations  tab" data-link="#" data-tab="associations">
                <div class="inner all">
                    <img src="assets/images/success-stories/all.png" class=""> 
                  <!-- <i class="fa fa-book" aria-hidden="true"></i> -->
                </div>
               
               
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 animate-left" (click)="succStoriesBox('v_education')">
              <div class="item v_education tab-2 tab" data-link="#" data-tab="education">
                <div class="inner bi">
                  <!-- <i class="fa fa-coffee" aria-hidden="true"></i> -->
                  <img src="assets/images/success-stories/bi.png" class=""> 
                </div>
                <!-- <h2>BI Solutions</h2> -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 animate-left" (click)="succStoriesBox('v_entertainment')" >
              <div class="item v_entertainment tab-3 tab" data-link="#" data-tab="entertainment" >
                <div class="inner enterprise-it">
                  <!-- <i class="fa fa-diamond" aria-hidden="true"></i> -->
                  <img src="assets/images/success-stories/enterprise-it.png" class=""> 
                </div>
                <!-- <h2>Enterprise IT</h2> -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 animate-left" (click)="succStoriesBox('v_finance')">
              <div class="item v_finance tab-4 tab" data-link="#" data-tab="finance">
                <div class="inner enterprize-mobility">
                  <!-- <i class="fa fa-gamepad" aria-hidden="true"></i> -->
                  <img src="assets/images/success-stories/enterprize-mobility.png" class=""> 
                </div>
                <!-- <h2>Enterprise Mobility</h2> -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4  animate-left" (click)="succStoriesBox('v_government')">
              <div class="item v_government tab-5 tab" data-link="#" data-tab="government">
                <div class="inner tech-consult">
                        <img src="assets/images/success-stories/tech-consult.png" class=""> 
                  <!-- <i class="fa fa-plane" aria-hidden="true"></i> -->
                </div>
                <!-- <h2>Technology Consult</h2> -->
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 animate-left" (click)="succStoriesBox('v_healthcare')" >
              <div class="item v_healthcare tab-6 tab" data-link="#" data-tab="healthcare">
                <div class="inner web-services">
                        <img src="assets/images/success-stories/web-services.png" class=""> 
                  <!-- <i class="fa fa-motorcycle" aria-hidden="true"></i> -->
                </div>
                <!-- <h2>Web Services</h2> -->
              </div>
            </div>
          </div>
          <!-- / row -->
        </div>
        <!-- / ct-tabs-outer -->
        <div class="ct-tab-container">
          <div class="ct-tab-content v_associations gallery-block compact-gallery animate-right" data-tab="associations" id="books_list" *ngIf="showDivList =='v_associations'">
              <div class="container ">
                  <div class="row no-gutters">
                      <div class="col-md-6 col-lg-3   ">
                        <div class="col-12 ">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/implementation_of_owdi.jpg">
                                        <div class="box-content">
                                            <h4 class="title">implementation of DWBI</h4>
                                            <p class="description">Airlines which operates scheduled domestic and international passenger services.</p>
                                            <a class="read-more " href="assets/case_studies/IMPLEMENTATION_OF_DWBI1.pdf" target="_blank">Download</a>
                                        </div>
                                </div>
                           
                        </div>
                          
                      </div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                          <div class="col-12 ">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/CRM.jpg">
                                        <div class="box-content">
                                            <h4 class="title">Customer Relation Management</h4>
                                            <p class="description">Admin to analyze  and mange his operations of all his electronic gadget showrooms online or offline. </p>
                                            <a class="read-more " href="assets/case_studies/CUSTOMER_RELATIONSHIP_MANAGEMENT1.pdf" target="_blank">Download</a>
                                        </div>
                                </div>
                                </div>    
                          </div>
                      

                      <div class="col-md-6 col-lg-3 zoom-on-hover ">
                          <div class="col-12 ">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/live-stream.png">
                                        <div class="box-content">
                                            <h4 class="title">LIVE STREAMING PROJECT</h4>
                                            <p class="description"> Which allows the end user to watch the live stream of any event like corporate meetings</p>
                                            <a class="read-more " href="assets/case_studies/LIVE_STREAMING_PROJECT1.pdf" target="_blank">Download</a>
                                        </div>
                                </div></div>
                      </div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                          <div class="col-12 ">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/obi.png">
                                        <div class="box-content">
                                            <h4 class="title">OWB TO INFORMATICA</h4>
                                            <p class="description">The leading service oriented organization approached us for implementation of Fixed Assets Analytics.</p>
                                            <a class="read-more " href="assets/case_studies/LIVE_STREAMING_PROJECT1.pdf" target="_blank">Download</a>
                                        </div>
                                </div></div></div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                          <div class="col-12 mt-4">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/ordeer_management_anylitics.jpg">
                                        <div class="box-content">
                                            <h4 class="title">ORDER MANAGEMENT ANALYTICS</h4>
                                            <p class="description">Order management is the administration of business processes related to orders for services. </p>
                                            <a class="read-more " href="assets/case_studies/Order_Management_Analytics1.pdf" target="_blank">Download</a>
                                        </div>
                                </div></div></div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                          <div class="col-12 mt-4">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/SCM_implementation.png">
                                        <div class="box-content">
                                            <h4 class="title">SCM BI APPS</h4>
                                            <p class="description">The SCM BI Apps was implemented for a leading software development organization. </p>
                                            <a class="read-more " href="assets/case_studies/Supply_chain_optimization_for_a_Hi-Tech_Company1.pdf" target="_blank">Download</a>
                                        </div>
                                </div></div></div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                          <div class="col-12 mt-4">
                                <div class="box21">
                                        <img class="img-fluid image" src="assets/images/success-stories/BIOMETRIC_FINGER PRINT.jpg">
                                        <div class="box-content">
                                            <h4 class="title">BIOMETRIC FINGER PRINT
                                            </h4>
                                            <p class="description">IMP Provides training & counselling to  utilize unlimited power of mind and develop Mid Brain Activation.</p>
                                            <a class="read-more " href="assets/case_studies/Biometric_fingar_print1.pdf" target="_blank">Download</a>
                                        </div>
                                </div></div></div>
                        <div class="col-md-6 col-lg-3 zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/E-Commerce_application.jpg">
                                            <div class="box-content">
                                                <h4 class="title">E-COMMERCE APPLICATION
                                                    </h4>
                                                <p class="description">Application for complete online sale of goods manufactured by India. to develop the Indian market</p>
                                                <a class="read-more " href="assets/case_studies/e-Commerce-Application.pdf" target="_blank">Download</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/migration_of_ OWB_t_ informatica.jpg">
                                            <div class="box-content">
                                                <h4 class="title">ETL CODE</h4>
                                                <p class="description">Leading retail manufacturer has upgraded his ERP Instance and they also want to upgrade their reporting Data base .</p>
                                                <a class="read-more " href="assets/case_studies/Migration_of_ETL_System_from_Oracle_to_Teradata1.pdf" target="_blank">Download</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/FINANCIAL ANALYTICS IMPLEMENTATION.jpg">
                                            <div class="box-content">
                                                <h4 class="title">FINANCIAL ANALYTICS</h4>
                                                <p class="description">Organizations management team for seeking answers  bestows their operational and business decision. </p>
                                                <a class="read-more " href="assets/case_studies/Financial_Analytics_Implementation1.pdf" target="_blank">Download</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/internal portal web application.jpg">
                                            <div class="box-content">
                                                <h4 class="title">INTERNAL PORTAL WEB APPLICATION
                                                </h4>
                                                <p class="description">Web portal for an Educational Organization were we have an instant updates with an admin panel and also user panel.</p>
                                                <a class="read-more " href="assets/case_studies/INTERNAL_PORTAL_WEB_APPLICATION1.pdf" target="_blank">Download</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3 zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/upgradation of bi apps.jpg">
                                            <div class="box-content">
                                                <h4 class="title">BI APPS UPGRADE</h4>
                                                <p class="description">Demantra Demand Management helps maximize the profitability with superior capabilities to better sense.</p>
                                                <a class="read-more " href="assets/case_studies/Migration_of_ETL_System_from_Oracle_to_Teradata1.pdf" target="_blank">Download</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/services in page.jpg">
                                            <div class="box-content">
                                                <h4 class="title">DATA GOVERNANCE</h4>
                                                <p class="description">A number of unused mappings and transformations were making the scheduled data load a bulky process. </p>
                                                <a class="read-more " href="assets/case_studies/Data_Governance_and_Migration1.pdf" target="_blank">Download</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/ORACLE ODI BI APPS IMPLEMENTATION.jpg">
                                            <div class="box-content">
                                                <h4 class="title">ORACLE ODI BI APPS</h4>
                                                <p class="description">This was not a straight forward BI Applications. It included maintenance of structured patch file extraction.</p>
                                                <a class="read-more " href="assets/case_studies/Oracle_ODI_BI_Apps_Implementation1.pdf" target="_blank">Download</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/sap.png">
                                            <div class="box-content">
                                                <h4 class="title">FRAUD INSIGHT-DRIVEN ANALYTICS</h4>
                                                <p class="description">Client constantly searching new ways to improve their fraud detection process and they needed help in restructuring.</p>
                                                <a class="read-more " href="assets/case_studies/Fraud_Insight-driven_analytics1.pdf" target="_blank">Download</a>
                                            </div>
                                    </div></div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/supply-opt.png">
                                            <div class="box-content">
                                                <h4 class="title">SUPPLY CHAIN OPTIMIZATION</h4>
                                                <p class="description">Client had an sorder making process goes to multiple layer and on time reporting is needed to track the orders.</p>
                                                <a class="read-more " href="assets/case_studies/Supply_chain_optimization_for_a_Hi-Tech_Company1.pdf" target="_blank">Download</a>
                                            </div>
                                    </div>
                               </div>
                      </div>
                  </div>
              </div>
            <!-- <div class="inner">
                <div class="row mt-5"> 
                  <div class="col-12">
                    <div class="row">
                      <div class="col-3">
                        <div class="col-12 ">
                            <img alt="Media Icon" class="img-thumbnail" src="https://www.solodev.com/assets/industries/media-content-tab.jpg" />
                        </div>
                      </div>
                      <div class="col-3">
                          <div class="col-12 ">
                              <img alt="Media Icon" class="img-thumbnail" src="https://www.solodev.com/assets/industries/media-content-tab.jpg" />
                          </div>
                      </div>
                        <div class="col-3">
                            <div class="col-12 ">
                                <img alt="Media Icon" class="img-thumbnail" src="https://www.solodev.com/assets/industries/media-content-tab.jpg" />
                            </div>
                        </div>
                          <div class="col-3">
                              <div class="col-12">
                                  <img alt="Media Icon" class="img-thumbnail" src="https://www.solodev.com/assets/industries/media-content-tab.jpg" />
                              </div>
                          </div>
                    </div>

                  </div>
                </div>
                
            </div> -->
          </div>
          <div class="ct-tab-content v_education  gallery-block compact-gallery animate-left"  data-tab="education"  *ngIf="showDivList =='v_education'">
              <div class="container ">
                  <div class="row no-gutters">
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/FINANCIAL ANALYTICS IMPLEMENTATION.jpg">
                                            <div class="box-content">
                                                <h4 class="title">FINANCIAL ANALYTICS</h4>
                                                <p class="description">Organizations management team for seeking answers  bestows their operational and business decision. </p>
                                                <a class="read-more " href="assets/case_studies/Financial_Analytics_Implementation1.pdf" target="_blank">Download</a>
                                            </div>
                                    </div>
                                  </div>
                      </div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                <div class="box21">
                                    <img class="img-fluid image" src="assets/images/success-stories/implementation_of_owdi.jpg">
                                    <div class="box-content">
                                        <h4 class="title">implementation of DWBI</h4>
                                        <p class="description">Airlines which operates scheduled domestic and international passenger services.</p>
                                        <a class="read-more " href="assets/case_studies/IMPLEMENTATION_OF_DWBI1.pdf" target="_blank">Download</a>
                                    </div>
                                </div>
                            </div>
                      </div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                        <div class="col-12 ">
                              <div class="box21">
                                      <img class="img-fluid image" src="assets/images/success-stories/obi.png">
                                      <div class="box-content">
                                          <h4 class="title">OWB TO INFORMATICA</h4>
                                          <p class="description">The leading service oriented organization approached us for implementation of Fixed Assets Analytics.</p>
                                          <a class="read-more " href="assets/case_studies/LIVE_STREAMING_PROJECT1.pdf" target="_blank">Download</a>
                                      </div>
                              </div></div></div>
                              <div class="col-md-6 col-lg-3  zoom-on-hover">
                                <div class="col-12 ">
                                        <div class="box21">
                                                <img class="img-fluid image" src="assets/images/success-stories/sap.png">
                                                <div class="box-content">
                                                    <h4 class="title">FRAUD INSIGHT-DRIVEN ANALYTICS</h4>
                                                    <p class="description">Client constantly searching new ways to improve their fraud detection process and they needed help in restructuring.</p>
                                                    <a class="read-more " href="assets/case_studies/Fraud_Insight-driven_analytics1.pdf" target="_blank">Download</a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                    
                  </div>
              </div>
          </div>
          <div class="ct-tab-content v_entertainment  gallery-block compact-gallery animate-right" data-tab="entertainment" *ngIf="showDivList =='v_entertainment'">
              <div class="container ">
                  <div class="row no-gutters">
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/ordeer_management_anylitics.jpg">
                                            <div class="box-content">
                                                <h4 class="title">ORDER MANAGEMENT ANALYTICS</h4>
                                                <p class="description">Order management is the administration of business processes related to orders for services. </p>
                                                <a class="read-more " href="assets/case_studies/Order_Management_Analytics1.pdf" target="_blank">Download</a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                      <!-- <div class="col-md-6 col-lg-3 zoom-on-hover">
                            <div class="col-12">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/SCM_implementation.png">
                                            <div class="box-content">
                                                <h4 class="title">SCM BI APPS</h4>
                                                <p class="description">The SCM BI Apps was implemented for a leading software development organization. </p>
                                                <a class="read-more " href="assets/case_studies/Supply_chain_optimization_for_a_Hi-Tech_Company1.pdf" target="_blank">Download</a>
                                            </div>
                                    </div>
                             </div></div> -->
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/migration_of_ OWB_t_ informatica.jpg">
                                            <div class="box-content">
                                                <h4 class="title">ETL CODE</h4>
                                                <p class="description">Leading retail manufacturer has upgraded his ERP Instance and they also want to upgrade their reporting Data base .</p>
                                                <a class="read-more " href="assets/case_studies/Migration_of_ETL_System_from_Oracle_to_Teradata1.pdf" target="_blank">Download</a>
                                            </div>
                                    </div>
                            </div>
                        </div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                    <div class="box21">
                                            <img class="img-fluid image" src="assets/images/success-stories/SCM_implementation.png">
                                            <div class="box-content">
                                                <h4 class="title">SCM BI APPS</h4>
                                                <p class="description">The SCM BI Apps was implemented for a leading software development organization. </p>
                                                <a class="read-more " href="assets/case_studies/Supply_chain_optimization_for_a_Hi-Tech_Company1.pdf" target="_blank">Download</a>
                                            </div>
                                    </div>
                            </div>
                        </div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                        <div class="col-12 ">
                            <div class="box21">
                                    <img class="img-fluid image" src="assets/images/success-stories/FINANCIAL ANALYTICS IMPLEMENTATION.jpg">
                                    <div class="box-content">
                                        <h4 class="title">FINANCIAL ANALYTICS</h4>
                                        <p class="description">Organizations management team for seeking answers  bestows their operational and business decision. </p>
                                        <a class="read-more " href="assets/case_studies/Financial_Analytics_Implementation1.pdf" target="_blank">Download</a>
                                    </div>
                            </div>
                          </div>></div>
                      <!-- <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                <div class="box21">
                                    <img class="img-fluid image" src="assets/images/success-stories/SCM_implementation.png">
                                    <div class="box-content">
                                        <h4 class="title">SCM BI APPS</h4>
                                        <p class="description">The SCM BI Apps was implemented for a leading software development organization. </p>
                                        <a class="read-more " href="assets/case_studies/Supply_chain_optimization_for_a_Hi-Tech_Company1.pdf" target="_blank">Download</a>
                                    </div>
                            </div>
                            </div>
                        </div> -->
                        <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 mt-4">
                                <div class="box21">
                                    <img class="img-fluid image" src="assets/images/success-stories/supply-opt.png">
                                    <div class="box-content">
                                        <h4 class="title">SUPPLY CHAIN OPTIMIZATION</h4>
                                        <p class="description">Client had an sorder making process goes to multiple layer and on time reporting is needed to track the orders.</p>
                                        <a class="read-more " href="assets/case_studies/Supply_chain_optimization_for_a_Hi-Tech_Company1.pdf" target="_blank">Download</a>
                                    </div>
                            </div>
                            </div>
                        </div>
                       
                     
                  </div>
              </div>
          </div>
          <div class="ct-tab-content v_finance  gallery-block compact-gallery animate-right" data-tab="finance"  *ngIf="showDivList =='v_finance'">
              <div class="container ">
                  <div class="row no-gutters">
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                <div class="box21">
                                    <img class="img-fluid image" src="assets/images/success-stories/sap.png">
                                    <div class="box-content">
                                        <h4 class="title">FRAUD INSIGHT-DRIVEN ANALYTICS</h4>
                                        <p class="description">Client constantly searching new ways to improve their fraud detection process and they needed help in restructuring.</p>
                                        <a class="read-more " href="assets/case_studies/Fraud_Insight-driven_analytics1.pdf" target="_blank">Download</a>
                                    </div>
                            </div>
                                </div>
                            </div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                <div class="box21">
                                    <img class="img-fluid image" src="assets/images/success-stories/ORACLE ODI BI APPS IMPLEMENTATION.jpg">
                                    <div class="box-content">
                                        <h4 class="title">ORACLE ODI BI APPS</h4>
                                        <p class="description">This was not a straight forward BI Applications. It included maintenance of structured patch file extraction.</p>
                                        <a class="read-more " href="assets/case_studies/Oracle_ODI_BI_Apps_Implementation1.pdf" target="_blank">Download</a>
                                    </div>
                            </div>
                             </div>
                        </div>

                    
                  </div>
              </div>
          </div>
          <div class="ct-tab-content v_government  gallery-block compact-gallery animate-right" data-tab="government"  *ngIf="showDivList =='v_government'">
              <div class="container ">
                  <div class="row no-gutters">
                        <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                <div class="box21">
                                    <img class="img-fluid image" src="assets/images/success-stories/BIOMETRIC_FINGER PRINT.jpg">
                                    <div class="box-content">
                                        <h4 class="title">BIOMETRIC FINGER PRINT
                                        </h4>
                                        <p class="description">IMP Provides training & counselling to  utilize unlimited power of mind and develop Mid Brain Activation.</p>
                                        <a class="read-more " href="assets/case_studies/Biometric_fingar_print1.pdf" target="_blank">Download</a>
                                    </div>
                            </div>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
          <div class="ct-tab-content v_healthcare  gallery-block compact-gallery animate-right" data-tab="healthcare" *ngIf="showDivList =='v_healthcare'">
              <div class="container ">
                  <div class="row no-gutters">
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12">
                                <div class="box21">
                                    <img class="img-fluid image" src="assets/images/success-stories/live-stream.png">
                                    <div class="box-content">
                                        <h4 class="title">LIVE STREAMING PROJECT</h4>
                                        <p class="description"> Which allows the end user to watch the live stream of any event like corporate meetings</p>
                                        <a class="read-more " href="assets/case_studies/LIVE_STREAMING_PROJECT1.pdf" target="_blank">Download</a>
                                    </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                <div class="box21">
                                    <img class="img-fluid image" src="assets/images/success-stories/CRM.jpg">
                                    <div class="box-content">
                                        <h4 class="title">Customer Relation Management</h4>
                                        <p class="description">Admin to analyze  and mange his operations of all his electronic gadget showrooms online or offline. </p>
                                        <a class="read-more " href="assets/case_studies/CUSTOMER_RELATIONSHIP_MANAGEMENT1.pdf" target="_blank">Download</a>
                                    </div>
                            </div>
                           </div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                <div class="box21">
                                    <img class="img-fluid image" src="assets/images/success-stories/E-Commerce_application.jpg">
                                    <div class="box-content">
                                        <h4 class="title">E-COMMERCE APPLICATION
                                            </h4>
                                        <p class="description">Application for complete online sale of goods manufactured by India. to develop the Indian market</p>
                                        <a class="read-more " href="assets/case_studies/e-Commerce-Application.pdf" target="_blank">Download</a>
                                    </div>
                            </div>
                             </div></div>
                      <div class="col-md-6 col-lg-3  zoom-on-hover">
                            <div class="col-12 ">
                                <div class="box21">
                                    <img class="img-fluid image" src="assets/images/success-stories/internal portal web application.jpg">
                                    <div class="box-content">
                                        <h4 class="title">INTERNAL PORTAL WEB APPLICATION
                                        </h4>
                                        <p class="description">Web portal for an Educational Organization were we have an instant updates with an admin panel and also user panel.</p>
                                        <a class="read-more " href="assets/case_studies/INTERNAL_PORTAL_WEB_APPLICATION1.pdf" target="_blank">Download</a>
                                    </div>
                            </div>
                           </div>
                        </div>
                    
                  </div>
              </div>
          </div>
        </div>
</section>
    
     
