.img-icon{
    position: absolute;
    left: -80px;
    top: 0;
    width: 130px;
    height: 130px;
}
.web-text h3{
    color: #102d88f2 !important;
    font-size: 32px !important;
    
  }
  .web-text h4{
    
    color: #ff1f1f !important;
    font-size:  32px !important;
  }
  p{
    color: #7a7c7f;
    font-family: "proxima",sans-serif;
  }
  .web-text p{

    font-size: 18px;
    line-height: 30px;

    color: #7a7c7f;
    font-family: "proxima",sans-serif;
  }
.ctext-color{
    color:#ff1f1f;
}
.icon-box{
    
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;
    border-radius: 50%;
    background: #07f;
    background: -webkit-linear-gradient(left, #07f 0, #80ceff 100%);
    background: linear-gradient(to right, #07f 0, #80ceff 100%);
    box-shadow: 0 9px 29px 0 rgba(60, 159, 255, .25);
}
.icon-color{
    /* background: linear-gradient(to bottom, #8a3fff 0, #8590ff 100%); */
    background: linear-gradient(to bottom, #ffc000 0, #ff7247 100%);
    box-shadow: 0 9px 29px 0 rgba(255, 129, 58, .25);
}
.icon-box span{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
}
i{
    font-size: 31px;
    position: relative;
    text-align: center;
    left: 8px;
    top: 11px;
    color: white;
}
.cfont{
    font-size: 48px;
    top: 2px;
}
.animate-right i{
    font-size: 31px;
    position: relative;
    text-align: center;
    left: 13px;
    top: 11px;
    color: white;
}
.sec2 .animate-ball>div{
    border: 1px solid #ffc000;
}
.animate-ball>div {
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 1px solid #99d1ff;
    -webkit-animation: animate-ball 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
    animation: animate-ball 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8)
}
.dots-image{
    position: relative;
    left: -30px;
    height: 138px;
    width: 1px;
    top: 5px;
}
.dots-image-left{
    position: relative;
    height: 138px;
    width: 1px;
    top: 128px;
    right: 29px;
}
.rightborder{
    position: absolute;
    left: -20px;
    top: 12px;
    bottom: 8px;
    width: 2px;
    background-color: #3fa1ff;
}
.leftborder{
    position: absolute;
    right: 10px;
    left: auto;
    top: 23px;
    bottom: 8px;
    width: 2px;
    background-color: #ff7247;
}
.cleft{
    left: 14px;
  
}
.title-center{
    top: 52px;
    left: 40px;
    position: relative;
}
.rtitle-center{
    top: 65px;
    left: 140px;
    position: relative;
}
.icon-box span{
    /* background-image: url("../../assets/images/basketsnodejs_icons_.png"); */
    background-size: 50px 300px;
    background-position: 0 -202px;

}
.animate-left{
    position:relative;
    animation:animate-left 1.5s ease-in ;  
}
.animate-right{
    position:relative;
    animation:animate-right 1.5s ease ;  
}
@keyframes animate-right{
    
    from{right:-300px;opacity:0} to{right:0;opacity:1}

}
@keyframes animate-left{
    
    from{left:-300px;opacity:0} to{left:0;opacity:1}

}
.animate-ball>div:nth-child(0) {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

.animate-ball>div:nth-child(1) {
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s
}

.animate-ball>div:nth-child(2) {
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s
}

.animate-ball>div:nth-child(3) {
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s
}

@-webkit-keyframes animate-ball {
    0% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: 1
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .7
    }
    100% {
        opacity: 0
    }
}

@keyframes animate-ball {
    0% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: 1
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .7
    }
    100% {
        opacity: 0
    }
}
/* BANNER SEC */
.banner-image {
  width: 100%;
  height: 550px;
  overflow: hidden;
}
.banner-image img{
  width: 100%;
  height: auto;
}
.banner-sec{
    padding-left: 0px!important;
    padding-right: 0px!important;
    }
/*  */
.all img{
    height: 120px;
    position: relative;
    width: 79px;
    top: -5px;
  }
  .all{
      background-image: url("../../../assets/images/success-stories/all_bottom.png");
      background-size: 0px 0px;
      background-position: top center;
      background-repeat: no-repeat;
      transition: 0.8s ;
      transition-timing-function: cubic-bezier(0.42,0,0.58,1);
  }
  .all:hover{
    background-size: 76% 157px;
  }
  .branding img{
    height: 120px;
    position: relative;
    width: 79px;
    top: -5px;
  }
  .branding{
    background-image: url("../../../assets/images/services/web/Branding_bottom.png");
    background-size: 0px 0px;
    background-position: top center;
    background-repeat: no-repeat;
    transition: 0.8s ;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
  }
  .branding:hover{
  background-size: 76% 157px;
  }
  .dm img{
    height: 120px;
    position: relative;
    width: 79px;
    top: -5px;
  }
  .dm{
    background-image: url("../../../assets/images/services/web/Digital_marketing-bottom.png");
    background-size: 0px 0px;
    background-position: top center;
    background-repeat: no-repeat;
    transition: 0.8s ;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
  }
  .dm:hover{
  background-size: 76% 157px;
  }
  .mobile-app img{
    height: 120px;
    position: relative;
    width: 79px;
    top: -5px;
  }
  .mobile-app{
    background-image: url("../../../assets/images/services/web/mobile_app_bottom.png");
    background-size: 0px 0px;
    background-position: top center;
    background-repeat: no-repeat;
    transition: 0.8s ;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
  }
  .mobile-app:hover{
  background-size: 76% 157px;
  }
  .webdevelopment img{
    height: 120px;
    position: relative;
    width: 79px;
    top: -5px;
  }
  .webdevelopment{
    background-image: url("../../../assets/images/services/web/webdevelopment._bottom.png");
    background-size: 0px 0px;
    background-position: top center;
    background-repeat: no-repeat;
    transition: 0.8s ;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
  }
  .webdevelopment:hover{
  background-size: 76% 157px;
  }
  .web-services img{
    height: 120px;
    position: relative;
    width: 79px;
    top: -5px;
  }
  .web-services{
    background-image: url("../../../assets/images/success-stories/web-services-bottom.png");
    background-size: 0px 0px;
    background-position: top center;
    background-repeat: no-repeat;
    transition: 0.8s ;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
  }
  .web-services:hover{
  background-size: 76% 157px;
  }
  .success-sec h1{
      color:red;
  }
  .success-sec p{
      color: #9d9d9d;
  }
  .tab{
      padding: 25px;
      color: white;
      border-radius: 50%;
     
  }
  
  .tab h2{
      font-size: 15px!important;
  }
  .gallery-item{
      border: 2px solid #2d1d76bf;
      border-radius: 5%;
  }
  .gallery-block{
      padding-bottom: 60px;
      padding-top: 60px;
    }
    
    .gallery-block .heading{
        margin-bottom: 50px;
        text-align: center;
    }
    
    .gallery-block .heading h2{
        font-weight: bold;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    
    .gallery-block.compact-gallery .item{
      overflow: hidden;
      margin-bottom: 0;

      opacity: 1;
      position: relative;
    }
    
    .gallery-block.compact-gallery .item .image{
      transition: 0.8s ease;
    }
    
    .gallery-block.compact-gallery .item .info{
      position: relative;
        display: inline-block;
    }
    
    .gallery-block.compact-gallery .item .description{
      display: grid;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        padding: 10px;
        font-size: 17px;
        line-height: 18px;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 15px;
        opacity: 1;
        color: #fff;
        transition: 0.8s ease;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to bottom, transparent, rgba(35, 13, 103, 0.72));
    }
    
    .gallery-block.compact-gallery .item .description .description-heading{
      font-size: 1em;
      font-weight: bold;
    }
    
    .gallery-block.compact-gallery .item .description .description-body{
      font-size: 0.8em;
      margin-top: 10px;
      font-weight: 300;
    }
    
    @media (min-width: 576px) {
    
      .gallery-block.compact-gallery .item .description {
        opacity: 0; 
      }
    
      .gallery-block.compact-gallery .item a:hover .description {
        opacity: 1; 
      } 
    
      .gallery-block .zoom-on-hover:hover .image {
        transform: scale(1.3);
        opacity: 0.7; 
      }
    }
    .lightbox img{
      background: antiquewhite;
    }
   
  /********************** Demo - 21 ******************/
  .box21{
    overflow: hidden;
  }
  .box21{
    text-align:center;position:relative
  }
  .box21:after{
    content:"";width:1px;height:1px;border-radius:50%;background:rgba(0,0,0,.35);position:absolute;top:50%;left:50%;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0)
  }
  .box21:hover:after{
    -webkit-transform:scale(400);-moz-transform:scale(400);-ms-transform:scale(400);-o-transform:scale(400);transform:scale(400)
  }
  .box21:before{
    -o-transition:all .5s linear .3s;-moz-transition:all .5s linear .3s;-ms-transition:all .5s linear .3s;-webkit-transition:all .5s linear .3s;transition:all .5s linear .3s
  }
  .box21:hover:before{
    -moz-transition-delay:0s;-webkit-transition-delay:0s;-o-transition-delay:0s;-ms-transition-delay:0s;transition-delay:0s
  }
  /* .box21:after{
    -o-transition:all .5s linear .6s;-moz-transition:all .5s linear .6s;-ms-transition:all .5s linear .6s;-webkit-transition:all .5s linear .6s;transition:all .5s linear .6s
  }
  .box21:hover:after{
    -moz-transition-delay:.2s;-webkit-transition-delay:.2s;-o-transition-delay:.2s;-ms-transition-delay:.2s;transition-delay:.2s
  } */
  .box21 img{
    width:100%;height:auto
  }
  .box21 .box-content{
    width:100%;height:100%;position:absolute;top:0;left:0;background:0 0;color:#fff;padding-top:25px;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-ms-transition:all .3s linear 0s;-o-transition:all .3s linear 0s;-webkit-transition:all .3s linear 0s;-moz-transition:all .3s linear 0s;transition:all .3s linear 0s;z-index:1
  }
  .box21:hover .box-content{
    -webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-moz-transition-delay:.4s;-webkit-transition-delay:.4s;-o-transition-delay:.4s;-ms-transition-delay:.4s;transition-delay:.4s
  }
  .box21 .title{
    font-size:21px;font-weight:700;text-transform:uppercase;border-bottom:1px solid #fff;padding-bottom:20px;margin-top:20px
  }
  .box21 .description{
    font-size:14px;font-style:italic;padding:0 10px;margin:15px 0
  }
  .box21 .read-more{
    display:block;width:120px; background: linear-gradient(135deg, #ec1a1a 0%, #203f99f5 100%);border-radius:5px;font-size:14px;color:#fff;text-transform:capitalize;padding:10px 0;margin:0 auto
  }
  @media only screen and (max-width:990px){.box21{margin-bottom:30px}
  }
  @media only screen and (max-width:479px){.box21 .box-content{padding-top:0}
  }
  @media only screen and (max-width:359px){.box21 .title{padding-bottom:10px}
  }
  .box21{
    border: 2px solid #1f3c98;
    border-radius: 10px;
  }
  .box21 .description {
    color: #fff;
  }