<section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bi-solutions">
                    <div class="banner-image">
                        <img src="assets/images/services/banners/Iot.jpg">
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="bi-solutions-text py-5">
                       <h3 class="text-center">
                            Bring value to your strategic business with SSS Big Data Delivery Excellence.
                       </h3>
                       <p class="text-center">
                            SSS, A Leader and Frontier in Big Data Innovation provide most rapid, high performing and accurate need based Big Data Analytics solutions to clients all over the World. Our simplified and powerful analyzing modules help to deliver scalable and faster data that boosts the real time performance.
                       </p>
                    </div>
                </div>
            </div>
        </div>
</section>
<section >
        <div class="container py-5">
            <div class="row align-items-stretch animate-left" > 
                <div class="col-6 ">
                    <div class="title-center empower-tool-main-heading">
                            <h5 class="d-flex align-self-center">	
                                    The Internet Of Things And Services
                                </h5>
                    </div>
                       
                </div>
                <div class="col-6">
                    <div class="row">
                       <div class="col-2">
                            <div class="img-icon">
                                    <div class="animate-ball">
                                         <div></div>
                                         <div></div>
                                         <div></div>
                                    </div>
                                    <div class="icon-box">
                                    
                                        <span class=""><i class="fa fa-desktop"></i></span>
                                    </div>
                                </div>
                       </div>
                       <div class="col-10" >
                          
                        <div class="text-justify empower-tool-text">
                            <span class="rightborder"></span>
                           <p>IoT also called as Internet of Things, The New Era of Technological Revolution has already started changing the
                                world with its latest innovations.Each and Every thing is uniquely identifiable.</p> 
       
                          </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="">
                                <img class="dots-image" src="assets/images/services/down_dashed_row.png">
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-stretch animate-right" > 
                    <div class="col-6">
                        <div class="row py-3">
                           <div class="col-10 pt-3" > 
                            <div class="text-justify pr-4 empower-tool-text">
                                   <p> In Present scenario IoT revolution is accelerating at an impressive speed and considerable growth in which almost
                                        all emerging technologies are enabling IoT</p>
                                    
                              </div>
                              <span class="leftborder"></span>
                           </div>
                           <div class="col-auto">
                                <div class="img-icon cleft sec2">
                                        <div class="animate-ball ">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box icon-color">
                                            <span class=""><i class="fa fa-building"></i></span>
                                        </div>
                                    </div>
                           </div>
                        </div> 
                    </div>
                    <div class="col-6">
                            <div class="rtitle-center empower-tool-main-heading"><h5>		
                                    Enabling Technologies For IoT

                                </h5></div>
                            <div class="row mb-5 pb-5">
                                    <div class="col-12">
                                        <div class="">
                                            <img class="dots-image-left"  src="assets/images/services/down_dashed_row.png">
                
                                        </div>
                                    </div>
                            </div> 
                    </div>
                </div>
                <div class="row align-items-stretch mt-5 animate-left" > 
                    <div class="col-6 ">
                        <div class="title-center empower-tool-main-heading">
                                <h5 class="d-flex align-self-center">A Leap In To The Future</h5>
                        </div>
                           
                    </div>
                    <div class="col-6">
                        <div class="row">
                           <div class="col-2">
                                <div class="img-icon">
                                        <div class="animate-ball">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box ">
                                            <span class=""><i class="fa fa-mobile text-center pl-2 cfont"></i></span>
                                        </div>
                                    </div>
                           </div>
                           <div class="col-10" >
                              
                            <div class="text-justify empower-tool-text">
                                <span class="rightborder"></span>
                               <p>IoT market is endless and is considered as a premier frontier in Customer centric in creating a smarter Technology
                                    world. It creates new innovative business models and brings more sophistication to data with multiple Security & Privacy levels in an intelligent way.</p> 
           
                              </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="">
                                    <img class="dots-image" src="assets/images/services/down_dashed_row.png">
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-stretch animate-right" > 
                        <div class="col-6">
                            <div class="row py-3">
                               <div class="col-10 pt-3" > 
                                <div class="text-justify empower-tool-text pr-4">
                                        <p>IoT Solutions and Security has become main focal point of attention for the Technology Industry today.
                                                SSS’s New Efforts and Initiatives in IoT have defined best standards and security practices.</p>
                                  </div>
                                  <span class="leftborder"></span>
                               </div>
                               <div class="col-auto">
                                    <div class="img-icon cleft sec2">
                                            <div class="animate-ball ">
                                                 <div></div>
                                                 <div></div>
                                                 <div></div>
                                            </div>
                                            <div class="icon-box icon-color">
                                                <span class=""><i class="fa fa-plug"></i></span>
                                            </div>
                                        </div>
                               </div>
                            </div> 
                        </div>
                        <div class="col-6">
                                <div class="rtitle-center empower-tool-main-heading"><h5>	
                                        IOT solutions And Security
                                    </h5></div>
                                <div class="row">
                                        <div class="col-12">
                                            <!-- <div class="">
                                                <img class="dots-image-left"  src="assets/images/services/down_dashed_row.png">
                    
                                            </div> -->
                                        </div>
                                </div> 
                        </div>
                    </div>
        </div>
</section>
<section class="secTech  mt-5">
        <div class="container-fluid our-service-main-div">
            <div class="row mt-5">
                <div class="col-10 top-technology px-5">
                        <h4 class=" h4 display-5 ">Stay Connected to Users With simplified Software</h4>
                        <div class="bar position-relative">
                        </div>

                    <p class="m-3">
                            Various Popular Technologies in which IoT is used
                    </p> 
                </div>
            </div>

            <div class="row ">
                <div class="col-6">
                    <div class="p-3   top-technology">
                           
                        <div class="top-tech-button ">
                                <div class="list-points-main  ml-4">
    
                                        <div class="list-points p-2">
                                            <div class="list-points-div animate-right">
                                                <span class="list-image-bk list-image-1"> </span>
                                                    <p>
                                                            RFID
                                                    </p>
                                               
                                            </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div animate-right">
                                                    <span class="list-image-2 list-image-bk"> </span>
                                                        <p>
                                                                Optical Technologies and Tags Like Li-Fi
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div animate-right">
                                                    <span class="list-image-3 list-image-bk"> </span>
                                                        <p>
                                                                Quick Response Code
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div animate-right">
                                                    <span class="list-image-3 list-image-bk"> </span>
                                                        <p>
                                                                Bluetooth Low Energy – BLE

                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div animate-right">
                                                    <span class="list-image-2 list-image-bk"> </span>
                                                        <p>
                                                                Low Energy Wireless IP Network
                                                        </p>
                                                   
                                                </div>
                                        </div>
                                        <div class="list-points p-2">
                                                <div class="list-points-div animate-right">
                                                    <span class="list-image-bk list-image-1"> </span>
                                                        <p>
                                                                Communication Technologies Like Zigbee & Thread
                                                        </p>
                                                   
                                                </div>
                                            </div>
                                            <div class="list-points p-2">
                                                    <div class="list-points-div animate-right">
                                                        <span class="list-image-2 list-image-bk"> </span>
                                                            <p>
                                                                    Communication Protocol like Z-wave
                                                            </p>
                                                       
                                                    </div>
                                            </div>
                                    </div>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="col-6">
                    <div class="col-12 p-4">
                            <img src="assets/images/services/iot/iot-image.png">
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
    <div class="container">
        <div class="row py-2">
            <div class="col-9">
                <div class="iot-image offset-3">
                    <img src="assets/images/services/iot/iot-image-2.png"> 
                </div>
            </div>
        </div>
    </div>
</section>