<section>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                    <div class="row">
                            <div class="col-12 our-service-sec py-5">
                                    <h2 class=" h2 display-5 text-center">
                                        Timeline - Our Journey So Far
                                    </h2>
                                    <div class="bar position-relative text-center offset-5">
                                    </div>
                            </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto ">
                            <div class="time-line-div ">
                                    <div class="time-line-inner-div d-flex justify-content-center align-items-center">
                                            <p>2015</p>
                                    </div>
                            </div>
                            <div class=" time-line-content-div">
                                        SEPTEMBER
                                        2009-2010
                                        <ul>
                                            <li>SSS established as a proprietorship firm</li>
                                            <li>Industry’s leading in-country corporate OBI training partner</li>
                                            <li>Successfully executed the first project on BIDW to a leading airline company in the Middle East</li>
                                        </ul>
                               
                            </div>
                            
                            <div class="moving-dot-balls">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                        </div>
                </div>
                <div class="row justify-content-center time-line-div-row-2">
                            <div class="col-auto ">
                                <div class="time-line-div ">
                                        <div class="time-line-inner-div d-flex justify-content-center align-items-center">
                                                <p>2015</p>
                                        </div>
                                </div>
                                <div class="  time-line-content-div-1">
                                        AUGUST 
                                        2011-2013
                                            <ul>
                                                <li>Started providing training on OBI to countries in the Middle East and Oceania</li>
                                                <li>Project implementation on Enterprise wide BI dashboard in the Middle East and Oceania</li>
                                                <li>Successfully executed the first project on BIDW in Northern America</li>
                                                <li>Delivered BIDW training to >1,000 candidates across the globe</li>
                                                <li>Incorporated as a Private Limited Company</li>
                                                <li>Became the member of ITAAP</li>
                                            </ul>
                                   
                                </div>
                                
                                <div class="moving-dot-balls">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                            </div>
                </div>
                    <div class="row justify-content-center time-line-div-row-3">
                            <div class="col-auto ">
                                <div class="time-line-div ">
                                        <div class="time-line-inner-div d-flex justify-content-center align-items-center">
                                                <p>2014</p>
                                        </div>
                                </div>
                                <div class="  time-line-content-div-2">
                                        SEPTEMBER 
                                        2014-2017
                                            <ul>
                                                <li>Moved to a larger building with enhanced infrastructure with skilled and increased team</li>
                                                <li>Became a NASSCOM registered and ISO certified organization</li>
                                                <li>Broadened the services to include Web Designing & Development &Mobile BI</li>
                                                <li>Recognized by MSME as IT service Provider</li>
                                                <li>The first company in India to implement a project on Looker BI</li>
                                                <li>Became a 50+ member organization</li>
                                                <li>
                                                        Awarded the “Best Company for 2016” in Business Intelligence category by The CEO Magazine
                                                </li>
                                                <li>Successfully executed projects on latest technologies like Looker BI, QlikView, Jaspersoft (Talend).</li>
                                                <li>Successfully executed the biggest E-Commerce site to US clients with many advanced features never seen before</li>
                                                <li>Spread our wings into other services viz., Digital Marketing, IOT and E-Commerce and executed projects on the same.</li>
                                            </ul>
                                   
                                </div>
                                
                                <div class="moving-dot-balls">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                            </div>
                    </div>
                    <div class="row justify-content-center time-line-div-row-4">
                            <div class="col-auto ">
                                <div class="time-line-div ">
                                        <div class="time-line-inner-div d-flex justify-content-center align-items-center">
                                                <p>2014</p>
                                        </div>
                                </div>
                                <div class="  time-line-content-div-4">
                                        SEPTEMBER 
                                        2014-2016
                                            <ul>
                                                <li>Started providing training on OBI to countries in the Middle East and Oceania</li>
                                                <li>Project implementation on Enterprise wide BI dashboard in the Middle East and Oceania</li>
                                                <li>Successfully executed the first project on BIDW in Northern America</li>
                                                
                                            </ul>
                                   
                                </div>
                                
                                <!-- <div class="moving-dot-balls">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div> -->
                            </div>
                </div>
            </div>
        </div>
    </div>
</section><br><br>
<section class="team-section">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <div class="row">
                        <div class="col-12 our-service-sec py-5">
                                <h2 class=" h2 display-5 text-center">
                                        Leadership & Goverance</h2>
                                <div class="bar position-relative text-center offset-5">
                                </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="col-12 ">
                            <div class="team-main-div">
                                <div class="team-image">
                                    <img src="assets/images/rangarajan.jpg" height="200px" width="200px">
                                </div>
                                <div class="team-content">
                                    <div class="team-info">
                                            <h3 class="text-white">Rangarajan Kandadai</h3>
                                            <span class="text-white">Managing Director</span>
                                    </div>
                                    <p>Over 25 years of enormous experience in Technical & Functional Roles, in the fields of Financial</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                            <div class="col-12 ">
                                    <div class="team-main-div">
                                            <div class="team-image">
                                                <img src="assets/images/kalyani.jpg" height="200px" width="200px">
                                            </div>
                                            <div class="team-content">
                                                <div class="team-info">
                                                        <h3 class="text-white">Kalyani Rangarajan</h3>
                                                        <span class="text-white">Founder - Director</span>
                                                </div>
                                                <p>Over 15 years of commendable record of building, leading, Supporting world class business intelligence and Data Warehousing solutions.</p>
            
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <div class="col-4">
                                <div class="col-12 ">
                                        <div class="team-main-div">
                                                <div class="team-image">
                                                    <img src="assets/images/ranga.jpg" height="200px" width="200px">
                                                </div>
                                                <div class="team-content">
                                                    <div class="team-info">
                                                            <h3 class="text-white">Ranganathan Tirumalai Ananthampullai</h3>
                                                            <span class="text-white">Director</span>
                                                    </div>
                                                    <p>Has over 8 years of splendid adroitness in Oracle BI, with end-to-end Enterprise Solutions and ERP implementation. </p>
                
                                                </div>
                                            </div>
                                </div>
                            </div>
                </div>
                <div class="row">
                        <div class="col-4">
                            <div class="col-12 ">
                                <div class="team-main-div">
                                    <div class="team-image">
                                        <img src="assets/images/seshadri.jpg" height="200px" width="200px">
                                    </div>
                                    <div class="team-content">
                                        <div class="team-info">
                                                <h3 class="text-white">Murari Seshadri</h3>
                                                <span class="text-white">Head - Marketing - Consulting Practice</span>
                                        </div>
                                        <p>Has over 28 years of experience in design, manufacturing and successfully leading business in engineering. In his previous role,</p>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                                <div class="col-12 ">
                                        <div class="team-main-div">
                                                <div class="team-image">
                                                    <img src="assets/images/venkat.jpg" height="200px" width="200px">
                                                </div>
                                                <div class="team-content">
                                                    <div class="team-info">
                                                            <h3 class="text-white">Venkata Subramanian </h3>
                                                            <span class="text-white">Manager - Finance & Administration</span>
                                                    </div>
                                                    <p>Has over 32 years of experience in various fields like administration, accounts, marketing, manufacturing, warehouse, and commercial department.</p>
                
                                                </div>
                                            </div>
                                </div>
                            </div>
                            <!-- <div class="col-4">
                                    <div class="col-12 ">
                                            <div class="team-main-div">
                                                    <div class="team-image">
                                                        <img src="assets/images/team-1.jpg">
                                                    </div>
                                                    <div class="team-content">
                                                        <div class="team-info">
                                                                <h3 class="text-white">Josh Buttler</h3>
                                                                <span class="text-white">CEO &amp; Founder</span>
                                                        </div>
                                                        <p>Over 25 years of enormous experience in Technical & Functional Roles, in the fields of Financial</p>
                    
                                                    </div>
                                                </div>
                                    </div>
                                </div> -->
                    </div>
            </div>
        </div>
    </div>
</section>


<section class="mt-5 team-section pb-5">
    <div class="container ">
        <div class="row ">
            <div class="col-12">
                <div class="row">
                        <div class="col-12 our-service-sec py-5">
                                <h2 class=" h2 display-5 text-center">Simple Steps & Quick Results</h2>
                                <div class="bar position-relative text-center offset-5">
                                </div>
                        </div>
                </div>

                <div class="row ">
                    <div class="col-2">                        
                        <div class="row about-vision-section justify-content-center">
                            <div class=" about-vision-section-inner">
                                <div class="row  justify-content-center ">
                                    <span>
                                        <i class="fa fa-rocket fa-5x align-content-between icon-style" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="col-10">
                            <div class="row justify-content-center">
                                    <div class="col-12 p-3 pl-5">
                                            <div class="about-vision-section-content">
                                                    <h3>OUR MISSION</h3>
                                                    <p>Transform your dream vision in to reality with Srinivasan Software Solutions. Enhancing the Customer values by offering seamless service that accelerates the consistent business growth in a mutual way is our main motto. </p>
                                                </div>
                                    </div>
                                </div>
                    </div>
                  
                </div>
            </div>
        </div>
        <div class="row mt-5">
                <div class="col-12">
                    <div class="row ">
                        <div class="col-2">                        
                            <div class="row about-vision-section justify-content-center">
                                <div class=" about-vision-section-inner">
                                    <div class="row  justify-content-center ">
                                        <span>
                                            <i class="fa fa-eye fa-5x align-content-between icon-style" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        <div class="col-10">
                                <div class="row justify-content-center">
                                        <div class="col-12 p-3 pl-5">
                                                <div class="about-vision-section-content">
                                                        <h3>OUR INSIGHT
                                                            </h3>
                                                        <p>Srinivasan Software Solutions aims to deliver superior performance through qualitative planning and exploring innovative thoughts. Our Team is our strength and we always strive for operational excellence. </p>
                                                    </div>
                                        </div>
                                    </div>
                        </div>
                      
                    </div>
                </div>
        </div>
        <div class="row mt-5">
                <div class="col-12">
                    <div class="row ">
                        <div class="col-2">                        
                            <div class="row about-vision-section justify-content-center">
                                <div class=" about-vision-section-inner">
                                    <div class="row  justify-content-center ">
                                        <span>
                                            <i class="fa fa-pencil fa-5x align-content-between icon-style" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        <div class="col-10">
                                <div class="row justify-content-center">
                                        <div class="col-12 p-3 pl-5">
                                                <div class="about-vision-section-content">
                                                        <h3>WE PLAN & SKETCH</h3>
                                                        <p>Srinivasan Software Solutions aims to deliver superior performance through qualitative planning and exploring innovative thoughts. Our Team is our strength and we always strive for operational excellence. </p>
                                                    </div>
                                        </div>
                                    </div>
                        </div>
                      
                    </div>
                </div>
        </div>
        <div class="row mt-5">
                <div class="col-12">
                    <div class="row ">
                        <div class="col-2">                        
                            <div class="row about-vision-section justify-content-center">
                                <div class=" about-vision-section-inner">
                                    <div class="row  justify-content-center ">
                                        <span>
                                            <i class="fa fa-eercast fa-5x align-content-between icon-style" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        <div class="col-10">
                                <div class="row justify-content-center">
                                        <div class="col-12 p-3 pl-5">
                                                <div class="about-vision-section-content">
                                                        <h3>WE DESIGN & DEVELOP
                                                            </h3>
                                                        <p>Srinivasan Software Solutions aims to deliver superior performance through qualitative planning and exploring innovative thoughts. Our Team is our strength and we always strive for operational excellence. </p>
                                                    </div>
                                        </div>
                                    </div>
                        </div>
                      
                    </div>
                </div>
        </div>
        <div class="row mt-5">
                <div class="col-12">
                    <div class="row ">
                        <div class="col-2">                        
                            <div class="row about-vision-section justify-content-center">
                                <div class=" about-vision-section-inner">
                                    <div class="row  justify-content-center ">
                                        <span>
                                            <i class="fa fa-paper-plane-o fa-5x align-content-between icon-style" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        <div class="col-10">
                                <div class="row justify-content-center">
                                        <div class="col-12 p-3 pl-5">
                                                <div class="about-vision-section-content">
                                                        <h3>WE TEST & DELIVER
                                                            </h3>
                                                        <p>Srinivasan Software Solutions aims to deliver superior performance through qualitative planning and exploring innovative thoughts. Our Team is our strength and we always strive for operational excellence. </p>
                                                    </div>
                                        </div>
                                    </div>
                        </div>
                      
                    </div>
                </div>
        </div>
    </div>
</section>
<section class="">
        <div class="container about-us-block-div-banner">
            <div class="row ">
                <div class="col-12 our-service-sec py-5">
                        <h2 class=" h2 display-5 text-center">About Us</h2>
                        <div class="bar position-relative text-center offset-5">
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4  about-us-block-div">
                            <div class=" about-us-block  animate-left "> 
                                    <div class=" p-3">
                                            <span class="about-icon-container grad-style-cd-light  about-icon-1 offset-3 mb-3">
                                                    <i class="fa fa-line-chart fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                            </span>
                                    </div>
                                    <div>
                                        <h4 class="text-center  mb-3">HIGH QUALITY SUPPORT</h4>
                                    </div>
                                    <div>
                                        <p class="text-center">We  deliver high quality solutions</p>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 ">
                                <div class="well well-sm about-us-block animate-left "> 
                                        <div class=" p-3">
                                                <span class="about-icon-container grad-style-cd-light about-icon-2 offset-3 mb-3">
                                                        <i class="fa fa-globe fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                                </span>
                                        </div>
                                        <div>
                                            <h4 class="text-center  mb-3">WORLD CLASS SERVICES</h4>
                                        </div>
                                        <div>
                                            <p class="text-center"> world-class methodologies  tools</p>
                                        </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4">
                                    <div class="well well-sm about-us-block animate-left "> 
                                            <div class=" p-3">
                                                    <span class="about-icon-container grad-style-cd-light about-icon-3 offset-3 mb-3">
                                                            <i class="fa fa-thumbs-o-up fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                                    </span>
                                            </div>
                                            <div class="about-continer-text">
                                                <h4 class="text-center  mb-3"> AFFORDABLE PRICES
                                                </h4>
                                            </div>
                                            <div>
                                                <p class="text-center">We measure client satisfaction </p>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                        <div class="well well-sm about-us-block animate-left "> 
                                                <div class=" p-3">
                                                        <span class="about-icon-container grad-style-cd-light about-icon-4 offset-3 mb-3">
                                                                <i class="fa fa-star-half-o fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                                        </span>
                                                </div>
                                                <div>
                                                    <h4 class="text-center  mb-3">SATISFIED CUSTOMER
                                                    </h4>
                                                </div>
                                                <div>
                                                    <p class="text-center">We take responsibility </p>
                                                </div>
                                        </div>
                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>