<header class="headerSec">
    <div class="container-fluid headerSecBox">
        <div class="row px-5 py-3 justify-content-between">
            <div class="col-auto">
                <a class="d-inline-block"  routerLink="/" routerLinkActive="active"><img class="logo" src="assets/images/logo.png"></a>
            </div>
            <div class="col-auto">
                <div class="row align-content-center h-100">
                    <a class="d-inline-block pt-2 pr-3 text-decoration-none text-white"  
                    routerLink="/about" routerLinkActive="active">About Us</a>
                    <a class="d-inline-block pt-2 pr-3 text-decoration-none text-white" 
                    routerLink="/contact" routerLinkActive="active">Contact Us</a>
                    <a class="d-inline-block text-decoration-none text-white Menu-lines position-relative"  >
                        <span class="icon-bar1 menucollapse rotate30 rotate45"></span>
                        <span class="icon-bar2 menucollapse"></span>
                        <span class="icon-bar3 menucollapse rotate150 rotate135"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
