
.headerSec{
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.logo{
    width: 720px;
}
.Menu-lines{
    background: #ff1d0d;
    width: 40px;
    height: 40px;
    border-radius: 32px;
    text-align: center;
    z-index: 7;
    position: relative;
}
.icon-bar1, .icon-bar2, .icon-bar3 {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 10px;
    bottom: 0px;
    background-color: #fff;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
.icon-bar1, .icon-bar3 {
    height: 2px;
    width: 24px;
    top: -16px;
}
.icon-bar2 {
    height: 2px;
    top: 0px;
    width: 10px;
}
.icon-bar1, .icon-bar3 {
    height: 2px;
    width: 18px;
    top: -18px;
}
.icon-bar3 {
    top: 18px;
}
.open .rotate30 {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
}
.open .rotate45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}
.open > .menucollapse {
    top: 2px !important;
    left: 8px;
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out;
    display: block;
}
.open .rotate150 {
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
}
.open .rotate135 {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}
.open .icon-bar2 {
   display: none;
}


/* footer styles */
/* Footer */

/* section {
    padding: 60px 0;
} */
.all-rights a{
    text-decoration: none;
}
.all-rights-main-div{
    background-color: #ff1c0ce0!important;
}
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #0e4ca1 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
/* .footer-logo img{
    box-shadow: 18px 6px 48px 1px #efe7e7f2;
} */
/* HEADER STYLES */
.headerSec{
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 100px;
    overflow: hidden;
    
    }
    .scrollHeader-open{
        position: fixed;
        /* background: rgba(0, 0, 0, 0.75); */        
    background: #001d77;
        box-shadow: 0px 0px 3px 0px #000;
    }
    .headerSecBox.contactus{
        background-color:#001d77;
    }
    .logo{
    width: 720px;
    }
    .Menu-lines{
    background: #ff1d0d;
    width: 40px;
    height: 40px;
    border-radius: 32px;
    text-align: center;
    z-index: 7;
    position: relative;
    opacity: 1;
    }
    .icon-bar1, .icon-bar2, .icon-bar3 {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 10px;
    bottom: 0px;
    background-color: #fff;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    }
    .icon-bar1, .icon-bar3 {
    height: 2px;
    width: 24px;
    top: -16px;
    }
    .icon-bar2 {
    height: 2px;
    top: 0px;
    width: 10px;
    }
    .icon-bar1, .icon-bar3 {
    height: 2px;
    width: 18px;
    top: -18px;
    }
    .icon-bar3 {
    top: 18px;
    }
    .open .rotate30 {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
    }
    .open .rotate45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    }
    .open > .menucollapse {
    top: 2px !important;
    left: 8px;
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out;
    display: block;
    }
    .open .rotate150 {
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
    }
    .open .rotate135 {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    }
    .open .icon-bar2 {
    display: none;
    }
    .openMenuList{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh; 
    display: none;
    left: 0;
    top: 0;
    }
    .openMenuListBox{
    background-color: #ff1d0d;
    height: 100%;
    }
    .dnf-digital-capabilities{
    background: #df9926 url(../assets/images/m1.png);
    }
    
    .dnf-digital-operating {
    background: #0f9ffa url(../assets/images/m2.png);
    }
    .dnf-talent-transformations{
    background: #b8d0dc url(../assets/images/m3.png);
    }
    .automate {
    height: 100vh;
    background-repeat: no-repeat !important;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    background-size: 100%;
    background-position: bottom center;
    color: #fff;
    padding-top: 25px;
    }
.openMenuList{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;    
    display: none;
    left: 0;
    top: 0;
}
.openMenuListBox{
    background-color: #ff1d0d;
    height: 100%;
}
.dnf-digital-capabilities{
background: #df9926 url(../assets/images/m1.png);
}

.dnf-digital-operating {
    background: #0f9ffa url(../assets/images/m2.png);
}
.dnf-talent-transformations{
    background: #b8d0dc url(../assets/images/m3.png);
}
.automate {
    height: 100vh;
    background-repeat: no-repeat !important;
   
    -webkit-background-size: 100%;
    -moz-background-size:  100%;
    -ms-background-size:  100%;
    background-size:  100%;
    background-position: bottom center;
    color: #fff;
    padding-top: 25px;
}
.menuItems {
    background-color: #fff;
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    padding: 35px;
    }
    .burger.openClose {

    background-color: #ff1d0d;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.burger {
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0px;
    right: 8px;
    cursor: pointer;
}
.menuItems ul li a {
    color: #444;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    padding-top: 12px;
    display: block;
    position: relative;
    }
    .open{
    display: block;
    }
    .close{
    display: none;
    }
    .sel-Services, .sel-Aboutus{
    display: block !important;
    }
    .service-sub-menu{
    position: absolute;
    background-color: #11709e;
    /* / background: #c1b5b5; / */
    height: 100vh;
    display: none;
    }
    .cfont div{
    
    line-height: 3rem;
    font-size: 20px;
    }
    .un-line {
    position: absolute;
    bottom: -1px;
    height: 3px;
    width: 0;
    left: 0;
    background-color: #333;
    -webkit-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
}
.menuItems ul li a:hover .un-line {
    width: 90%; 

}


.circle {
    border-radius: 50%;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 65px;
    right: 95px;
    background-color: #fff;
    opacity: 1;
    -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.circle.expand {
    width: 150%;
    height: 2000px;
    overflow: hidden;
    top: -560px;
    right: -565px;
    -webkit-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.openMenuList {
    opacity: 0;
   transition: opacity 300ms ease-in-out;
   -moz-transition: opacity 300ms ease-in-out;
   -webkit-transition: opacity 300ms ease-in-out;
}
.openMenuList.open{
    opacity: 1;
}

