<!-- Digital Marketing -->
<section>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-12 banner-sec">
                    <div class="banner-image">
                        <img src="assets/images/services/Digital-marketing.jpg" class="position-relative">
                    </div>
                    <!-- <div class="position-absolute"><h4>Digital Marketing</h4></div> -->
                </div>
            </div>
        </div>
    
    </section>
    <section>
        <div class="container dm-text py-5">
            <div class="row">
              <div class="col-12">
                <h3 class="ctextcolor">
                    SSS Digital Marketing Agency </h3>
                    <div>
                        <h4 class="ctextcolor">- Get closer to your customer needs in the Business space</h4>
                    </div>
                    <div class="py-2 cfont">
                     <p>   Srinivasan Software Solutions Pvt Ltd.,(SSS) Digital Marketing Agency was built on the foundation of driving measurable results that 
                        allowed us to provide the quality services in all facets of Digital Marketing. SSS, A brand leader in the online marketing industry, 
                        is specialized in understanding the customer prospects and encompasses to develop, Plan, and execute the integrated Online Marketing 
                        Strategy that increases the site engagement and online sales that determines the Business Success.</p></div>
              </div>
            </div>
        </div>
    </section>
    <section class="dm-text">
            <h4 class=" ctextcolor-sub text-center ">Our Digital Marketing Services</h4>
        <div class="container py-3">
          
            <div class="row">
                <div class="col-5">
                    <div class="row h-100 align-content-center content animate-content pl-5">
                        <ul>
                            <li>
                                <span></span>
                                Best Practices on Off Page & On Page
                            </li>
                            <li><span></span> SEO Tracking</li>
                            <li><span></span> SEO Auditing Services</li>
                            <li><span></span>  Keyword Segmentation</li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto px-5 text-right">
                    <div class="left-circle-img">
                        <div class="">
                            <div class="number-outter-circle">
                                <span class="number">01</span>
                                <div class="animate-div">
                                    <div class="circle animate-circle">
                                    </div>
                                </div>
                            </div>                 
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class=" row h-100 align-content-center services-list ">
                        <div class="animate-right-div">
                            <img class="" src="assets/images/services/dm/seo-dm-page.png" class="" >
                        </div>
                       <!-- <div class="d-block">Search Engine Optimization Services</div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-4">
                            <div class=" row h-100 align-content-center services-list">
                                <div class="animate-left-div">
                                    <img  src="assets/images/services/dm/sem-dm-page.png" class=" pos-left">
                                </div>
                                    <!-- <div class="d-block">Search Engine Marketing Services</div> -->
                            </div>
                    </div>
                    <div class="col-auto px-5 ">
                        <div class="right-circle-img">
                            <div class="">
                                <div class="number-outter-circle1">
                                    <span class="number">02</span>
                                    <div class="animate-div">
                                        <div class="circle animate-circle">
                                        </div>
                                    </div>
                                </div>                 
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                            <div class="row h-100 align-content-center content-right pl-5 dm-text">
                                    <ul>
                                        <li>
                                            <span></span>
                                            Results Driven ROI Strategies
                                        </li>
                                        <li><span></span>Integrated Omni channel Marketing</li>
                                        <li><span></span>Leveraging Ad & Search Networks</li>
                                        <li><span></span>Google Search Methodologies</li>
                                    </ul>
                                </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-5">
                            <div class="row h-100 align-content-center content pr-5">
                                <ul>
                                    <li>
                                        <span></span>
                                        Building Personas using a Powerful Search Engine
                                    </li>
                                    <li><span></span> Strategic Content Preparation</li>
                                    <li><span></span> Concentric Content Marketing</li>
                                    <li><span></span>  Creative Formatting & Refining Hypothesis</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto px-5 text-right">
                            <div class="left-circle-img">
                                <div class="">
                                    <div class="number-outter-circle">
                                        <span class="number">03</span>
                                        <div class="animate-div">
                                            <div class="circle animate-circle">
                                            </div>
                                        </div>
                                    </div>                 
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class=" row h-100 align-content-center services-list">
                                <div class="animate-right-div">
                                        <img  src="assets/images/services/dm/content-marketing.png" >
                                </div>
                               <!-- <div class="d-block">Content Marketing Process </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-4">
                                    <div class=" row h-100 align-content-center services-list">
                                            <div class="animate-left-div">
                                                    <img  src="assets/images/services/dm/web-analytics.png" class="pos-left">
                                            </div>   
                                        <!-- <div class="d-block">Web Analytics</div> -->
                                    </div>
                            </div>
                            <div class="col-auto px-5 ">
                                <div class="right-circle-img">
                                    <div class="">
                                        <div class="number-outter-circle1">
                                            <span class="number">04</span>
                                            <div class="animate-div">
                                                <div class="circle animate-circle">
                                                </div>
                                            </div>
                                        </div>                 
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                    <div class="row h-100 align-content-center content-right dm-text">
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Navigating Google Analytics
                                                </li>
                                                <li><span></span>Actionable Web Insights</li>
                                                <li><span></span>Social CRM & Analytics</li>
                                                <li><span></span>Social Media & Web Analytic Tools</li>
                                            </ul>
                                        </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-5">
                                    <div class="row h-100 align-content-center content pl-5 ml-5 dm-text">
                                        <ul>
                                            <li>
                                                <span></span>
                                                Building Follower Base
                                            </li>
                                            <li><span></span> Engaging User Management</li>
                                            <li><span></span> Result Tracking</li>
                                            <li><span></span>Rich Content Development</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-auto px-5 text-right">
                                    <div class="left-circle-img">
                                        <div class="">
                                            <div class="number-outter-circle">
                                                <span class="number">05</span>
                                                <div class="animate-div">
                                                    <div class="circle animate-circle">
                                                    </div>
                                                </div>
                                            </div>                 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class=" row h-100 align-content-center services-list">
                                            <div class="animate-right-div">
                                                    <img class="" src="assets/images/services/dm/social-media-marketing.png" class="image-size">
                                            </div> 
                                            
                                       <!-- <div class="d-block">Social Media Marketing & Advertising</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-4">
                                            <div class=" row h-100 align-content-center services-list">
                                                <div class="animate-left-div">
                                                        <img  src="assets/images/services/dm/cro.png" class="pos-left">
                                                </div> 
                                                    <!-- <div class="d-block">Conversion Rate Optimization</div> -->
                                            </div>
                                    </div>
                                    <div class="col-auto px-5 ">
                                        <div class="right-circle-img">
                                            <div class="">
                                                <div class="number-outter-circle1">
                                                    <span class="number">06</span>
                                                    <div class="animate-div">
                                                        <div class="circle animate-circle">
                                                        </div>
                                                    </div>
                                                </div>                 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                            <div class="row h-100 align-content-center content-right dm-text">
                                                    <ul>
                                                        <li>
                                                            <span></span>
                                                            Building and Optimizing Landing Pages
                                                        </li>
                                                        <li><span></span> Conversion Tracking Analysis</li>
                                                        <li><span></span> Analytics Goal Implementation</li>
                                                        <li><span></span>Split Testing principles</li>
                                                    </ul>
                                                </div>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-5">
                                            <div class="row h-100 align-content-center content pl-5 dm-text">
                                                <ul>
                                                    <li>
                                                        <span></span>
                                                        Building Awareness of Product/ Service
                                                    </li>
                                                    <li><span></span> Targeted Media Outreach</li>
                                                    <li><span></span>Brand Positioning Strategies</li>
                                                    <li><span></span> Performance Tracking</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-auto px-5 text-right">
                                            <div class="left-circle-img">
                                                <div class="">
                                                    <div class="number-outter-circle">
                                                        <span class="number">07</span>
                                                        <div class="animate-div">
                                                            <div class="circle animate-circle">
                                                            </div>
                                                        </div>
                                                    </div>                 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class=" row h-100 align-content-center services-list">
                                                    <div class="animate-right-div">
                                                            <img  src="assets/images/services/dm/online.png" >
                                                    </div> 
                                               <!-- <div class="d-block">Online Reputation Management</div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-4">
                                                    <div class=" row h-100 align-content-center services-list">
                                                            <div class="animate-left-div">
                                                                    <img  src="assets/images/services/dm/inbound.png" class="pos-left">
                                                            </div> 
                                                            <!-- <div class="d-block">Inbound Strategic Campaigns</div> -->
                                                    </div>
                                            </div>
                                            <div class="col-auto px-5 ">
                                                <div class="right-circle-img">
                                                    <div class="">
                                                        <div class="number-outter-circle1">
                                                            <span class="number">08</span>
                                                            <div class="animate-div">
                                                                <div class="circle animate-circle">
                                                                </div>
                                                            </div>
                                                        </div>                 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                    <div class="row h-100 align-content-center content-right dm-text">
                                                            <ul>
                                                                <li>
                                                                    <span></span>
                                                                    Staying visible online
                                                                </li>
                                                                <li><span></span> Actionable Metrics</li>
                                                                <li><span></span>Performance Measurability</li>
                                                                <li><span></span> Nurturing Lead generation</li>
                                                            </ul>
                                                        </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-5">
                                                    <div class="row h-100 align-content-center content pl-5 ml-5 dm-text">
                                                        <ul>
                                                            <li>
                                                                <span></span>
                                                                Organizational Positioning
                                                            </li>
                                                            <li><span></span> Business & Competitive Analysis</li>
                                                            <li><span></span> Granular Targeting & Serving</li>
                                                            <li><span></span> Mobile Advertising Technique</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-auto px-5 text-right">
                                                    <div class="left-circle-img">
                                                        <div class="">
                                                            <div class="number-outter-circle">
                                                                <span class="number">09</span>
                                                                <div class="animate-div">
                                                                    <div class="circle animate-circle">
                                                                    </div>
                                                                </div>
                                                            </div>                 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class=" row h-100 align-content-center services-list">
                                                            <div class="animate-right-div">
                                                                    <img  src="assets/images/services/dm/research-marketing.png" >
                                                            </div> 
                                                            <!-- <div class="d-block">Research And Market Analysis</div> -->
                                                     
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-4">
                                                            <div class=" row h-100 align-content-center services-list">
                                                                    <div class="animate-left-div">
                                                                            <img  src="assets/images/services/dm/outbound.png" class="pos-left">
                                                                    </div> 
                                                                     <!-- <div class="d-block">Outbound Strategic Campaigns
                                                        </div> -->
                                                            </div>
                                                    </div>
                                                    <div class="col-auto px-5 ">
                                                        <div class="right-circle-img">
                                                            <div class="">
                                                                <div class="number-outter-circle1">
                                                                    <span class="number">10</span>
                                                                    <div class="animate-div">
                                                                        <div class="circle animate-circle">
                                                                        </div>
                                                                    </div>
                                                                </div>                 
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                            <div class="row h-100 align-content-center content-right dm-text">
                                                                <ul>
                                                                    <li>
                                                                        <span></span>
                                                                        Pay Per Click Advertising
                                                                    </li>
                                                                    <li><span></span> Content Syndication</li>
                                                                    <li><span></span> Event Marketing</li>
                                                                    <li><span></span> Task Prioritization and Optimization</li>
                                                                </ul>
                                                                </div>
                                                    </div>
                                                </div>
        </div>
    </section>