<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 services-banner">
                <div class="banner-image">
                    <img src="assets/images/services/services-banner.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
	<!-- services -->
	<section class="py-5">
            <div class="container text-center py-4">
                    <div class="row ">
                            <div class="col-12 our-service-sec py-3">
                                            <h2 class=" h2 display-5 text-center ">Our Services</h2>
                                            <div class="bar position-relative text-center offset-5">
                                            </div>
                            </div>
                    </div>
            </div>
            <div class="container"> 
                <div class="row px-4 py-4">
                    <div class="col-md-4 services-sec">
                            <figure class="img-sec">
                                    <img src="assets/images/services/api.png" alt="img02">
                                    <figcaption>
                                        <h2><span>BI Solutions</span></h2>
                                        <div class="textOnHover">
                                            <p class="text-display pb-4 pt-2">Simplifying modernization and development of applications in the cloud... </p>
                                        <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0">Read More</a></p>
                                        </div>
                                    </figcaption>			
                                </figure>
                    </div>
                    <div class="col-md-4 services-sec">
                            <figure class="img-sec">
                                    <img src="assets/images/services/api.png" alt="img02">
                                    <figcaption>
                                        <h2><span>Business Analytics</span></h2>
                                        
                                        <div class="textOnHover">
                                                <p class="text-display pb-4 pt-2">Simplifying modernization and development of applications in the cloud... </p>
                                            <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0">Read More</a></p>
                                            </div>
                                    </figcaption>			
                                </figure>
                    </div>
                    <div class="col-md-4 services-sec">
                            <figure class="img-sec">
                                    <img src="assets/images/services/img.png" alt="img02">
                                    <figcaption>
                                        <h2><span>Big Data</span></h2>
                                        
                                        <div class="textOnHover">
                                                <p class="text-display pb-4 pt-2">Simplifying modernization and development of applications in the cloud... </p>
                                            <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0">Read More</a></p>
                                            </div>
                                    </figcaption>			
                                </figure>
                    </div>
                </div>
            </div>
            <div class="container"> 
                    <div class="row px-4 py-4">
                        <div class="col-md-4 services-sec">
                                <figure class="img-sec">
                                        <img src="assets/images/services/img.png" alt="img02">
                                        <figcaption>
                                            <h2><span>IOT</span></h2>
                                            <div class="textOnHover">
                                                    <p class="text-display pb-4 pt-2">Simplifying modernization and development of applications in the cloud... </p>
                                                <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0">Read More</a></p>
                                                </div>
                                        </figcaption>			
                                    </figure>
                        </div>
                        <div class="col-md-4 services-sec">
                                <figure class="img-sec">
                                        <img src="assets/images/services/api.png" alt="img02">
                                        <figcaption>
                                            <h2><span>Digital Marketing</span></h2>
                                            
                                            <div class="textOnHover">
                                                    <p class="text-display pb-4 pt-2">Simplifying modernization and development of applications in the cloud... </p>
                                                <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0">Read More</a></p>
                                            </div>
                                        </figcaption>			
                                    </figure>
                        </div>
                        <div class="col-md-4 services-sec">
                                <figure class="img-sec">
                                        <img src="assets/images/services/img.png" alt="img02">
                                        <figcaption>
                                            <h2><span>Web Interface</span></h2>
                                            
                                            <div class="textOnHover">
                                                    <p class="text-display pb-4 pt-2">Simplifying modernization and development of applications in the cloud... </p>
                                                <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0">Read More</a></p>
                                            </div>
                                        </figcaption>			
                                    </figure>
                        </div>
                    </div>
                </div>
                <div class="container"> 
                        <div class="row px-4 py-4">
                            <div class="col-md-4 services-sec">
                                    <figure class="img-sec">
                                            <img src="assets/images/services/img.png" alt="img02">
                                            <figcaption>
                                                <h2><span>Staffing Services</span></h2>
                                                <div class="textOnHover">
                                                        <p class="text-display pb-4 pt-2">Simplifying modernization and development of applications in the cloud... </p>
                                                    <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0">Read More</a></p>
                                                 </div>
                                            </figcaption>			
                                        </figure>
                            </div>
                            <div class="col-md-4 services-sec">
                                    <figure class="img-sec">
                                            <img src="assets/images/services/api.png" alt="img02">
                                            <figcaption>
                                                <h2><span>IT OutSourcing</span></h2>
                                                
                                                <div class="textOnHover">
                                                        <p class="text-display pb-4 pt-2">Simplifying modernization and development of applications in the cloud... </p>
                                                    <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0">Read More</a></p>
                                                </div>
                                            </figcaption>			
                                        </figure>
                            </div>
                        
                        </div>
                    </div>
        </section>
    
        <section class="technologies ">
                <div class="container">
                        <div class="row ">
                                <div class="col-12 our-service-sec py-5">
                                                <h2 class=" h2 display-5 text-center"> Top Technologies We Work</h2>
                                                <div class="bar position-relative text-center offset-5">
                                                </div>
                                </div>
                        </div>
                    <div class="row text-center">
                    <div class="col-1"></div>
                        <div class="col-10">
                            <div class="row ">
                                <div class=" box-shape animate" >
                                    <div class="">
                                        <div class="image-size">
                                            <img src="assets/images/services/tallend.png" width="100">
                                    </div>
                                            <p class="py-2">Bootstrap</p>
                                    </div>
                                    
                                </div>
                                <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tallend.png" width="100">
                                </div>
                                        <p class="py-2">Codeigniter</p>
                                    </div>
                                <div class=" box-shape animate" style="animation-delay: .2s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tallend.png" width="100">
                                </div>
                                        <p class="py-2">PHP</p>
                                </div>
                                <div class=" box-shape animate" style="animation-delay: .3s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tallend.png" width="100">
                                </div>
                                        <p class="py-2">Mysql</p>
                                </div>
                                <div class=" box-shape animate" style="animation-delay: .4s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tallend.png" width="100">
                                </div>
                                        <p class="py-2">word-press</p>
                                </div>
                                <div class=" box-shape animate" style="animation-delay: .2s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tallend.png" width="100">
                                </div>
                                    <p class="py-2">PHP</p>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <div class="row ">
                                    <div class=" box-shape animate" >
                                        <div class="">
                                            <div class="image-size">
                                                <img src="assets/images/services/tallend.png" width="100">
                                        </div>
                                                <p class="py-2">Bootstrap</p>
                                        </div>
                                        
                                    </div>
                                    <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tallend.png" width="100">
                                    </div>
                                            <p class="py-2">Codeigniter</p>
                                        </div>
                                    <div class=" box-shape animate" style="animation-delay: .2s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tallend.png" width="100">
                                    </div>
                                            <p class="py-2">PHP</p>
                                    </div>
                                    <div class=" box-shape animate" style="animation-delay: .3s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tallend.png" width="100">
                                    </div>
                                            <p class="py-2">Mysql</p>
                                    </div>
                                    <div class=" box-shape animate" style="animation-delay: .4s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tallend.png" width="100">
                                    </div>
                                            <p class="py-2">word-press</p>
                                    </div>
                                    <div class=" box-shape animate" style="animation-delay: .2s">
                                        <div class="pt-5 justify-content-end mt-3">
                                                <a href="" routerLink="/success-stories" routerLinkActive="active">more</a>
                                        </div>    
                                </div>
                            
                                </div>
                            </div>
                        </div>
            
                </div>
            </section>
        <!-- features -->
    
        <section class="pb-5">
            <div class="container px-4 approach-sec">
                    <div class="row ">
                            <div class="col-12 our-service-sec py-5">
                                            <h2 class=" h2 display-5 text-center">Our Approach</h2>
                                            <div class="bar position-relative text-center offset-5">
                                            </div>
                            </div>
                    </div>			
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <span class="border-right"></span>
                            <div class="animation-left-div">
                                    <div class="img-icon">
                                        <div class="ball-scale-ripple-multiple">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box">
                                            <span class="riple-multiple"></span>
                                        </div>
                                    </div>
                                    <div class="content px-5 ml-3">
                                        <div ><h4 class="">Frontend</h4></div>
                                        <p class="">Node Package Manager holds the thousands of open source libraries, which remove the stress of managing different libraries within a platform.</p>
                                    </div>
                            </div>
                            
                    </div>
                    <div class="col-md-4 col-sm-4"></div>
                    <div class="col-md-4 col-sm-4">
                    
                            <div class="animate-right-div">
                                    <div class="img-icon">
                                        <div class="ball-scale-ripple-multiple">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box">
                                            <span class="riple-multiple"></span>
                                        </div>
                                    </div>
                                    <div class="content px-5 ml-3">
                                        <div><h4>Frontend</h4></div>
                                        <p>Node Package Manager holds the thousands of open source libraries, which remove the stress of managing different libraries within a platform.</p>
                                    </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-4"></div>
                        <div class="col-md-4 col-sm-4">
                                <span class="border-right"></span>
                            <div class="animate">
                                    <div class="img-icon">
                                        <div class="ball-scale-ripple-multiple">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box">
                                            <span class="riple-multiple"></span>
                                        </div>
                                    </div>
                                    <div class="content px-5 ml-3">
                                        
                                        <div><h4>	Enhance the Productivity</h4></div>
                                        <p>	You experience the faster development resulting into enhanced productivity level for your business, letting you attain best revenue generation model.</p>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4"></div>
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <span class="border-right"></span>
                                <div class="animation-left-div">
                                        <div class="img-icon">
                                            <div class="ball-scale-ripple-multiple">
                                                 <div></div>
                                                 <div></div>
                                                 <div></div>
                                            </div>
                                            <div class="icon-box">
                                                <span class="riple-multiple"></span>
                                            </div>
                                        </div>
                                        <div class="content px-5 ml-3">
                                            <div><h4>Rich feature enabled</h4></div>
                                            <p>The technology utilized within this, enables the various features with less number of resources to be accomplished faster. It is a perfect choice for the larger projects.</p>
                                        </div>
                                </div>
                                
                        </div>
                        <div class="col-md-4 col-sm-4"></div>
                        <div class="col-md-4 col-sm-4">
                        
                                <div class="animate-right-div">
                                        <div class="img-icon">
                                            <div class="ball-scale-ripple-multiple">
                                                 <div></div>
                                                 <div></div>
                                                 <div></div>
                                            </div>
                                            <div class="icon-box">
                                                <span class="riple-multiple"></span>
                                            </div>
                                        </div>
                                        <div class="content px-5 ml-3">
                                            <div><h4>Highly Secured</h4></div>
                                            <p>It is the technology which comes along with the full reliability, robust features with a secured application structure, to give you a best product.</p>
                                        </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-4 col-sm-4"></div>
                            <div class="col-md-4 col-sm-4">
                                    <span class="border-right"></span>
                                <div class="animate">
                                        <div class="img-icon">
                                            <div class="ball-scale-ripple-multiple">
                                                 <div></div>
                                                 <div></div>
                                                 <div></div>
                                            </div>
                                            <div class="icon-box">
                                                <span class="riple-multiple"></span>
                                            </div>
                                        </div>
                                        <div class="content px-5 ml-3">
                                            
                                            <div><h4>	Enhance the Productivity</h4></div>
                                            <p>	You experience the faster development resulting into enhanced productivity level for your business, letting you attain best revenue generation model.</p>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4"></div>
                    </div>
            </div>
        </section>
    
    
    