<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 services-banner">
                <div class="banner-image">
                    <img src="assets/images/services/services-banner.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
	<!-- services -->
	<section class="py-5">
            <div class="container text-center py-4">
                    <div class="row ">
                            <div class="col-12 our-service-sec py-3">
                                            <h2 class=" h2 display-5 text-center ">Our Services</h2>
                                             <div class="bar position-relative text-center offset-5">
                                            </div>
                                            <h4 class="pt-3 subheading">See what we do best</h4>
                            </div>
                    </div>
            </div>
            <div class="container"> 
                <div class="row px-4 py-4">
                    <div class="col-md-4 services-sec">
                        <a  routerLink="/bi-solutions" routerLinkActive="active">
                            <figure class="img-sec">
                                    <img src="assets/images/services/mainpage/bi-solutions.jpg" alt="img02">
                                    <figcaption>
                                        <h2><span>BI Solutions</span></h2>
                                        <div class="textOnHover">
                                            <p class="text-display pb-4 pt-2">
                                                    Empower your Business with SSS Business Intelligence Services... </p>
                                        <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0"  routerLink="/bi-solutions" routerLinkActive="active">Read More</a></p>
                                        </div>
                                    </figcaption>			
                                </figure>
                        </a>
                            
                    </div>
                    <div class="col-md-4 services-sec">
                         <a  routerLink="/business-analytics" routerLinkActive="active">
                            <figure class="img-sec">
                                    <img src="assets/images/services/mainpage/BA.jpg" alt="img02">
                                    <figcaption>
                                        <h2><span>Business Analytics</span></h2>
                                        
                                        <div class="textOnHover">
                                                <p class="text-display pb-4 pt-2">SSS Business Analytics services  that gives you smart new ways to see the indications in your data... </p>
                                            <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0"  routerLink="/business-analytics" routerLinkActive="active">Read More</a></p>
                                            </div>
                                    </figcaption>			
                                </figure>
                           </a> 
                    </div>
                    <div class="col-md-4 services-sec">
                        <a  routerLink="/big-data" routerLinkActive="active">
                            <figure class="img-sec">
                                    <img src="assets/images/services/mainpage/big-data.jpg" alt="img02">
                                    <figcaption>
                                        <h2><span>Big Data</span></h2>
                                        
                                        <div class="textOnHover">
                                                <p class="text-display pb-4 pt-2">Bring value to your strategic business with SSS Big Data Delivery Excellence.... </p>
                                            <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0"  routerLink="/big-data" routerLinkActive="active">Read More</a></p>
                                            </div>
                                    </figcaption>			
                                </figure>
                            </a>
                    </div>
          
                </div>
            </div>
            <div class="container"> 
                    <div class="row px-4 py-4">
                        <div class="col-md-4 services-sec">
                             <a  routerLink="/iot" routerLinkActive="active">
                                <figure class="img-sec">
                                        <img src="assets/images/services/mainpage/IOT.jpg" alt="img02">
                                        <figcaption>
                                            <h2><span>IOT</span></h2>
                                            <div class="textOnHover">
                                                    <p class="text-display pb-4 pt-2">IoT- The next big revolution in Digital Technology computing... </p>
                                                <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0"  routerLink="/iot" routerLinkActive="active">Read More</a></p>
                                                </div>
                                        </figcaption>			
                                    </figure>
                                </a>
                        </div>
                        <div class="col-md-4 services-sec">
                             <a  routerLink="/digital-marketing" routerLinkActive="active">
                                <figure class="img-sec">
                                        <img src="assets/images/services/mainpage/DM.jpg" alt="img02">
                                        <figcaption>
                                            <h2><span>Digital Marketing</span></h2>
                                            
                                            <div class="textOnHover">
                                                    <p class="text-display pb-4 pt-2">Get closer to your customer needs in the Business space... </p>
                                                <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0"  routerLink="/digital-marketing" routerLinkActive="active">Read More</a></p>
                                            </div>
                                        </figcaption>			
                                    </figure>
                            </a>
                        </div>
                        <div class="col-md-4 services-sec">
                            <a  routerLink="/web-interface" routerLinkActive="active">
                                <figure class="img-sec">
                                        <img src="assets/images/services/mainpage/WEB-INTERFACE.jpg" alt="img02">
                                        <figcaption>
                                            <h2><span>Web Interface</span></h2>
                                            
                                            <div class="textOnHover">
                                                    <p class="text-display pb-4 pt-2">High Performance user friendly web development services... </p>
                                                <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0"  routerLink="/web-interface" routerLinkActive="active">Read More</a></p>
                                            </div>
                                        </figcaption>			
                                    </figure>
                                </a>
                        </div>
                    </div>
                </div>
                <div class="container"> 
                        <div class="row px-4 py-4">
                            <div class="col-md-4 services-sec">
                                <a routerLink="/staffing-services" routerLinkActive="active">
                                    <figure class="img-sec">
                                            <img src="assets/images/services/mainpage/STAFFING-SERVICES.jpg" alt="img02">
                                            <figcaption>
                                                <h2><span>Staffing Services</span></h2>
                                                <div class="textOnHover">
                                                        <p class="text-display pb-4 pt-2"> Human Resource Solutions  help start-ups to fortune companies build their own HR team... </p>
                                                    <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0"  routerLink="/staffing-services" routerLinkActive="active">Read More</a></p>
                                                    </div>
                                            </figcaption>			
                                        </figure>
                                </a>
                                    
                            </div>
                            <div class="col-md-4 services-sec">
                                <a routerLink="/it-outsource" routerLinkActive="active">
                                    <figure class="img-sec">
                                            <img src="assets/images/services/mainpage/IT-OUTSOURCING.jpg" alt="img02">
                                            <figcaption>
                                                <h2><span>IT OutSourcing</span></h2>
                                                
                                                <div class="textOnHover">
                                                        <p class="text-display pb-4 pt-2">Get Delivered specialized services, whilst meeting cost objectives... </p>
                                                    <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0"  routerLink="/it-outsource" routerLinkActive="active">Read More</a></p>
                                                </div>
                                            </figcaption>			
                                        </figure>
                                </a>
                            </div>
                            <div class="col-md-4 services-sec">
                                 <a routerLink="/data-science" routerLinkActive="active">
                                    <figure class="img-sec">
                                            <img src="assets/images/services/mainpage/Datascience.jpg" alt="img02">
                                            <figcaption>
                                                <h2><span>Datascience</span></h2>
                                                
                                                <div class="textOnHover">
                                                        <p class="text-display pb-4 pt-2">Our team of data scientists can help you find the hidden value in your data... </p>
                                                    <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0"  routerLink="/data-science" routerLinkActive="active">Read More</a></p>
                                                    </div>
                                            </figcaption>			
                                        </figure>
                                    </a>
                            </div>
                            <div class="col-md-4 services-sec">
                                <a routerLink="/jira" routerLinkActive="active">
                                    <figure class="img-sec">
                                            <img src="assets/images/services/mainpage/jira.jpg" alt="img02">
                                            <figcaption>
                                                <h2><span>JIRA</span></h2>
                                                
                                                <div class="textOnHover">
                                                        <p class="text-display pb-4 pt-2">we provide best services to track issue and bugs to your software and Mobile apps... </p>
                                                    <p class=" px-2 text-white ml-2"><a class="btn btn-danger " href="" tabindex="0"  routerLink="/jira" routerLinkActive="active">Read More</a></p>
                                                    </div>
                                            </figcaption>			
                                        </figure>
                                    </a>
                            </div>
                        
                        </div>
                    </div>
        </section>
    
        <section class="technologies overflow-hidden">
                <div class="container">
                        <div class="row ">
                                <div class="col-12 our-service-sec py-5">
                                                <h2 class=" h2 display-5 text-center"> Top Technologies We Work</h2>
                                                <div class="bar position-relative text-center offset-5">
                                                </div>
                                </div>
                        </div>
                    <div class="row text-center">
                    <div class="col-1"></div>
                        <div class="col-10">
                            <div class="row ">
                                <div class=" box-shape animate" >
                                    <div class="">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/looker-bi.png" width="100">
                                    </div>
                                            <p class="py-2">Looker BI </p>
                                    </div>
                                    
                                </div>
                                <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/JIRA.png" width="100">
                                </div>
                                        <p class="py-2">JIRA</p>
                                    </div>
                                <div class=" box-shape animate" style="animation-delay: .2s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/power-bi.png" width="100">
                                </div>
                                        <p class="py-2">Power BI</p>
                                </div>
                                <div class=" box-shape animate" style="animation-delay: .3s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/talend.png" width="100">
                                </div>
                                        <p class="py-2">Talend </p>
                                </div>
                                <div class=" box-shape animate" style="animation-delay: .4s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/mysql.png" width="100">
                                </div>
                                        <p class="py-2">MYSQL</p>
                                </div>
                                <div class=" box-shape animate" style="animation-delay: .5s">
                                    <div class="image-size">
                                        <img src="assets/images/services/tools/angular.png" width="100">
                                </div>
                                    <p class="py-2">Angular</p>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-1"></div>
                            <div class="col-10">
                                <div class="row ">
                                    <div class=" box-shape animate" >
                                        <div class="">
                                            <div class="image-size">
                                                <img src="assets/images/services/tools/OBIEE.png" width="100">
                                        </div>
                                                <p class="py-2"> OBIEE </p>
                                        </div>
                                        
                                    </div>
                                    <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/ODA.png" width="100">
                                    </div>
                                            <p class="py-2">ODA</p>
                                        </div>
                                    <div class=" box-shape animate" style="animation-delay: .2s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/ODI.png" width="100">
                                    </div>
                                            <p class="py-2">ODI</p>
                                    </div>
                                    <div class=" box-shape animate" style="animation-delay: .3s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/AWS.png" width="100">
                                    </div>
                                            <p class="py-2">AWS</p>
                                    </div>
                                    <div class=" box-shape animate" style="animation-delay: .4s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/tableau.png" width="100">
                                    </div>
                                            <p class="py-2">Tableau</p>
                                    </div>
                                    <div class=" box-shape animate" style="animation-delay: .5s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/AWS-redshift.png" width="100">
                                    </div>
                                        <p class="py-2">AWS Redshift</p>
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    <div class="row text-center">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <div class="row ">
                                    <div class=" box-shape animate" >
                                        <div class="">
                                            <div class="image-size">
                                                <img src="assets/images/services/tools/SQL_server.png" width="100">
                                        </div>
                                                <p class="py-2">SQL Server</p>
                                        </div>
                                        
                                    </div>
                                    <div class=" box-shape animate" style=" animation-delay: 0.1s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/qlik_sense.png" width="100">
                                    </div>
                                            <p class="py-2">Qliksense</p>
                                        </div>
                                    <div class=" box-shape animate" style="animation-delay: .2s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/informatica.png" width="100">
                                    </div>
                                            <p class="py-2">Informatica</p>
                                    </div>
                                    <div class=" box-shape animate" style="animation-delay: .3s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/Php.png" width="100">
                                    </div>
                                            <p class="py-2">PHP</p>
                                    </div>
                                    <div class=" box-shape animate" style="animation-delay: .4s">
                                        <div class="image-size">
                                            <img src="assets/images/services/tools/tableau.png" width="100">
                                    </div>
                                            <p class="py-2">Tableau</p>
                                    </div>
                                  
                                        <div class="morediv  animate" style="animation-delay: .5s">
                                            <a  routerLink="/more-technologies" routerLinkActive="active">
                                                    <div class="pt-5 justify-content-end mt-3">
                                                            <a class="text-white cfont" href="" routerLink="/more-technologies" routerLinkActive="active">more</a>
                                                    </div>    
                                            </a>
                                               
                                        </div>
                                   
                                  
                            
                                </div>
                            </div>
                        </div>
            
                </div>
        </section>
        <!-- features -->
    
        <section class="pb-5 overflow-hidden">
            <div class="container px-4 approach-sec">
                    <div class="row ">
                            <div class="col-12 our-service-sec py-5">
                                            <h2 class=" h2 display-5 text-center">Our Approach</h2>
                                            <div class="bar position-relative text-center offset-5">
                                            </div>
                            </div>
                    </div>			
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <span class="border-right"></span>
                            <div class="animation-left-div">
                                    <div class="img-icon">
                                        <div class="ball">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box">
                                            <span class="img-pos1"></span>
                                        </div>
                                    </div>
                                    <div class="content pl-5 ml-3">
                                        <div ><h4 class=""> Plan</h4></div>
                                        <p class="text-justify">
                                                We do comprehensive, composite artefact that gathers all information required to manage the project. It encloses several artefacts developed during the Inception phase and is maintained throughout the project which includes specific standards, methods, tools, actions, reuse strategy, and responsibility associated with the development and qualification of all requirements, including safety and security.
                                            </p>
                                    </div>
                            </div>
                            
                    </div>
                    <div class="col-md-4 col-sm-4"></div>
                    <div class="col-md-4 col-sm-4">
                            <span class="border-left"></span>
                            <div class="animate-right-div">
                                    <div class="img-icon">
                                        <div class="ball">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box">
                                            <span class="img-pos2"></span>
                                        </div>
                                    </div>
                                    <div class="content pl-5 ml-3">
                                        <div><h4> Design </h4></div>
                                        <p class="text-justify">We transform user requirements into some suitable form, which helps the programmer in software coding and implementation. For assessing user requirements, an SRS (Software Requirement Specification) document is created whereas for coding and implementation, there is a need of more specific and detailed requirements in software terms. The output of this process can directly be used into implementation in programming languages.</p>
                                    </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-4"></div>
                        <div class="col-md-4 col-sm-4">
                                
                            <div class="animate">
                                    <div class="img-icon">
                                        <div class="ball">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box">
                                            <span class="img-pos3"></span>
                                        </div>
                                    </div>
                                    <div class="content pl-5 ml-2">
                                        
                                        <div><h4>  Sketch 	</h4></div>
                                        <p class="text-justify">We design toolkit built to help you create your best work — from your earliest ideas, through to final artwork.</p>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4"></div>
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <span class="border-right"></span>
                                <div class="animation-left-div">
                                        <div class="img-icon">
                                            <div class="ball">
                                                 <div></div>
                                                 <div></div>
                                                 <div></div>
                                            </div>
                                            <div class="icon-box">
                                                <span class="img-pos4"></span>
                                            </div>
                                        </div>
                                        <div class="content pl-5 ml-3">
                                            <div><h4> Develop</h4></div>
                                            <p class="text-justify">
                                                    We involve in creating software programs, embodying all the stages throughout the software development life cycle (SDLC). SDLC methodologies support the design of software to meet a business need, the development of software to meet the specified design and the deployment of software to production
                                               </p>
                                        </div>
                                </div>
                                
                        </div>
                        <div class="col-md-4 col-sm-4"></div>
                        <div class="col-md-4 col-sm-4">
                                <span class="border-left"></span>
                                <div class="animate-right-div">
                                        <div class="img-icon">
                                            <div class="ball">
                                                 <div></div>
                                                 <div></div>
                                                 <div></div>
                                            </div>
                                            <div class="icon-box">
                                                <span class="img-pos6"></span>
                                            </div>
                                        </div>
                                       
                                        <div class="content pl-5 ml-3">
                                            <div><h4> Deliver</h4></div>
                                            <p class="text-justify">
                                                    Projects create deliverables, which are simply the results of the project or the processes in the project. That means a deliverable can be something as big as the objective of the project itself or the reporting that is part of the larger project. Another way to put that is that there are inputs and outputs in any type of project. That being what you put into the project, such as data, resources, etc., and then what comes out, which are the deliverables. Again, those deliverables can be a product or service and it can also be the documentation that is part of the project closure to show that the project is complete, and everything has been signed off.
                                            </p>
                                        </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-4 col-sm-4"></div>
                            <div class="col-md-4 col-sm-4">
                                   
                                <div class="animate">
                                        <div class="img-icon">
                                            <div class="ball">
                                                 <div></div>
                                                 <div></div>
                                                 <div></div>
                                            </div>
                                            <div class="icon-box">
                                                <span class="img-pos5"></span>
                                            </div>
                                        </div>
                                        <div class="content px-5 ml-3">
                                            
                                            <div><h4> Test</h4></div>
                                            <p class="text-justify">
                                                
                                                We undertake hundreds of hours to test quality assurance across multiple devices.
                                                	</p>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4"></div>
                    </div>
            </div>
        </section>
    
    
    