<section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bi-solutions">
                    <div class="banner-image">
                        <img src="assets/images/services/jira/Jira_1.jpg">
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="bi-solutions-text py-5">
                       <h3 class="text-center">
                        The best software teams ship early and often.
                       </h3>
                       <p class="text-center">
                        Jira Software is built for every member of your software team to plan,
                        track, and release great software.As your organization grows, Jira Software helps you stay better aligned across teams – while providing you visibility into potential risks and the progress of key priorities.
                       </p>
                    </div>
                </div>
            </div>
        </div>
</section>
<section >
        <div class="container py-5 empower-services">
            <div class="row align-items-stretch " > 
                <div class="col-6 ">
                    <div class="title-center empower-tool-main-heading">
                            <h5 class="d-flex align-self-center">	
                                Plan</h5>
                    </div>
                       
                </div>
                <div class="col-6">
                    <div class="row">
                       <div class="col-2">
                            <div class="img-icon">
                                    <div class="animate-ball">
                                         <div></div>
                                         <div></div>
                                         <div></div>
                                    </div>
                                    <div class="icon-box">
                                    
                                        <span class=""><i class="fa fa-skyatlas"></i></span>
                                    </div>
                                </div>
                       </div>
                       <div class="col-10" >
                          
                        <div class="text-justify empower-tool-text">
                            <span class="rightborder"></span>
                           <p>Create user stories and issues, plan sprints, and distribute tasks across your software team.</p> 
       
                          </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="">
                                <img class="dots-image" src="assets/images/services/down_dashed_row.png">
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-stretch" > 
                    <div class="col-6">
                        <div class="row py-3">
                           <div class="col-10 pt-3" > 
                            <div class="text-justify pr-4 empower-tool-text">
                                   <p> Prioritize and discuss your team’s work in full context with complete visibility.</p>
                                    
                              </div>
                              <span class="leftborder"></span>
                           </div>
                           <div class="col-auto">
                                <div class="img-icon cleft sec2">
                                        <div class="animate-ball ">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box icon-color">
                                            <span class=""><i class="fa fa-suitcase"></i></span>
                                        </div>
                                    </div>
                           </div>
                        </div> 
                    </div>
                    <div class="col-6">
                            <div class="rtitle-center empower-tool-main-heading"><h5>		
                                Track
                                </h5></div>
                            <div class="row mb-5 pb-5">
                                    <div class="col-12">
                                        <div class="">
                                            <img class="dots-image-left"  src="assets/images/services/down_dashed_row.png">
                
                                        </div>
                                    </div>
                            </div> 
                    </div>
                </div>
                <div class="row align-items-stretch mt-5 " > 
                    <div class="col-6 ">
                        <div class="title-center empower-tool-main-heading">
                                <h5 class="d-flex align-self-center">Release</h5>
                        </div>
                           
                    </div>
                    <div class="col-6">
                        <div class="row">
                           <div class="col-2">
                                <div class="img-icon">
                                        <div class="animate-ball">
                                             <div></div>
                                             <div></div>
                                             <div></div>
                                        </div>
                                        <div class="icon-box ">
                                            <span class=""><i class="fa fa-refresh text-centercfont"></i></span>
                                        </div>
                                    </div>
                           </div>
                           <div class="col-10" >
                              
                            <div class="text-justify empower-tool-text">
                                <span class="rightborder"></span>
                               <p>Ship with confidence and sanity knowing the information you have is always up-to-date.

                            </p> 
           
                              </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="">
                                    <img class="dots-image" src="assets/images/services/down_dashed_row.png">
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-stretch " > 
                        <div class="col-6">
                            <div class="row py-3">
                               <div class="col-10 pt-3" > 
                                <div class="text-justify empower-tool-text pr-4">
                                            <p> Improve team performance based on real-time, visual data that your team can put to use.

                                            </p>
                                  </div>
                                  <span class="leftborder"></span>
                               </div>
                               <div class="col-auto">
                                    <div class="img-icon cleft sec2">
                                            <div class="animate-ball ">
                                                 <div></div>
                                                 <div></div>
                                                 <div></div>
                                            </div>
                                            <div class="icon-box icon-color">
                                                <span class=""><i class="fa fa-bug"></i></span>
                                            </div>
                                    </div>
                               </div>
                            </div> 
                        </div>
                        <div class="col-6">
                                <div class="rtitle-center empower-tool-main-heading"><h5>	
                                    Report
                                </h5></div>
                                <div class="row">
                                        <div class="col-12">
                                            <!-- <div class="">
                                                <img class="dots-image-left"  src="assets/images/services/down_dashed_row.png">
                    
                                            </div> -->
                                        </div>
                                </div> 
                        </div>
                    </div>
        </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="big-data-image">
                    <img src="assets/images/services/jira/Jira-service-desk.png"> 
                </div>
            </div>
        </div>
    </div>
</section>