<section>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-12  background-video position-relative">
                <div class="row ">
                    <video class="col-12  p-0 " preload="none" playsinline autoplay muted loop >
                        <source src="assets/videos/intechnic.mp4" type="video/mp4">
                        <source src="assets/videos/intechnic.webm" type="video/webm">
                        <source src="assets/videos/intechnic.ogv" type="video/ogg">
                    </video>
                </div>
            </div>

            <div class="banner-sec position-absolute">
                <div class="row align-content-between h-100 m-0">
                    <div class="col-12">header</div>
                    <div class="col-6 offset-2 banner-sec-text">
                            <h1 class="block  text-white display-4 ">Ultimate<br> Digital<br> Experiences</h1>
                            <p class="block-none text-white mt-5">to acquire, retain, and<br> delight your clients</p>
                    </div>
                    <nav class="banner-sec-nav btn-group btn-group--collapsed is-hidden--sm-down offset-2">
                        <a class="btn border border-light text-white" href="#">Strategy</a>
                        <a class="btn  border border-light text-white" href="#">User Experience</a>
                        <a class="btn  border border-light text-white" href="#">Web Design</a>
                        <a class="btn  border border-light text-white" href="#">Digital Marketing</a>
                    </nav>
                    <div class="col-12"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="d-block mt-5">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12 ">
                    <h1 class="text-dark offset-2 display-4 strategy-text">Strategy</h1>
                    <div class="row  justify-content-center">
                            <div class=" col-7  background-cover strategy_background   ">
                                    <div class=" ">
                                        <div class="rounded strategy-video px-0">
                                            <video class="col-12 p-0 py-0 " preload="none" playsinline autoplay muted loop >
                                                    <source src="assets/videos/strategy.mp4" type="video/mp4">
                                                    <source src="assets/videos/strategy.webm" type="video/webm">
                                                    <source src="assets/videos/strategy.ogv" type="video/ogg">
                                            </video>
                                        </div>
                                    </div>
                            </div>
                    </div>
                    
            </div>
        </div>
    </div>
</section><br><br> -->
 <section class="services position-relative" > 
    <div class="container">
        <div class="row justify-content-center mt-5">
                <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ">
                        <div class="mb-4 p-3">
                                <span class="icon-container grad-style-cd-light offset-3 mb-3">
                                        <i class="fa fa-mobile fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                </span>
                        </div>
                        <div>
                            <h4 class="text-center  mb-3">Logo & Branding</h4>
                        </div>
                        <div>
                            <p class="text-center">Morbi ullamcorper ipsum ipsum, ut dictum mi hendrerit sit amet. Aliquam tincidunt rhoncus ligula,
                                    vel porta ante pulvinar eget suspendisse.</p>
                        </div>
                </div>
                <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ml-4">
                    <div class="mb-4 p-3">
                            <span class="icon-container grad-style-cd-light offset-3 mb-3">
                                    <i class="fa fa-mobile fa-4x align-content-between icon-style" aria-hidden="true"></i>
                            </span>
                    </div>
                    <div>
                        <h4 class="text-center  mb-3">Logo & Branding</h4>
                    </div>
                    <div>
                        <p class="text-center">Morbi ullamcorper ipsum ipsum, ut dictum mi hendrerit sit amet. Aliquam tincidunt rhoncus ligula,
                                vel porta ante pulvinar eget suspendisse.</p>
                    </div>
                </div>
                <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ml-4">
                    <div class="mb-4 p-3">
                            <span class="icon-container grad-style-cd-light offset-3 mb-3">
                                    <i class="fa fa-mobile fa-4x align-content-between icon-style" aria-hidden="true"></i>
                            </span>
                    </div>
                    <div>
                        <h4 class="text-center  mb-3">Logo & Branding</h4>
                    </div>
                    <div>
                        <p class="text-center">Morbi ullamcorper ipsum ipsum, ut dictum mi hendrerit sit amet. Aliquam tincidunt rhoncus ligula,
                                vel porta ante pulvinar eget suspendisse.</p>
                    </div>
                </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ">
                    <div class="mb-4 p-3">
                            <span class="icon-container grad-style-cd-light offset-3 mb-3">
                                    <i class="fa fa-mobile fa-4x align-content-between icon-style" aria-hidden="true"></i>
                            </span>
                    </div>
                    <div>
                        <h4 class="text-center  mb-3">Logo & Branding</h4>
                    </div>
                    <div>
                        <p class="text-center">Morbi ullamcorper ipsum ipsum, ut dictum mi hendrerit sit amet. Aliquam tincidunt rhoncus ligula,
                                vel porta ante pulvinar eget suspendisse.</p>
                    </div>
            </div>
            <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ml-4">
                <div class="mb-4 p-3">
                        <span class="icon-container grad-style-cd-light offset-3 mb-3">
                                <i class="fa fa-mobile fa-4x align-content-between icon-style" aria-hidden="true"></i>
                        </span>
                </div>
                <div>
                    <h4 class="text-center  mb-3">Logo & Branding</h4>
                </div>
                <div>
                    <p class="text-center">Morbi ullamcorper ipsum ipsum, ut dictum mi hendrerit sit amet. Aliquam tincidunt rhoncus ligula,
                            vel porta ante pulvinar eget suspendisse.</p>
                </div>
            </div>
            <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ml-4">
                <div class="mb-4 p-3">
                        <span class="icon-container grad-style-cd-light offset-3 mb-3">
                                <i class="fa fa-mobile fa-4x align-content-between icon-style" aria-hidden="true"></i>
                        </span>
                </div>
                <div>
                    <h4 class="text-center  mb-3">Logo & Branding</h4>
                </div>
                <div>
                    <p class="text-center">Morbi ullamcorper ipsum ipsum, ut dictum mi hendrerit sit amet. Aliquam tincidunt rhoncus ligula,
                            vel porta ante pulvinar eget suspendisse.</p>
                </div>
            </div>
    </div>
    </div>
</section> 
<!-- client section division -->
<section class="d-block mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 position-relative client-bng-image p-0">
                <div class="">
                    <img class="d-block"  src="assets/images/client-bng.png"  width="100%" alt="Not Found">
                </div>
            </div>
            <div class="col-6 offset-3 position-absolute p-2 ">
                <div class="row">
                        <div class="col-12">
                            <div id="carouselExampleIndicators" class="carousel slide client-sliders" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active client-says-div p-4 rounded bg-white">
                                        <div class="row">
                                            <div class="col-2 ">
                                                    <img class="d-block rounded client-images"  src="assets/images/1.JPG" alt="Not Found">
                                            </div>
                                            <div class="col-6 client-say-name">
                                                <h5 class="h5 text-dark">Andy'o Carner</h5>
                                                <span class="">CEO & Co-founder</span>
                                            </div>
                                        </div>
                                        <div class="row  p-2 mt-2">
                                            <div class="col-12 client-say-para">
                                                    <p>Srinivasan Software Solutions, a Global Advanced Technological Business solutions.Established in 2009 in the Temple town Tirupati with an intention to provide world-class  </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item client-says-div p-4 rounded bg-white">
                                            <div class="row">
                                                    <div class="col-2 ">
                                                            <img class="d-block rounded client-images"  src="assets/images/1.JPG" alt="Not Found">
                                                    </div>
                                                    <div class="col-6 client-say-name">
                                                        <h5 class="h5 text-dark">Andy'o Carner</h5>
                                                        <span class="">CEO & Co-founder</span>
                                                    </div>
                                            </div>
                                            <div class="row  p-2 mt-2">
                                                    <div class="col-12 client-say-para">
                                                            <p>Srinivasan Software Solutions, a Global Advanced Technological Business solutions.Established in 2009 in the Temple town Tirupati with an intention to provide world-class  </p>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="carousel-item client-says-div p-4 rounded bg-white">
                                        <div class="row">
                                            <div class="col-2 ">
                                                    <img class="d-block rounded client-images"  src="assets/images/1.JPG" alt="Not Found">
                                            </div>
                                            <div class="col-6 client-say-name">
                                                <h5 class="h5 text-dark">Andy'o Carner</h5>
                                                <span class="">CEO & Co-founder</span>
                                            </div>
                                        </div>
                                        <div class="row  p-2 mt-2">
                                            <div class="col-12 client-say-para">
                                                <p>Srinivasan Software Solutions, a Global Advanced Technological Business solutions.Established in 2009 in the Temple town Tirupati with an intention to provide world-class  </p>
                                            </div>
                                        </div>   
                                    </div>
                                </div>
                                    <div class=" carousal-indicators offset-5 rounded position-absolute">
                                        <div class="carousal-indicators-anchor">
                                                <a class="carousel-control-prev posi ml-3 " href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                </a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- client section division end-->

<section  class="wow fadeIn design-process-pc position-relative mb-5" >
    <h4 style="color:#000;" class=" text-center section_heading">OUR <span style=" padding-top: 20px;">PR<span style="color:#00bcd4;">O</span>CESS</span></h4>
       <div class="container-fluid padding-thirteen-lr md-padding-six-lr xs-padding-15px-lr">
           
           <div class="row equalize sm-equalize-auto">
             
               <div class="col-md-2 col-sm-12 col-xs-12 section_process1 animatable1" style="height: 211px;">
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">01.</h3>					
                   <h6><b>D</b>iscussion</h6>
                   <p>Interacting with a Client and getting all the possible requirements needed for the website</p>
               </div>
                <div class="col-md-2 col-sm-12 col-xs-12 section_process2 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">03.</h3>
                   <h6><b>A</b>pproval</h6>
                   <p>The approved mockup layout with the additional specifications, we design the final layout</p>
               </div>
                <div class="col-md-2 col-sm-12 col-xs-12 section_process3 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">05.</h3>
                   <h6><b>G</b>raphic Design</h6>
                   <p>The Team focuses on info-graphics mainly required for the website which gives life to the website</p>
               </div>
                <div class="col-md-2 col-sm-12 col-xs-12 section_process4 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">07.</h3>
                   <h6><b>T</b>esting</h6>
                   <p>The website will be thoroughly tested for responsiveness, functionality and browser compatibility </p>
               </div>
            
           </div>
            <div class="row equalize sm-equalize-auto" style="margin-top:20%;">
              
               <div class="col-md-2 col-sm-12 col-xs-12 section_process5 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">02.</h3>
                   <h6><b>S</b>ketch</h6>
                   <p>We design the mockup layout that matches the specified requirement</p>
               </div>
                <div class="col-md-2 col-sm-12 col-xs-12 section_process6 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">04.</h3>
                   <h6><b>W</b>eb Design</h6>
                   <p>All the other webpages will be designed in-line with the structure that was approved by the client</p>
               </div>
                <div class="col-md-2 col-sm-12 col-xs-12 section_process7 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">06.</h3>
                   <h6><b>O</b>ptimization</h6>
                   <p>The website will be optimized by compressing the images, minifying CSS and js to make the site load faster</p>
               </div>
                <div class="col-md-2 col-sm-12 col-xs-12 section_process8 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">08.</h3>
                   <h6><b>H</b>osting</h6>
                   <p>Hosting the website on secure cloud and installing an SSL certificate that gives the secure lock to the website</p>
               </div>
             
           </div>
       </div>
</section>
<section class="secTech">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 ">
                <p>Efficiently unleash cross-media information without cross-media value. Quickly maximizePodcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deepdive on the integration.</p>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 boxTech {{techScrollView}}">
                        <div class="tech-1 techview">
                            <img src="assets/tech-img/tech-3.jpg" class="w-100 d-inline-block" alt="tech1"/>
                        </div>
                        <div class="tech-2 techview">
                            <img src="assets/tech-img/tech-2.jpg" class="w-100 d-inline-block" alt="tech1"/>
                        </div>
                        <div class="tech-3 techview">
                            <img src="assets/tech-img/tech-1.jpg" class="w-100 d-inline-block" alt="tech1"/>
                        </div>
                        <div class="tech-4 techview">
                            <img src="assets/tech-img/tech-11.jpg" class="w-100 d-inline-block" alt="tech1"/>
                        </div>
                        <div class="tech-5 techview">
                            <img src="assets/tech-img/tech-7.jpg" class="w-100 d-inline-block" alt="tech1"/>
                        </div>
                        <div class="tech-6 techview">
                            <img src="assets/tech-img/tech-6.jpg" class="w-100 d-inline-block" alt="tech1"/>
                        </div>
                        <div class="tech-7 techview">
                            <img src="assets/tech-img/tech-9.jpg" class="w-100 d-inline-block" alt="tech1"/>
                        </div>
                        <div class="tech-8 techview">
                            <img src="assets/tech-img/tech-4.jpg" class="w-100 d-inline-block" alt="tech1"/>
                        </div>
                        <div class="tech-9 techview">
                            <img src="assets/tech-img/tech-8.jpg" class="w-100 d-inline-block" alt="tech1"/>
                        </div>
                        <div class="tech-10 techview">
                            <img src="assets/tech-img/tech-5.jpg" class="w-100 d-inline-block" alt="tech1"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>