
.banner-sec{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #001d77 0%, transparent 30%);
}
.banner-sec-text h1{
    font-weight: 700;
}
.banner-sec-text p{
    font-size: 1.4rem;
}
.strategy-video video{
    box-shadow: 0 0rem 10rem 6rem rgba(0,0,0,.175)!important;
    border-radius: 1%;
    height:457px;
}
.strategy-text{
    font-weight: 500;
}
/* styles for services block */
.service-box-1{
    height: 20%;
    background-color: #fff;
    border-radius: 5%;
}

.service-box-1 p{
   color: #6084a4;
    font-weight: 300;
    font-family: "Hind Vadodara", sans-serif;
    line-height: 2rem;
}
.service-box-1 h4{
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
    color: #203f99;
}
.icon-container{
    width: 135px;
    height: 110px;
    border-radius: 110px;
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    /* transform: rotate(150deg); */
    transform: rotate(-146deg);
    margin-bottom: 4.5rem;
    position: relative;
    background-image: -webkit-linear-gradient(45deg, #fff3f6, #fef5f5);
    background-image: -o-linear-gradient(45deg, #fff3f6, #fef5f5);
    background-image: linear-gradient(45deg, #fff3f6, #fef5f5);
    background-repeat: repeat-x;
    
}
.icon-container i{
    font-size: 3.5rem;
    line-height: 1;
    font-style: normal;
    -webkit-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    transform: rotate(-150deg);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #ff7cb0;
}
.icon-container::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 110px;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.icon-container.grad-style-cd-light::after {
    background-image: -webkit-linear-gradient(45deg, #2921a999, #ff7cb0);
    background-image: -o-linear-gradient(45deg, #2921a999, #ff7cb0);
    background-image: linear-gradient(45deg, #2921a999, #ff7cb0);
    background-repeat: repeat-x;
}
/* .content-block:hover .icon-container-1 i {
    color:#fff;
    background-image: url("../../../assets/images/jira-white.png");

} */
.img-color{
    display: inline-block;
}
.img-nocolor{
    display: none;
}
.content-block:hover .img-color{
    display: none;
}
.content-block:hover .img-nocolor{
    display: inline-block;
   
}

/* .content-block:hover .icon-container-2 i {
    color:#fff;
    background-image: url("../../../assets/images/services_icons/talendo_icon_white.png");

} */
.talend-img-color{
    display: inline-block;
}
.talend-img-nocolor{
    display: none;
}
.content-block:hover .talend-img-color{
    display: none;
}
.content-block:hover .talend-img-nocolor{
    display: inline-block;
}

.looker-img-color{
    display: inline-block;
}
.looker-img-nocolor{
    display: none;
}
.content-block:hover .looker-img-color{
    display: none;
}
.content-block:hover .looker-img-nocolor{
    display: inline-block;
}





.content-block:hover .icon-container::after {
    opacity: 1;
}
.content-block::before {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 50px rgba(166, 209, 237, 0.2);
    box-shadow: 0 10px 50px rgba(166, 209, 237, 0.2);
    z-index: -2;
}
.content-block::after {
    content: " ";
    width: 95%;
    height: 95%;
    z-index: -3;
    position: absolute;
    top: auto;
    bottom: 1px;
    left: 1px;
    border-radius: 12px;
    background-image: -webkit-linear-gradient(-54deg, #203f9969, #f50d0dcf);
    background-image: -o-linear-gradient(-54deg, #203f9969, #f50d0dcf);
    background-image: linear-gradient(-54deg, #203f9969, #f50d0dcf);
    background-repeat: repeat-x;
    outline: 1px solid transparent;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.content-block:hover::after {
    -webkit-transform: rotate(2deg) translateX(-5px) translateY(16px);
    -ms-transform: rotate(2deg) translateX(-5px) translateY(16px);
    transform: rotate(2deg) translateX(-5px) translateY(16px);
}


/* Styles for client say */

.carousal-indicators{
top: -26px;
z-index: 9;
background: linear-gradient(45deg, #e9a17b, #ff7cb0);
width: 11%;
float: left;
height: 40px;
box-shadow:-5px 0px 29px 1px #888;
}
.carousel-inner {
    box-shadow:-5px 0px 29px 1px #888;
}
.client-says-div{
    height: 200%;
}
.client-images{
    width: 90%;
    height: 90%;
}
.client-say-name h5{
    font-family: "Fira Sans", sans-serif;
}
.client-say-name span{
    color: #95a2b1d9;
}
.client-say-para p{
    color: #69798d;
}
.carousel-control-next{
    margin-right: 1em;
}
.client-sliders
{
    top:149px;
}
/* Styles for client say end */
.design-process-pc{
    padding: 220px 0px; 
    visibility: visible; 
    animation-name: fadeIn; 
}
/* Styles for trusted clients */
.trusted-clients{
    border: 3px solid #2921a999;
    border-radius: 2.25rem;
    height: 115px;
    overflow: hidden;
    margin: 13px 3px;
}
.trusted-clients:hover{
    transform: scale(1, 1.1);
}
.img-thumbnail{
    border:none;
}


/***
Kumar S
*/
.boxTech{
    position: relative;
    min-height: 580px;
}
.techview{
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 1200ms ease;
    -moz-transition: all 1200ms ease;
    -webkit-transition: all 1200ms ease;
    -ms-transition: all 1200ms ease;
    -o-transition: all 1200ms ease;
    border-radius: 50%;
    overflow: hidden;

}
.tech-1 {
    width: 154px;
    height: 154px;
    margin-left: -77px;
    margin-top: -77px;
}
.boxTechView .tech-1 {
    left: 5%;
    top: 42%;
}

.tech-2 {
    width: 111px;
    height: 102px;
    margin-left: -47px;
    margin-top: -47px;
}
.boxTechView .tech-2{
    left: 20%;
    top: 20%;
}
.tech-3 {
    width: 96px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
}
.boxTechView .tech-3{
    left: 38%;
    top: 22%;
}
.boxTechView .tech-4 {
    right: 30%;
    top: 0%;
}
.tech-4 {
    width: 99px;
    height: 91px;
    margin-left: -25px;
    margin-top: -25px;
}

.tech-5 {
    right: 50%;
    top: 50%;
    left: auto;
    width: 110px;
    height: 108px;
    margin-left: -36px;
    margin-top: -36px;
}
.boxTechView .tech-5{
    right: 6%;
    top: 14%;
}

.tech-6 {
    right: 50%;
    top: 50%;
    left: auto;
    width: 100px;
    height: 92px;
    margin-left: -36px;
    margin-top: -36px;
}

.boxTechView .tech-6 {
    /* right: 30%;
    top: 30%; */
    right: 31%;
    top: 30%;
}
.tech-7{
    right: 50%;
    top: 50%;
    left: auto;
    width: 87px;
    height: 94px;
    margin-left: -22px;
    margin-top: -22px;
}
.boxTechView .tech-7 {
    right: 10%;
    top: 40%;
}
.tech-8{
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
}
.boxTechView .tech-8 {
    left: 35%;
    top: 48%;
}
.tech-9 {
    width: 99px;
    height: 94px;
    margin-top: -23px;
    margin-left: -91px;
}
.boxTechView .tech-9 {
    left: 65%;
    top: 60%;
}
.tech-10 {
    right: 50%;
    top: 50%;
    left: auto;
    /* width: 58px;
    height: 58px; */
    width: 123px;
    height: 110px;
    margin-left: -29px;
    margin-top: -29px;
}
.boxTechView .tech-10 {
    right: 6%;
    top: 66%;
}
.tech-11 {
    left: 50%;
    bottom: 50%;
    top: auto;
    width: 58px;
    height: 58px;
    margin-left: -29px;
    margin-top: -29px;
}
.boxTechView .tech-11 {
    left: 25%;
    bottom: 10%;
}
/***
Kumar E
*/
.top-technology{
    margin-left:6.1em;
}
.top-technology h4
{
    /* font-weight: 400; */
    /* font-family: "Fira Sans", sans-serif; */
    color: #eb1111f5;
    font-size: 34px;
}
.top-technology p
{
    /* color: #8996a6; */
    color: #203d99;
    font-weight: 500;
    font-family: "Hind Vadodara", sans-serif;
    line-height: 2rem;
}

/* 
styles for about us  */

.top-tech-button:hover{
    transform: scale(1, 1.1);
}

.top-tech-button a{
    text-decoration: none;
}
.trusted-clients-heading h4{
    font-size: 3em;
    color: #ec1f1f!important;
}

.about-us-block{
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 8px 8px #c3c0d8;
    border: 1px solid #7352d2;
}
.about-us-block p{
    color: #6084a4;
    font-weight: 300;
    font-family: "Hind Vadodara", sans-serif;
    line-height: 2rem;
    font-size: 16px;
}
.about-us-block h4{
    /* font-weight: 200; */
    font-family: "Fira Sans", sans-serif;
    color: #203f99;
    font-size: 18px;
}
.about-us-block:hover{
    color: #ffffff;
    transition: 0.5s;
    transform: translateY(-10px);
    /* background: linear-gradient(117deg, #ec1a1a 0%, #203f99f5 100%); */
    /* background: linear-gradient(135deg, #ff000024 0%, rgb(247, 0, 4) 100%); */
    /* background: linear-gradient(135deg, #ec1a1a 0%, #203f99f5 100%); */
    background: linear-gradient(135deg, #ffbf00 0%, rgba(247, 0, 4, 0.84) 100%);
}
.about-us-block:hover p,.about-us-block:hover span,.about-us-block:hover h4 {
    color: #ffffff;
}
.about-us-block:hover span{
    background: #ffffffe3;
    font-weight: bold;
  
}
.about-icon-container:hover {
    color: #fff;
}
.fa-4x {
    font-size: 2em;
}

.about-icon-container{
    width: 83px;
    height: 74px;
    border-radius: 110px;
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
    margin-bottom: 4.5rem;
    position: relative;
   
    background-repeat: repeat-x;
    
}
.about-icon-container i{
    /* font-size: 5rem; */
    line-height: 1;
    font-style: normal;
    -webkit-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    transform: rotate(-150deg);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  
}
.about-icon-1
{
    background: #3e24cc30;
}
.about-icon-2
{
    background: #ffa50042;
}
.about-icon-3
{
    background: #2cd85326;

}
/* .about-continer-text h4
{

    color: #1b7e31;
} */
.about-icon-4
{
    background: #eb4d5c1f;
}
.about-icon-1  i{
    color: #1c1cca;
   
}
.about-icon-2  i{
    color: #fb8f09eb;
}
.about-icon-3  i{
    color: #76ca89;
}
.about-icon-4  i{
    color: #ed4d9e;
}
.about-icon-container::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 110px;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.about-us-block:hover .about-icon-container::after {
    opacity: 1;
}
/* .about-us-block::before {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 50px rgba(166, 209, 237, 0.2);
    box-shadow: 0 10px 50px rgba(166, 209, 237, 0.2);
    z-index: -2;
} */
/* srtles for rotate a circle */
.centers{
    width: 450px;
    height: 520px;
    /* align-items: center; */
    margin-right: 64px;
}
.circle_rotate{
    height: 535px;
    position: relative;
}
.circle_rotate::before{
    content: "";
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right: 0;
    position: absolute;
    background-image: url("../../../assets/images/circle-image.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* height: 535px; */
    animation: rotateme 15s infinite;
    animation-timing-function: linear;
}
@keyframes rotateme {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes rotateme {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
                           
  .our-service-sec h2{
    /* font-weight: 400; */
    /* font-family: "Fira Sans", sans-serif; */
    color: #eb1111f5;
    font-size: 34px;
  }
  .our-service-sec p{
    color: #203d99;
    
    font-weight: 500;
    /* color: #6084a4; */
    line-height: 1.9;
  }
  .our-service-sec-block{
    color: #6084a4;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  }
  
  .our-service-sec-block:hover {
    color: #ffffff;
    transition: 0.5s;
    transform: translateY(-10px);
    background: linear-gradient(117deg, #ec1a1a 0%, #5034ebe6 100%);
  }
  .our-service-main-div{
      background-color: #f7fafd;
  }
  
  /* .about-us-block-div-banner{
      background-image: url("../../../assets/images/banner-curve-image.jpg");
  } */
  .shape1 {
    position: absolute;
    /* top: -15%; */
    z-index:0;
    left: 30px;
    -webkit-animation: rotate3d 4s linear infinite;
    animation: rotate3d 4s linear infinite;
    opacity: .4;
  }
  @keyframes rotate3d {
    0% {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }
  .shape2 {
    position: absolute;
    right: 21%;
    top: -13%;
    z-index: 0;
    animation: movebounce 4s linear infinite;
    opacity: .2;
  }
  
@keyframes movebounce {
    0% {
              transform: translateY(0px);
    }
    50% {
              transform: translateY(20px);
    }
    100% {
              transform: translateY(0px);
    }
  }
  .w3-animate-zoom {
      animation:animatezoom 0.6s
    }
    @keyframes animatezoom{
        from{transform:scale(0)
        } 
        to{
            transform:scale(1)
        }
    }

    
    .information-block .inner-box {
        position: relative;
        text-align: center;
        border-radius: 8px;
        overflow: hidden;
        padding: 30px 20px 45px;
        border: 1px solid #dedede;
    }
    .information-block .inner-box:before {
        position: absolute;
        content: '';
        left: 0%;
        top: 0%;
        width: 0px;
        height: 100%;
        background-color: #47408926;
        -webkit-transition: all 1000ms ease;
        -moz-transition: all 100ms ease;
        -ms-transition: all 1000ms ease;
        -o-transition: all 1000ms ease;
        transition: all 1000ms ease;
        z-index: -1;
    }
    .information-block .inner-box:hover::before {
        width: 100%;
    }
    .information-block .inner-box .icon-box {
        position: relative;
        z-index: 1;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        display: inline-block;
        /* background: url(../images/icons/icon-1.png) no-repeat; */
        background-image: url("../../../assets/images/contact/icon-1.png");
    }
    .icon-box-1{
        color: #fe7696;
    }
    .icon-box-2{
        color: #4e79f5;
    }
    .icon-box-3{
        color: #42bd2d;;
    }
    .icon-box-4{
       color: #b276f3;
    }
    .inner-box h3{
        color: #43408b;
    }
    .inner-box .text{
        color: #7f8497;
        line-height: 1.8em;
        margin-top: 10px;
    }


    .about-icon-container{
        background-image: url("../../../assets/images/contact/icon-2.png");
    }
    .our-services-block-heading{
        margin-left: 38em;
    }





    .hover-shape-1 {
        left: 0px;
        top: 20px;
    }
    .hover-shape {
        width: 20px;
        height: auto;
        position: absolute;
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transform: rotate(260deg);
        transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    .service-box-1:hover .hover-shape-1{
        left: -48px;
        top: 20px;
        opacity: 1;
    }
    .service-box-1:hover .hover-shape-2{
        right: 29%;
        top: -45px;
        opacity: 1;
        /* transform: rotate(0deg); */
    }
    .service-box-1:hover .hover-shape-3{
        right: -27px;
        bottom: 35%;
        opacity: 1;
    }
    .service-box-1:hover .hover-shape-4{
        right: 30%;
        bottom: -60px;
        opacity: 1;
    }
    .service-box-1:hover .hover-shape-5{
        left: -35px;
        bottom: 30%;
        opacity: 1;
    }
    /* .hover-shape:hover {
       
        opacity: 1;
    } */
    .hover-shape-2 {
        right: 29%;
        top: 0px;
    }
    .hover-shape-3 {
        right: 0px;
        bottom: 35%;
    }
    .hover-shape-4 {
        right: 30%;
        bottom: 0px;
    }
    .hover-shape-5 {
        left: 0px;
        bottom: 30%;
    }
    .services-icon-images{
        height: 50px;
        width: 45%;
        /* color: white; */
        transform: rotate(-215deg);
    }
    .home-page-btn{
        border: 2px solid white;
    }
    .our-service-sec h3{
        color: #43378a;
        font-size: 34px;
    }