
<section>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-12  background-video position-relative">
                <div class="row ">
                        <!-- <video autoplay muted loop>
                                <source type="video/mp4"  src="assets/videos/web-videos-1.mp4">
                        </video> -->
                        <video class="col-12  p-0 " loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
                                <source src="assets/videos/web-videos_2.mp4" type="video/mp4">
                        </video>
                    <!-- <video class="col-12  p-0 " preload="none" playsinline autoplay muted loop >
                        <source src="assets/videos/web-videos-1.mp4" type="video/mp4"> -->
                        <!-- <source src="assets/videos/web-videos-1.webm" type="video/webm">
                        <source src="assets/videos/web-videos-1" type="video/ogg"> -->
                    <!-- </video> -->
                </div>
            </div> 

            <div class="banner-sec position-absolute">
                <div class="row align-content-between h-100 m-0">
                    <div class="col-12 py-5"></div>
                    <div class="col-6 offset-2 banner-sec-text animate-right">
                            <h1 class="block  text-white display-4 ">Extracting<br> Intelligence<br> Data</h1>
                            <p class="block-none text-white mt-4 mb-5">Your business growth is directly proportional <br> to the value created from your data </p>
                            <a href="#" class="btn-style-two mt-5 home-page-btn">Contact Us</a>
                            <a href="#" class="btn-style-two ml-5 mt-5 home-page-btn">Our Solutions</a>
                    </div>
                    <!-- <nav class="banner-sec-nav btn-group btn-group--collapsed is-hidden--sm-down offset-2 animate-left">
                        <a class="btn border border-light text-white" href="#">Strategy</a>
                        <a class="btn  border border-light text-white" href="#">User Experience</a>
                        <a class="btn  border border-light text-white" href="#">Web Design</a>
                        <a class="btn  border border-light text-white" href="#">Digital Marketing</a>
                    </nav> -->
                    <div class="col-12"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section for accuray etc -->
<section class=" our-service-main-div py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <div class="col-12">
                            <div class="row justify-content-center align-content-center circle_rotate">
                                <img src="assets/images/sample-2.png" class="centers" >
                            </div>
                        </div>
                    </div>
                    <div class="col-6 ">
                        <div class="col-12">
                            <div class="our-service-sec ">
                                <h2 class="m-3">Our Methodology</h2>
                                <div class="bar position-relative m-3 ">
                                </div>
                                <p class="m-3">
                                    Srinivasan Software Solutions is committed to deliver fast, flexible and powerful solutions by following best implementation strategies and practices with best user experience.
                                </p>
                            </div>
                           
                        </div>
                        <div class="row m-3 mt-4">
                            <div class="col-6 ">
                                    <div class="our-service-sec-block py-1 ">
                                        <p class="text-center mt-3">Discussion</p>
                                    </div>
                            </div>
                            <div class="col-6 ">
                                    <div class="our-service-sec-block py-1 ">
                                        <p class="text-center mt-3">Skech</p>
                                    </div>
                            </div>
                        </div>
                        <div class="row m-3 mt-4">
                                <div class="col-6 ">
                                        <div class="our-service-sec-block py-1 ">
                                            <p class="text-center mt-3">Approval</p>
                                        </div>
                                </div>
                                <div class="col-6 ">
                                        <div class="our-service-sec-block py-1 ">
                                            <p class="text-center mt-3">Web Design</p>
                                        </div>
                                </div>
                        </div>
                        <div class="row m-3 mt-4">
                                <div class="col-6 ">
                                        <div class="our-service-sec-block py-1 ">
                                            <p class="text-center mt-3">Graphic Design</p>
                                        </div>
                                </div>
                                <div class="col-6 ">
                                        <div class="our-service-sec-block py-1 ">
                                            <p class="text-center mt-3">Optimization</p>
                                        </div>
                                </div>
                        </div>
                        <div class="row m-3 mt-4">
                                <div class="col-6 ">
                                        <div class="our-service-sec-block py-1 ">
                                            <p class="text-center mt-3">Testing</p>
                                        </div>
                                </div>
                                <div class="col-6 ">
                                        <div class="our-service-sec-block py-1 ">
                                            <p class="text-center mt-3">Hosting</p>
                                        </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- section for about company -->
<section class="mt-5">
        <div class="container about-us-block-div-banner">
                <div class="row">
                        <div class="shape1">
                            <img src="assets/images/shap-1.png">
                        </div>
                        <div class="shape2">
                            <img src="assets/images/shap-2.png">
                        </div>
                </div>

            <div class="row ">
                <div class="col-10 our-service-sec py-3 offset-1">
                        <h2 class=" h2 display-5 text-center">Why Choose Us</h2>
                        <div class="bar position-relative text-center offset-5">
                        </div>
                        <p class="text-center pt-4">
                            Clients’ satisfaction and employees’ happiness is what we consider first.We focus more on the quality of service we provide instead of the clients we take onboard. Right from all sort of online marketing services to IT services, we make sure that we become a single platform for all your requirements.
                        </p>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                        
                    <div class="row">
                        <div class="col-lg-3 col-sm-4  about-us-block-div">
                            <div class=" about-us-block  animate-left "> 
                                    <div class=" p-3">
                                            <span class="about-icon-container grad-style-cd-light  about-icon-1 offset-3 mb-3">
                                                    <i class="fa fa-line-chart fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                            </span>
                                    </div>
                                    <div>
                                        <h4 class="text-center  mb-3">Assured High Quality</h4>
                                    </div>
                                    <div>
                                        <p class="text-center">We  deliver high quality solutions</p>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 ">
                                <div class="well well-sm about-us-block animate-left "> 
                                        <div class=" p-3">
                                                <span class="about-icon-container grad-style-cd-light about-icon-2 offset-3 mb-3">
                                                        <i class="fa fa-globe fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                                </span>
                                        </div>
                                        <div>
                                            <h4 class="text-center  mb-3"> Huge Global Arena</h4>
                                        </div>
                                        <div>
                                            <p class="text-center"> World-class methodologies  tools</p>
                                        </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4">
                                    <div class="well well-sm about-us-block animate-left "> 
                                            <div class=" p-3">
                                                    <span class="about-icon-container grad-style-cd-light about-icon-3 offset-3 mb-3">
                                                            <i class="fa fa-thumbs-o-up fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                                    </span>
                                            </div>
                                            <div class="about-continer-text">
                                                <h4 class="text-center  mb-3"> Guaranteed Satisfaction</h4>
                                            </div>
                                            <div>
                                                <p class="text-center">We measure client satisfaction </p>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                        <div class="well well-sm about-us-block animate-left "> 
                                                <div class=" p-3">
                                                        <span class="about-icon-container grad-style-cd-light about-icon-4 offset-3 mb-3">
                                                                <i class="fa fa-star-half-o fa-4x align-content-between icon-style" aria-hidden="true"></i>
                                                        </span>
                                                </div>
                                                <div>
                                                    <h4 class="text-center  mb-3">Accountability</h4>
                                                </div>
                                                <div>
                                                    <p class="text-center">We take responsibility </p>
                                                </div>
                                        </div>
                                    </div>
                                   
                    </div>
                </div>
            </div>
            <div class="img-shape1 rotateme">
                    <img src="assets/images/shapes/geometric.png" height="20px">
            </div>
            <div class="img-shape2 ">
                    <img src="">
            </div>
        </div>
</section>
<!-- section for soft technologies -->
<section class="secTech  mt-5">
        <div class="container-fluid our-service-main-div">
            <div class="row mt-5">
                <div class="col-6">
                    <div class="p-3 pt-5  mt-4 top-technology">
                        <h4 class=" h4 display-5 ">Top Technologies We Work</h4>
                            <div class="bar position-relative">
                            </div>

                        <p class="m-3">Srinivasan Software Solutions is committed to deliver fast, flexible and powerful solutions by following best implementation strategies and practices with best user experience.We build the foundation for effective business solutions by working with complex technologies in rapidly evolving business environments, offering project performance optimization.
                        </p>    
                        <div class="top-tech-button mt-5">
                                <a href="#" class="theme-btn btn-style-two">Read More<span class="icon flaticon-next-3"></span></a>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="col-6">
                    <div class="row mt-5">
                        <div class="col-12 boxTech {{techScrollView}}">
                            <div class="tech-1 techview">
                                <img src="assets/images/tech/150_150.png" class="w-100 d-inline-block" alt="tech1"/>
                            </div>
                            <div class="tech-2 techview">
                                <img src="assets/images/tech/100_100_DM.png" class="w-100 d-inline-block" alt="tech1"/>
                            </div>
                            <div class="tech-3 techview">
                                <img src="assets/images/tech/100_100.png" class="w-100 d-inline-block" alt="tech1"/>
                            </div>
                            <div class="tech-4 techview">
                                <img src="assets/images/tech/100_100_looker.png" class="w-100 d-inline-block" alt="tech1"/>
                            </div>
                            <div class="tech-5 techview">
                                <img src="assets/images/tech/100_100_bigdata.png" class="w-100 d-inline-block" alt="tech1"/>
                            </div>
                            <div class="tech-6 techview">
                                <img src="assets/images/tech/100_100 daat science.png" class="w-100 d-inline-block" alt="tech1"/>
                            </div>
                            <div class="tech-7 techview">
                                <img src="assets/images/tech/100_100_webdevelopment.png" class="w-100 d-inline-block" alt="tech1"/>
                            </div>
                            <div class="tech-8 techview">
                                <img src="assets/images/tech/94_94.png" class="w-100 d-inline-block" alt="tech1"/>
                            </div>
                            <div class="tech-9 techview">
                                <img src="assets/images/tech/100_100_ai.png" class="w-100 d-inline-block" alt="tech1"/>
                            </div>
                            <div class="tech-10 techview">
                                <img src="assets/images/tech/100_100_angular.png" class="w-100 d-inline-block" alt="tech1"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- <section class="d-block mt-5">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12 ">
                    <h1 class="text-dark offset-2 display-4 strategy-text">Strategy</h1>
                    <div class="row  justify-content-center">
                            <div class=" col-7  background-cover strategy_background   ">
                                    <div class=" ">
                                        <div class="rounded strategy-video px-0">
                                            <video class="col-12 p-0 py-0 " preload="none" playsinline autoplay muted loop >
                                                    <source src="assets/videos/strategy.mp4" type="video/mp4">
                                                    <source src="assets/videos/strategy.webm" type="video/webm">
                                                    <source src="assets/videos/strategy.ogv" type="video/ogg">
                                            </video>
                                        </div>
                                    </div>
                            </div>
                    </div>
                    
            </div>
        </div>
    </div>
</section><br><br> -->
 <section class="services position-relative " > 
    <div class="container-fluid">
        <div class="row">
            <div class="shape1">
                <img src="assets/images/shap-1.png">
            </div>
            <div class="shape2">
                <img src="assets/images/shap-2.png">
            </div>
        </div>
        <div class="row">
                <div class="col-12 our-service-sec py-5">
                        <h2 class=" h2 display-5 text-center ">Services</h2>
                        <div class="bar position-relative text-center our-services-block-heading offset-5">
                        </div>
                        <h3 class="h4 text-center p-4 ">Empowering Businesses With
                            Digital Intelligence & Expertise</h3>
                </div>
        </div>
        <div class="row justify-content-center ">
                <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ">
                        <div class="mb-4 p-3">
                                <span class="icon-container  grad-style-cd-light img-box offset-3 mb-3">
                                        <!-- <i class="fa fa-cloud fa-3x align-content-between icon-style" aria-hidden="true"></i> -->
                                        <img src="assets/images/jira-icon-png.png"  class="fa jira img-color fa-cloud fa-3x align-content-between icon-style services-icon-images" > 
                                        <img src="assets/images/jira-white.png"  class="fa img-nocolor fa-cloud fa-3x align-content-between icon-style services-icon-images" > 
                                </span>
                        </div>
                        <div>
                            <h4 class="text-center  mb-3">Business Intelligence</h4>
                        </div>
                        <div>
                            <p class="text-center">SSS-Trusted World class Business Intelligence Solutions  Provider is ideal for companies and departments in all industries that are business intelligence solution  </p>
                        </div>
                        <img src="assets/images/shapes/geometric.png" class="hover-shape-1 hover-shape">
                        <img src="assets/images/shapes/poly.png" class="hover-shape-2 hover-shape">
                        <img src="assets/images/shapes/orange_circle.png" class="hover-shape-3 hover-shape">
                        <img src="assets/images/shapes/poly_clr.png" class="hover-shape-4 hover-shape">
                        <img src="assets/images/shapes/square.png" class="hover-shape-5 hover-shape">
                </div>
                <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ml-4">
                    <div class="mb-4 p-3">
                            <span class="icon-container  grad-style-cd-light offset-3 mb-3">
                                    <img src="assets/images/services_icons/talendo_icon.png"  class="fa talend-img-color fa-cloud fa-3x align-content-between icon-style services-icon-images" > 
                                    <img src="assets/images/services_icons/talendo_icon_white.png"  class="fa img-nocolor fa-cloud fa-3x align-content-between icon-style services-icon-images" > 
                                    <!-- <i class="fa fa-mobile fa-4x align-content-between icon-style" aria-hidden="true"></i> -->
                            </span>
                    </div>
                    <div>
                        <h4 class="text-center  mb-3">Talend</h4>
                    </div>
                    <div>
                        <p class="text-center">SSS Business Analytics services  that gives you smart new ways to see the indications in your data. Do your own visual analysis to find new patterns at a glance</p>
                    </div>
                    <img src="assets/images/shapes/geometric.png" class="hover-shape-1 hover-shape">
                        <img src="assets/images/shapes/poly.png" class="hover-shape-2 hover-shape">
                        <img src="assets/images/shapes/orange_circle.png" class="hover-shape-3 hover-shape">
                        <img src="assets/images/shapes/poly_clr.png" class="hover-shape-4 hover-shape">
                        <img src="assets/images/shapes/square.png" class="hover-shape-5 hover-shape">
                </div>
                <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ml-4">
                    <div class="mb-4 p-3">
                            <span class="icon-container grad-style-cd-light offset-3 mb-3">
                                    <img src="assets/images/services_icons/looker_icon.png"  class="fa looker-img-color fa-cloud fa-3x align-content-between icon-style services-icon-images" > 
                                    <img src="assets/images/services_icons/looker_icon_white.png"  class="fa looker-img-nocolor fa-cloud fa-3x align-content-between icon-style services-icon-images" > 
                                    <!-- <i class="fa fa-mobile fa-4x align-content-between icon-style" aria-hidden="true"></i> -->
                            </span>
                    </div>
                    <div>
                        <h4 class="text-center  mb-3">Looker Bi</h4>
                    </div>
                    <div>
                        <p class="text-center">SSS, A Leader in Big Data Innovation provide most rapid, high performing and accurate need based Big Data Analytics solutions to clients </p>
                    </div>
                        <img src="assets/images/shapes/geometric.png" class="hover-shape-1 hover-shape">
                        <img src="assets/images/shapes/poly.png" class="hover-shape-2 hover-shape">
                        <img src="assets/images/shapes/orange_circle.png" class="hover-shape-3 hover-shape">
                        <img src="assets/images/shapes/poly_clr.png" class="hover-shape-4 hover-shape">
                        <img src="assets/images/shapes/square.png" class="hover-shape-5 hover-shape">
                </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ">
                    <div class="mb-4 p-3">
                            <span class="icon-container grad-style-cd-light offset-3 mb-3">
                                    <!-- <i class="fa fa-mobile fa-4x align-content-between icon-style" aria-hidden="true"></i> -->
                                    <img src="assets/images/services_icons/dm_icon.png"  class="fa looker-img-color fa-cloud fa-3x align-content-between icon-style services-icon-images" > 
                                    <img src="assets/images/services_icons/dm_icon_white.png"  class="fa looker-img-nocolor fa-cloud fa-3x align-content-between icon-style services-icon-images" > 
                            </span>
                    </div>
                    <div>
                        <h4 class="text-center  mb-3">Digital Marketing</h4>
                    </div>
                    <div>
                        <p class="text-center">SSS Offers complete IoT solutions for all major processes, Services, Things, People and industries. Become a next big wave in emerging  innovation With SSS</p>
                    </div>
                        <img src="assets/images/shapes/geometric.png" class="hover-shape-1 hover-shape">
                        <img src="assets/images/shapes/poly.png" class="hover-shape-2 hover-shape">
                        <img src="assets/images/shapes/orange_circle.png" class="hover-shape-3 hover-shape">
                        <img src="assets/images/shapes/poly_clr.png" class="hover-shape-4 hover-shape">
                        <img src="assets/images/shapes/square.png" class="hover-shape-5 hover-shape">
            </div>
            <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ml-4">
                <div class="mb-4 p-3">
                        <span class="icon-container grad-style-cd-light offset-3 mb-3">
                                <!-- <i class="fa fa-mobile fa-4x align-content-between icon-style" aria-hidden="true"></i> -->
                                <img src="assets/images/services_icons/Bi_icon_vector.png"  class="fa looker-img-color fa-cloud fa-3x align-content-between icon-style services-icon-images" > 
                                <img src="assets/images/services_icons/bi_icon_white.png"  class="fa looker-img-nocolor fa-cloud fa-3x align-content-between icon-style services-icon-images" >
                        </span>
                </div>
                <div>
                    <h4 class="text-center  mb-3">Business Intelligence</h4>
                </div>
                <div>
                    <p class="text-center">Srinivasan Software Solutions, A Technology Leader in Web Interface Development, is one stop destination for all your Technological needs</p>
                </div>
                        <img src="assets/images/shapes/geometric.png" class="hover-shape-1 hover-shape">
                        <img src="assets/images/shapes/poly.png" class="hover-shape-2 hover-shape">
                        <img src="assets/images/shapes/orange_circle.png" class="hover-shape-3 hover-shape">
                        <img src="assets/images/shapes/poly_clr.png" class="hover-shape-4 hover-shape">
                        <img src="assets/images/shapes/square.png" class="hover-shape-5 hover-shape">
            </div>
            <div class="col-lg-3 content-block col-md-4 m-b-30 service-box-1 p-4 ml-4">
                <div class="mb-4 p-3">
                        <span class="icon-container grad-style-cd-light offset-3 mb-3">
                                <!-- <i class="fa fa-mobile fa-4x align-content-between icon-style" aria-hidden="true"></i> -->
                                <img src="assets/images/services_icons/angular_icon.png"  class="fa looker-img-color fa-cloud fa-3x align-content-between icon-style services-icon-images" > 
                                <img src="assets/images/services_icons/angular_icon_white.png"  class="fa looker-img-nocolor fa-cloud fa-3x align-content-between icon-style services-icon-images" >
                        </span>
                </div>
                <div>
                    <h4 class="text-center  mb-3">Web Interface</h4>
                </div>
                <div>
                    <p class="text-center">SSS Digital Marketing Agency was built on the foundation of driving measurable results that allowed us to provide the quality services in all facets of Digital Marketing</p>
                </div>
                        <img src="assets/images/shapes/geometric.png" class="hover-shape-1 hover-shape">
                        <img src="assets/images/shapes/poly.png" class="hover-shape-2 hover-shape">
                        <img src="assets/images/shapes/orange_circle.png" class="hover-shape-3 hover-shape">
                        <img src="assets/images/shapes/poly_clr.png" class="hover-shape-4 hover-shape">
                        <img src="assets/images/shapes/square.png" class="hover-shape-5 hover-shape">
            </div>
    </div>
    </div>
</section> 

<!-- <section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <div class="col-12">

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12">
                            <div class="check-box-circles">
                                <div class="check-box-circles-inner">
                                    <div class="check-box-tick">
                                        <span class="check-box-tick-image">
                                            information text
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Trusted Clients -->
<section class="d-block mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 trusted-clients-heading">
                    <h4 class="text-danger h4 text-center  m-3  font-weight-bold">Trusted Clients</h4>
                    <!-- <div class="bar position-relative text-center our-services-block-heading ">
                    </div> -->
                </div>
            </div>
            <div class="row text-center text-lg-left mt-5">

                    <div class="col-lg-3 col-md-4 col-6 ">
                      <div   class="d-block  row justify-content-center  trusted-clients ">
                            <img class="img-fluid img-thumbnail" src="https://www.sssbi.com/wp-content/uploads/2017/12/18.png" alt="">
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6    ">
                        <div class=" row justify-content-center align-items-center trusted-clients">
                            <img class="img-fluid img-thumbnail" src="https://www.sssbi.com/wp-content/uploads/2017/12/1-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6  ">
                      <div class=" row justify-content-center align-items-center trusted-clients">
                          <div class="col-12">
                                <img class="img-fluid img-thumbnail" src="https://www.sssbi.com/wp-content/uploads/2017/12/17-1024x227.png" alt="">
                          </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6  ">
                            <div class=" row justify-content-center align-items-center trusted-clients">
                                    <div class="col-12">
                                          <img class="img-fluid img-thumbnail" src="https://www.sssbi.com/wp-content/uploads/2017/12/4.jpg" alt="">
                                    </div>
                                      
                             </div>
                             
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 ">
                            <div class=" row justify-content-center align-items-center trusted-clients">
                                <div class="col-12">
                                      <img class="img-fluid img-thumbnail" src="https://www.sssbi.com/wp-content/uploads/2017/12/6.png" alt="">
                                </div>
                                  
                              </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 ">
                            <div class=" row justify-content-center align-items-center trusted-clients">
                                <div class="col-12">
                                      <img class="img-fluid img-thumbnail" src="https://www.sssbi.com/wp-content/uploads/2017/12/15.png" alt="">
                                </div>
                                  
                              </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6  ">
                            <div class=" row justify-content-center align-items-center trusted-clients">
                                <div class="col-12">
                                      <img class="img-fluid img-thumbnail" src="https://www.sssbi.com/wp-content/uploads/2017/12/5.jpg" alt="">
                                </div>
                                  
                              </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6  ">
                      <div class=" row justify-content-center align-items-center trusted-clients">
                          <div class="col-12">
                                <img class="img-fluid img-thumbnail" src="https://www.sssbi.com/wp-content/uploads/2017/12/16.png" alt="">
                          </div>
                            
                        </div>
                    </div>
                  </div>
                
        </div>
</section>
<!-- client section division -->
<section class="d-block mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 position-relative client-bng-image p-0">
                <div class="">
                    <img class="d-block"  src="assets/images/client-bng.png"  width="100%" alt="Not Found">
                </div>
            </div>
            <div class="col-6 offset-3 position-absolute p-2 ">
                <div class="row">
                        <div class="col-12">
                            <div id="carouselExampleIndicators" class="carousel slide client-sliders" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active client-says-div p-4 rounded bg-white">
                                        <div class="row">
                                            <div class="col-2 ">
                                                    <img class="d-block rounded client-images"  src="assets/images/1.JPG" alt="Not Found">
                                            </div>
                                            <div class="col-6 client-say-name">
                                                <h5 class="h5 text-dark">Andy'o Carner</h5>
                                                <span class="">CEO & Co-founder</span>
                                            </div>
                                        </div>
                                        <div class="row  p-2 mt-2">
                                            <div class="col-12 client-say-para">
                                                    <p>Srinivasan Software Solutions, a Global Advanced Technological Business solutions.Established in 2009 in the Temple town Tirupati with an intention to provide world-class  </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item client-says-div p-4 rounded bg-white">
                                            <div class="row">
                                                    <div class="col-2 ">
                                                            <img class="d-block rounded client-images"  src="assets/images/1.JPG" alt="Not Found">
                                                    </div>
                                                    <div class="col-6 client-say-name">
                                                        <h5 class="h5 text-dark">Andy'o Carner</h5>
                                                        <span class="">CEO & Co-founder</span>
                                                    </div>
                                            </div>
                                            <div class="row  p-2 mt-2">
                                                    <div class="col-12 client-say-para">
                                                            <p>Srinivasan Software Solutions, a Global Advanced Technological Business solutions.Established in 2009 in the Temple town Tirupati with an intention to provide world-class  </p>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="carousel-item client-says-div p-4 rounded bg-white">
                                        <div class="row">
                                            <div class="col-2 ">
                                                    <img class="d-block rounded client-images"  src="assets/images/1.JPG" alt="Not Found">
                                            </div>
                                            <div class="col-6 client-say-name">
                                                <h5 class="h5 text-dark">Andy'o Carner</h5>
                                                <span class="">CEO & Co-founder</span>
                                            </div>
                                        </div>
                                        <div class="row  p-2 mt-2">
                                            <div class="col-12 client-say-para">
                                                <p>Srinivasan Software Solutions, a Global Advanced Technological Business solutions.Established in 2009 in the Temple town Tirupati with an intention to provide world-class  </p>
                                            </div>
                                        </div>   
                                    </div>
                                </div>
                                    <div class=" carousal-indicators offset-5 rounded position-absolute">
                                        <div class="carousal-indicators-anchor">
                                                <a class="carousel-control-prev posi ml-3 " href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                </a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- client section division end-->
<section class="services-section mb-5">
        <div class="container">
            <!-- Sec Title -->
            <div class="sec-title centered our-service-sec py-5">
                <h2 class="text-center  ">Keep In Touch</h2>
                <div class="bar position-relative offset-5">
                </div>
            </div>
            
            <div class="row clearfix">
                
                <!-- Services Block -->
                <div class="information-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <i class="fa fa-building fa-2x icon-box-1"></i>
                        </div>
                        <h3 class="mt-2"> 
                            Direct Contact</h3>
                        <div class="text">0877-2233733<br>
                            +91 720 721 3437
                            info@sssbi.com
                            frontoffice@sssbi.com</div>
                    </div>
                </div>
                
                <!-- Services Block -->
                <div class="information-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box" >
                        <div class="icon-box">
                            <i class=" fa fa-globe fa-2x icon-box-2 " aria-hidden="true"></i>
                        </div>
                        <h3 class="mt-2">Sales-Marketing
                        </h3>
                        <div class="text"><br>+91 720 720 8385
                                            sales@sssbi.com
                                            marketing@sssbi.com
    
    
                        </div>
                    </div>
                </div>
                
                <!-- Services Block -->
                <div class="information-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box " >
                        <div class="icon-box">
                            <i class="fa fa-thumbs-o-up fa-2x icon-box-3 " aria-hidden="true"></i>
                        </div>
                        <h3 class="mt-2">Contact HR
                        </h3>
                        <div class="text">
                            <br>+91 720 721 3561
    
                                hr@sssbi.com</div><br>
                    </div>
                </div>
                
                <!-- Services Block -->
                <div class="information-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box" >
                        <div class="icon-box">
                            <i class="fa fa-star-half-o fa-2x icon-box-4" aria-hidden="true"></i>
                        </div>
                        <h3 class="mt-2">Contact Staffing
                        </h3>
                        <div class="text"><br>+91 720 721 3562
    
                                staffing@sssbi.com</div>
                                <br>
                    </div>
                </div>
                
            </div>
            
        </div>
</section>
<!-- <section  class="wow fadeIn design-process-pc position-relative" >
    <h4 style="color:#000;" class=" text-center section_heading">OUR <span style=" padding-top: 20px;">PR<span style="color:#00bcd4;">O</span>CESS</span></h4>
       <div class="container-fluid">
           
           <div class="row equalize sm-equalize-auto">
             
               <div class="col-md-2 col-sm-12 col-xs-12 section_process1 animatable1" style="height: 211px;">
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">01.</h3>					
                   <h6><b>D</b>iscussion</h6>
                   <p>Interacting with a Client and getting all the possible requirements needed for the website</p>
               </div>
                <div class="col-md-2 col-sm-12 col-xs-12 section_process2 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">03.</h3>
                   <h6><b>A</b>pproval</h6>
                   <p>The approved mockup layout with the additional specifications, we design the final layout</p>
               </div>
                <div class="col-md-2 col-sm-12 col-xs-12 section_process3 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">05.</h3>
                   <h6><b>G</b>raphic Design</h6>
                   <p>The Team focuses on info-graphics mainly required for the website which gives life to the website</p>
               </div>
                <div class="col-md-2 col-sm-12 col-xs-12 section_process4 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">07.</h3>
                   <h6><b>T</b>esting</h6>
                   <p>The website will be thoroughly tested for responsiveness, functionality and browser compatibility </p>
               </div>
            
           </div>
            <div class="row equalize sm-equalize-auto" style="margin-top:20%;">
              
               <div class="col-md-2 col-sm-12 col-xs-12 section_process5 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">02.</h3>
                   <h6><b>S</b>ketch</h6>
                   <p>We design the mockup layout that matches the specified requirement</p>
               </div>
                <div class="col-md-2 col-sm-12 col-xs-12 section_process6 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">04.</h3>
                   <h6><b>W</b>eb Design</h6>
                   <p>All the other webpages will be designed in-line with the structure that was approved by the client</p>
               </div>
                <div class="col-md-2 col-sm-12 col-xs-12 section_process7 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">06.</h3>
                   <h6><b>O</b>ptimization</h6>
                   <p>The website will be optimized by compressing the images, minifying CSS and js to make the site load faster</p>
               </div>
                <div class="col-md-2 col-sm-12 col-xs-12 section_process8 animatable1" style="height: 211px;">                            
                   <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600" style="font-size:30px;">08.</h3>
                   <h6><b>H</b>osting</h6>
                   <p>Hosting the website on secure cloud and installing an SSL certificate that gives the secure lock to the website</p>
               </div>
             
           </div>
       </div>

</section> 
<!-- rewards and recognization -->
<!-- <section class="d-block mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-primary h4 text-center  m-3  font-weight-bold">Rewards & Recognizations</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                    <div class="">
                            <div class="row w-100">
                                    <div class="col-md-3">
                                        <div class="card border-info mx-sm-1 p-3">
                                            <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-car" aria-hidden="true"></span></div>
                                            <div class="text-info text-center mt-3"><h4>Cars</h4></div>
                                            <div class="text-info text-center mt-2"><h1>234</h1></div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card border-success mx-sm-1 p-3">
                                            <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-eye" aria-hidden="true"></span></div>
                                            <div class="text-success text-center mt-3"><h4>Eyes</h4></div>
                                            <div class="text-success text-center mt-2"><h1>9332</h1></div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card border-danger mx-sm-1 p-3">
                                            <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                                            <div class="text-danger text-center mt-3"><h4>Hearts</h4></div>
                                            <div class="text-danger text-center mt-2"><h1>346</h1></div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card border-warning mx-sm-1 p-3">
                                            <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fa fa-inbox" aria-hidden="true"></span></div>
                                            <div class="text-warning text-center mt-3"><h4>Inbox</h4></div>
                                            <div class="text-warning text-center mt-2"><h1>346</h1></div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
            </div>
        </div>
    </div>
</section> -->




    
