<section>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-12  background-video position-relative">
                <div class="row ">
                    <video class="col-12  p-0 " preload="none" playsinline autoplay muted loop >
                        <source src="assets/videos/intechnic.mp4" type="video/mp4">
                        <source src="assets/videos/intechnic.webm" type="video/webm">
                        <source src="assets/videos/intechnic.ogv" type="video/ogg">
                    </video>
                </div>
            </div>
            <div class="banner-sec position-absolute">
                <div class="row align-content-between h-100 m-0">
                    <div class="col-12">header</div>
                    <div class="col-6 offset-2 banner-sec-text">
                            <h1 class="block  text-white display-4 ">Ultimate<br> Digital<br> Experiences</h1>
                            <p class="block-none text-white mt-5">to acquire, retain, and<br> delight your clients</p>
                    </div>
                    <nav class="banner-sec-nav btn-group btn-group--collapsed is-hidden--sm-down offset-2">
                        <a class="btn border border-light text-white" href="#">Strategy</a>
                        <a class="btn  border border-light text-white" href="#">User Experience</a>
                        <a class="btn  border border-light text-white" href="#">Web Design</a>
                        <a class="btn  border border-light text-white" href="#">Digital Marketing</a>
                    </nav>
                    <div class="col-12"></div>
                </div>
            </div>
        </div>
    </div>
</section>
