.banner-image {
    width: 100%;
    height: 550px;
    overflow: hidden;
  }
  .banner-image img{
    width: 100%;
      height: auto;
  }
  .bi-solutions{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .bi-solutions-text h3{
    /* font-size: 45px !important; */
    font-weight: 400;
    color: #eb1111f5;
  }
  .bi-solutions-text p{
    font-size: 18px;
    line-height: 30px;
    color: #7a7c7f;
    font-family: "proxima",sans-serif;
  }

  .job_list{
    border-radius: 5px;
    box-shadow: 1px 3px 4px #9a9ab5;
    overflow: hidden;
    height: 84px;
  }
  .job_list_apply{
    border-radius: 5px;
    box-shadow: 1px 3px 4px #9a9ab5;
    overflow: hidden;
    height: auto;
  }
  .job_list_div{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .job-details-gap{
    margin-left: 43px;
  }
  .resume-padding{
    padding-bottom: 39px;
  }
  .details_list h6{
    font-weight: bolder;
    font-size: 13px!important;
  }